[2015-03-25 09:35] Nizhile opened #621 "Non UTF-8 byte sequence in XML testng reports"
Hello,

performing testng suite with UTF-8 test name on Windows platform converts name
to Windows character encoding in testng-results.xml.

Expected:
UTF-8 encoding is kept in testng-results.xml. XMLReporter.java should probably uses Utils.writeUtf8File() to create the file.

The problem is similar to this old one in Junit reports: https://groups.google.com/forum/#!searchin/testng-dev/utf-8$20xml

[2015-03-25 13:23] qualityking commented on #619
I am able to install it now... wondering, I did not make any changes, anyways closing this issue,

Thanks,
Manish Bansal

[2015-03-25 13:23] #619 closed

[2015-03-25 13:31] qualityking opened #622 "Running test in parallel"
Hi Folks,
I am using TestNG with eclipse plugin along with selenium

the only reason I moved to TestNG is to use parallel running of my test cases, which anyways supported by Junit4+ but, reports were not getting generated out of it.

Using TestNG that issues (reports related) looks like resolved but really speaking tests are not running in parallel,

Issue is :
it is launching 1 browser and waits

[2015-03-26 10:13] bredy commented on #550
+1 @mbocek

[2015-03-31 03:46] jinahya opened #623 "Failing by throwing an FailException extending SkipException"
I just found that an extended exception whose `isSkip` returns `false` will be helpful.

[code]
I, as documented, already know that extending `SkipException` is so free.
Can it be acceptable that adding a  class like this?
[code]

[2015-03-31 12:13] jerckov opened #626 "ENTITY parent doesn't work when running tests by "TestNG Test""
Hello,

I have xml with some parameters (childXML/base.xml):

[code]

and I want to use these parameters in some suite xml (testng.xml):

[code]

I use Eclipse Luna with TestNG plugin. I added testng.xml to the Windows -> Preferences -> TestNG -> Template XML File. When I run tests by TestNG Suite (right click on the testng.xml - > Run as -> TestNG Suite) everything works well. Problem appears whe

[2015-03-31 17:37] prvn133t opened #627 "Testng runs custom listener if there is at least one test case that uses this custom listener (only happens in package execution using Bean Shell)"
Let's say I have a package `com.fwork.cases` and a few tests in this package as shown below
1. `FirstTest.java`
2. `SecondTest.java`

Let's say the class `SecondTest.java` uses a custom listener as below
[code]

`FirstTest.java` does not call the `Report.class` listener.

Now If I run the `FirstTest.java` test case individually using eclipse (not using `testng.xml`)  it runs fine without calling t

[2015-04-02 17:30] jmewes opened #629 "InvokedMethod doesn't recognize configuration method"
The invocation of _IInvokedMethod#isConfigurationMethod( )_ doesn't return _true_ for configuration methods. I wanted to use it in the context a listener of the type _IInvokedMethodListener_.

Here is the minimal code to reproduce the problem:
[code]

[code]

The console output is:

[code]

Environment:
- Window 7
- Java: JRE 1.8.0_31, JDK 1.7.0_71
- TestNG: 6.8.21
- Eclipse: Luna (4.4.1),   TestN

[2015-04-03 12:58] tremes opened #630 "Each interceptor called two times"
First call is at https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/TestRunner.java#L734
and second call at https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/TestRunner.java#L847
I think this is unneccessary but the @Verifier logic in test.verify.VerifyTest actually depends on the second call (since intercept returns 4 methods in this case but freeNodes at ht

[2015-04-09 06:14] peturingi opened #632 "Missing ; in documentation."
@DataProvider(name = "create")
  public static Object[][] createData() {
    return new Object[][] {
      new Object[] { new Integer(42) }
    }
  }

in http://testng.org/doc/documentation-main.html has a missing ; in 2nd line from bottom.

[2015-04-09 07:52] Aleks-Ya commented on #446
Why this issue was closed? The problem is alive.

[2015-04-09 09:41] #621 closed

[2015-04-09 09:42] Nizhile commented on #621
obsolete (maven get an older testng release)

[2015-04-09 13:40] rkonkul commented on #446
From the documentation: (http://testng.org/doc/documentation-main.html)
<pre>
The @Listeners annotation can contain any class that extends org.testng.ITestNGListener except IAnnotationTransformer and IAnnotationTransformer2. The reason is that these listeners need to be known very early in the process so that TestNG can use them to rewrite your annotations, therefore you need to specify these list

[2015-04-15 11:48] juherr opened #635 "Move documentation outside the sources"
What do you think to move the documentation outside the sources?

I see 2 options that will keep the community spirit:
- Convert html pages into Mardown and move them into the wiki, and/or
- Use the GitHub Pages feature.

[2015-04-15 12:15] FibreFoX commented on #635
+1 for markdown, even without having the project on github its worth doing this (makes it easier to extend/rework)

[2015-04-15 15:56] sergejjkim commented on #89
Any chance this could be fixed?

[2015-04-15 17:30] cbeust commented on #635
Not a big fan of this for a couple of reasons:

- The current documentation has some special styling and Javascript code (for the highlighting, the style and the banner)
- I'd rather not tie the documentation to an external web site (github). Imagine if I had done that when TestNG was on Google Code...

[2015-04-15 19:21] khospodarysko commented on #89
This works as expected:

Here are my (little bit modified) classes:

[code]

The output when @Test in C is commented:

[code]

So it is seen that:
* two tests were executed for class B in its own thread
* two tests were executed for class C in its own thread
* one test was executed for class A

All is as expected.

The output when @Test in C is uncommented:
[code]

So it is seen that:
* three test

[2015-04-15 21:51] bherrington0421 commented on #326
Sorry to resurrect an old issue. But is there any conclusion on this? Is this the expected behavior of group-by-instances="true"?

[2015-04-16 08:53] juherr commented on #635
Github Pages doesn't have the drawbacks you described: you just need a specific branch (`gh-pages`) and a CNAME file.
I did the work to show you on [my fork](https://github.com/juherr/testng/tree/gh-pages) with [my custom domain](http://testng.juherr.herr.fr/).
Nothing changed. So it can be a first step.

I converted a chapter of the doc into a Mardown wiki page too: https://github.com/juherr/test

[2015-04-16 10:29] sergejjkim commented on #89
@khospodarysko thanks for an example.
However it doesn't contain an abstract class.
I have two classes and a suite:
[code]

what i get is two test running in separate threads:
START[12]: test1
START[13]: test1
END[13]: test1
END[12]: test1
what i expect to get is two tests running in the same thread cause they belong to a same class.

[2015-04-16 11:04] khospodarysko commented on #89
Hey, @sergejjkim

Your are right, I forgot about abstract.

So the one thing I did is I made classes A and B as abstract and get such output:
[code]

Is that what you are expecting?

[2015-04-16 11:28] sergejjkim commented on #89
@khospodarysko
ok so I've made A and B abstract in your example with @Test in C commented and got
START[13]: in B
START[12]: in A
END[12]: in A
END[13]: in B
which is basically not what I'd expect to see. Also it's more about having 2 classes with 2+ methods in the abstract one.

[2015-04-16 12:11] khospodarysko commented on #89
@sergejjkim Got it!

Similar Eclipse-related issues that I've found are:
* https://github.com/cbeust/testng-eclipse/issues/47
* https://github.com/cbeust/testng-eclipse/issues/70

I'd say this case is rather edge-case. If one of subclasses has one @Test method all is OK.

[2015-04-20 18:16] nshustov opened #637 "Probable race while running TestNG with multiple xml suites (maven, Surefire)"
Hi,
I would like apologize in advance for not attaching the reproducible test case - I do have one but:
1. The complete project code is in commercial domain so I am unable to share it.
2. I could not make a smaller test case that would reproduce the issue.

I am open to suggestion for collecting logs, stack traces etc. for somebody who would like to look into that problem.

Synopsis:

I run TestNG

[2015-04-22 07:52] tabei-k opened #639 "t.setPreserveOrder(m_preserveOrder ? "true " : "false"); in TestNG class"
Hi,

I want to fix this problem.

 - Now
line:815 in TestNG class.
m_preserveOrder ? "true " : "false"

"true " string has 1 blank charactor.

So please delete blank.

Thanks.

[2015-04-22 21:19] juherr commented on #627
And what appends if you use eclipse AND testng.xml?

If it works, it will be a Bean Shell issue, isn't it?

[2015-04-22 21:46] juherr commented on #626
I don't know how you expect it should work, but neither `<parmeters>` nor `<parameters>` are supported by TestNG.

[2015-04-22 21:53] juherr commented on #623
Why don't you just write:
[code]
Your test case won't be skipped but failed. Is it the expected behavior?

[2015-04-22 22:21] srufle commented on #626
http://xml.silmaril.ie/includes.html shows that it should be possible to do what you want, but as @juherr said you should remove the `<parmeters>` tag because that is not correct testng markup.

[2015-04-23 04:46] #639 closed

[2015-04-23 04:46] #632 closed

[2015-04-23 04:47] #629 closed

[2015-04-23 04:52] #615 closed

[2015-04-23 08:24] juherr commented on #601
#625 seems to fix what you ask

[2015-04-23 08:33] juherr commented on #591
Can be closed, duplicate of #592

[2015-04-23 09:15] juherr opened #645 "Close properly TestNG project on Google Code"
As you know, Google Code will close soon.
And I've seen someone reported a new issue few weeks ago (sic!).

I think it's a good time to close properly the Google Code project by [setting the project moved](https://code.google.com/p/support-tools/wiki/GitHubExporterFAQ#Setting_the_"Project_Moved"_Flag).

In order to save issues from Google Code, I imported to project on [juherr/testng-googlecode](h

[2015-04-23 09:55] jharting commented on #601
Yes exactly. Hopefully it gets merged soon!

[2015-04-23 16:37] #605 closed

[2015-04-23 20:57] juherr opened #646 "Add documentation of @Test(retryAnalyzer)"
I'm trying to fix #604 but I don't understand how the feature should work (and the current tests of the feature are not clear enough).

Could you explain the feature ?

[2015-04-24 07:41] juherr opened #647 "Use Sonarqube to follow the technical debt"

[2015-04-24 07:43] juherr commented on #647
I asked to the Sonarqube community to add of TestNG on Nemo instance: http://sonarqube.15.x6.nabble.com/sonar-dev-Adding-JUnit-and-TestNG-to-Nemo-td5034479.html

And it's now available: http://nemo.sonarqube.org/dashboard/index/org.testng:testng

[2015-04-24 07:43] #647 closed

[2015-04-24 09:18] juherr commented on #255
@stephen-smith It's another thing. Could you create an issue which ask to set JCommander optionnal? But I've no idea if it is something possible.

[2015-04-24 09:21] juherr commented on #589
@jmontanari Why did you close the issue? Did you find a solution?

[2015-04-24 09:30] juherr commented on #545
Issue closed by #611

[2015-04-24 09:34] juherr commented on #602
Issue closed by #603

[2015-04-24 11:27] juherr opened #650 "Drop ant from the project"
As the project clearly moved to Maven long time ago, I think ant reference and files could be removed from the project.

Of course, useful ant targets must be moved in maven.

[2015-04-24 11:42] jmontanari commented on #589
@juherr

I ended up coming up with a hack that works for me. Define the Suites with a Variable for the Run target. Then in ant create a method that Replaces the variables on demand with hard coded suites i want to run. It is far from ideal and ends up having to copy the Group Block to every individual suite to make it work.

Define groups as Variables in the suite.xml
[code]

Then in ant i build a

[2015-04-24 12:18] stephen-smith opened #651 "Do not require JCommander when run via Ant"
See #255.  I can't currently use TestNG because we are doing Ant builds, and fetching dependencies from a private maven repository that does not contain JCommander.

[2015-04-24 12:47] FibreFoX commented on #650
+1

[2015-04-24 21:35] #545 closed

[2015-04-25 00:14] rschmitt commented on #646
This sounds like a duplicate of https://github.com/cbeust/testng/issues/583. IRetryAnalyzer clearly was not thought through.

[2015-04-25 00:54] rschmitt commented on #604
I can't reproduce this. Are you sure this isn't due to a thread safety issue in the test you wrote? What happens if you make `i` a `final AtomicInteger`?

[2015-04-25 00:57] rschmitt commented on #604
Oh nevermind, it looks like this was fixed after the 6.8.21 release by https://github.com/cbeust/testng/commit/6c40ac103c04fac38274dafc077d55df12e9d8d7.

[2015-04-25 03:30] #602 closed

[2015-04-25 03:33] #651 closed

[2015-04-25 03:33] cbeust commented on #650
Agreed, ant needs to go.

[2015-04-25 04:52] stephen-smith commented on #651
Well, this is probably going to cause me to switch back to JUnit. JCommander is not available via our private dependency management system and it serves up the maven jar for testng (and no others).

It's unclear why to me why the ant task needs a command-line processor.

[2015-04-25 04:57] cbeust commented on #651
I'm not sure what the problem is...

[2015-04-25 05:02] juherr commented on #646
I prefer to see it like an add.

Unlike you, I don't know how the feature should work ;)
BTW, you look like the man of the situation!
Could you help me to write the doc and close this issue?

[2015-04-25 05:25] #604 closed

[2015-04-25 05:28] cbeust commented on #646
I've been wanting to revamp the implementation of `IRetryAnalyzer` for a long time but  never got around to it, so I'm not sure it's worth spending too much time on this right now...

[2015-04-25 06:07] stephen-smith commented on #651
I'm using ant, but I am unable to require JCommander as a dependency -- it's not available from the build servers that only have access to our private maven repository.  So, due to the ant task requiring a command-line processor (huh?) I am unable to use TestNG.

For now, I am continuing to use JUnit.  I mainly left the comment to prevent myself from trying TestNG again until after we switch build

[2015-04-25 07:00] cbeust commented on #651
I don't see any dependency of `TestNGAntTask` on `JCommander`, what am I missing?

Besides, can't you bring JCommander into your private Maven repo?

[2015-04-25 07:01] #582 closed

[2015-04-25 14:29] stephen-smith commented on #651
When I run the testng ant task without including JCommander in the class path, I get the same error listed in #255:

[testng] java.lang.NoClassDefFoundError: com/beust/jcommander/ParameterException [testng] Caused by: java.lang.ClassNotFoundException: com.beust.jcommander.ParameterException [testng] at java.net.URLClassLoader$1.run(URLClassLoader.java:202)

As far as adding it to the maven repo, o

[2015-04-25 18:54] cbeust commented on #651
Note that it's a `NoClassDefFound`, not a `ClassNotFound`, so JCommander is on the class path.

[2015-04-26 07:42] jinahya commented on #623
Yes, actually. It will be more elegant if any predefined exception such as `FailException` is available rather than `WhatEverException` or `RuntimeException`.

[2015-04-26 13:49] juherr commented on #630
Duplicate of #155

[2015-04-26 15:00] juherr commented on #470
Closed by #494

[2015-04-26 15:02] juherr commented on #515
Duplicate of #461

[2015-04-26 15:17] juherr commented on #646
Duplicate of #396

[2015-04-26 15:18] #646 closed

[2015-04-26 18:23] juherr opened #659 "Close obsolete issues"
I had a quick review of the issues and some of them are obsolete: duplicate and/or fixed.

I think it will helpful to close obsolete issues.

@cbeust How could we help you to find this issues?

[2015-04-26 20:01] drapostolos commented on #623
It makes sense for an `Apple.class` to extend a `Fruit.class` as an apple is a Fruit. But a Failure verdict is not a Skip verdict, so I don't think it makes sense for a `FailException` to extend a `SkipException`.

Another option is to use the [assertJ](http://joel-costigliola.github.io/assertj/) library and write as follow:

[code]

[2015-04-27 02:16] #630 closed

[2015-04-27 02:19] #470 closed

[2015-04-27 02:31] #515 closed

[2015-04-27 02:34] cbeust commented on #623
Agree with @drapostolos, `FailException` should not extend `SkipException`. I'm not sure I see the point of a `FailException` as well: just throw your own.

[2015-04-27 02:34] #623 closed

[2015-04-27 03:57] #645 closed

[2015-04-27 07:34] p00j4 commented on #579
Using "ITestResult" also returns "testName" declred in testng xml file but not the java method called from the testMethod where the code had failed.
[code]

[2015-04-27 11:35] juherr commented on #579
You can try: `tr.getMethod().getConstructorOrMethod().getName()`

[2015-04-27 11:36] #591 closed

[2015-04-27 12:50] p00j4 commented on #579
@juherr : this too returns "testBooking" the name of annoted method rather I'm looking for name like "homePage" or "searchPage" etc from wherever the call is transfered to the respective listener method (onTestFailure / onTestSuccess / onTestSkipped)

[2015-04-27 12:55] juherr commented on #579
@p00j4 Could you create a little and runnable project? That will be easier to understand.

[2015-04-27 13:10] p00j4 commented on #579
@juherr : thanks for taking time out, here is the code- https://github.com/p00j4/customReoprt

[2015-04-28 08:14] juherr commented on #601
Duplicate of #625

[2015-04-28 08:14] #601 closed

[2015-04-28 08:54] juherr commented on #579
Ok, I understand now.
Maybe you could try something with `result.getThrowable()` but not sure if it is possible.

I never have to use it, but maybe [FluentLenium](http://fluentlenium.org) could help you too.

[2015-04-28 20:15] guillaumecle opened #663 "Use Guice Stages"
Guice let you chose between three stages when creating an injector: PRODUCTION, DEVELOPMENT and TOOL.
I usually run all my tests with Stage.DEVELOPMENT, mainly because Singleton are lazily created and this speed up my tests.
Could testng creates injectors with Stage.DEVELOPMENT or let it configurable through @Guice annotation?

[2015-04-29 05:18] ramkulkarni1 opened #664 "TestNG fails to execute tests and suppress error when JUnit ClassRule fails"
I have a JUnit test case with @ClassRule. This rule fails during execution, but TestNG (ver 6.8.21) does not report any error and neither does it execute any tests in the class. I found the problem is in testAssumptionFailure method of RL class in org.testng.junit.JUnit4TestRunner.

[code]

When class rule fails, runs.get(failure.getDescription()) returns null and the next statement throws NPE. Al

[2015-04-29 07:59] juherr commented on #663
As I see, `Stage` is only available for the first injector ("parent injector" in TestNG).
`@Guice` creates a new child `Injector` from the "parent".
So it will be difficult to provide configurable thing.

Maybe TestNG should use `DEVELOPMENT`. @cbeust ?

But you can try to create your own "parent injector" with the expected `Stage` too, and change it in a `ISuiteListener` via `ISuite#setParentInje

[2015-04-29 08:03] juherr commented on #664
@ramkulkarni1 Could you try to pull-request a test that prove the issue, and maybe a fix? :)

`test.JUnit4Test` may help you.

[2015-04-29 14:48] punitmishra commented on #512
@ChristophSchaal  Any updates or alternate solution to this?

[2015-04-29 16:01] #93 closed

[2015-04-29 17:03] #310 closed

[2015-04-29 18:09] guillaumecle commented on #663
I'm trying the `ISuite#setParentInjector` way (not easy with the out of date eclipse plugin).
It seems that the "original" injector is created before `ISuiteListener#onStart` is called, isn't it?

[2015-04-29 18:59] juherr commented on #663
You can do yourself what TestNG do with something like:

[code]

For your eclipse issue, see cbeust/testng-eclipse#122, cbeust/testng-eclipse#123 and cbeust/testng-eclipse#124

[2015-04-29 19:59] guillaumecle commented on #663
Oh yes, the `Use project TestNG jar` is really useful, even if I don't get why it's peeking the `6.8.9beta` when my project is using `6.8.21`.

This is almost exactly the `ISuiteListener#onStart` I wrote. My point is that the injector is created before `ISuiteListener#onStart` is called (and so `ISuite#getParentInjector` is called before I do my custom  `ISuite#setParentInjector`)

[2015-04-29 20:24] juherr commented on #663
In fact, you should avoid @TestNG from your tests and doing the injection by hand:

[code]

And Eclipse is not really using 6.8.9beta. See #616 ;)

[2015-04-29 22:48] guillaumecle commented on #663
You mean avoid `@Guice`? Yes I could do that, but it would be less easy to passpass my modules or moduleFactory to my listener. I could perhaps create my custom annotation to specify them ...

But I'd loved to use `@Guice`. It seems to me like redoing some code that already exits inside TestNG and I could lose some feature like the new injection in `DataProvider`

[2015-04-29 22:55] guillaumecle commented on #663
Could we fine another way to configure the `Stage`? Perhaps at TestSuite level?

[2015-04-30 13:25] #87 closed

[2015-04-30 13:33] juherr commented on #663
Can you try to make a PR with configurable `Stage`?

[2015-04-30 13:41] cktech1me opened #669 "[selenium:testng] Total tests run: 0, Failures: 0, Skips: 0 on suite timeout with hardAssert?"
I'm seeing the following behavior:

[code]

My `testng.xml` file points to a bunch of suite files using  suite-files / suite-file path = test1, test 2 etc.

Each of those files is a FireFox <test></test>

[code]

UIAutomationTest has a `@BeforeMethod` Setup, `@Test` and `@AfterMethod` tearDown where I call `driver.quit();`

In the test I have something like:

[code]

hardAssert is defined as: Asse

[2015-04-30 14:30] juherr commented on #669
Could you give us a little similar project we are able to run and which reproduces the issue?

Or try the user mailing list.

[2015-04-30 15:09] cktech529 commented on #669
Sure, let me pull something together. Thanks!

[2015-04-30 18:33] cktech529 commented on #669
Where would I upload say a zip containing a project with the issue?

[2015-04-30 18:43] juherr commented on #669
Just create a repository on your github space ;)

[2015-05-01 14:45] cktech529 commented on #669
Here's the example (with example testng.xml, report output and java code)

https://github.com/cktech529/timeoutissue

The suite level timeout is 30 seconds
The Thead.sleep time is 250 seconds, so testng times out as it should with

hardAssert.fail("Sleep Interrupt: We most likely hit the testng timeout set by suite.windows.timeout in build.properties", e.getCause());

Yet the test on a few occasio

[2015-05-01 15:11] cktech529 commented on #669
I've also noticed when I target the latest testng using ant I see:

[selenium:testng] ... TestNG 6.8.2beta_20130330_0839 by CΘdric Beust (cedric@beust.com)

I'm using:

    <taskdef name="testng"
             classname="org.testng.TestNGAntTask"
             uri="antlib:com.emc.dependencies.ant.selenium"
             description="Config for automation testng tests" >
        <classpath>

[2015-05-01 15:27] cktech529 commented on #669
I tried something different, more strange results

https://github.com/cktech529/timeoutissue (the singleSuite folder.)

[2015-05-01 16:15] cktech529 commented on #669
The same above test running with parallel and thread-count turned off (reports back as expected.)

Default Suite
 	Duration	Passed	Skipped	Failed	Pass Rate
Firefox-WINDOWS-1	39.546s	0	0	1	0%
Firefox-WINDOWS-2	39.307s	0	0	1	0%
Firefox-WINDOWS-3	38.931s	0	0	1	0%
Firefox-WINDOWS-4	38.965s	0	0	1	0%
Firefox-WINDOWS-5	38.785s	0	0	1	0%
Firefox-WINDOWS-6	38.643s	0	0	1	0%
Firefox-WINDOWS-7	38.823s	0	0	1	0%

[2015-05-03 12:47] Zpetkov opened #670 "Suite duration not correct for parallel tests"
When running tests in a suite the total duration of the suite is the sum of each test's duration which is not correct for tests executed in parallel.

Here is a sample test class:

[code]

The suite:

[code]

Running this you should get output:

[code]

Looks like total duration is 5 seconds, but this is what eclipse shows:

![suite duration](https://cloud.githubusercontent.com/assets/7465412/7445

[2015-05-03 16:15] cbeust commented on #670
It works for me:

[code]

The screenshot you are showing is a bit odd: the green bar does show that the 4 methods ran in 5 seconds but the tree is claiming 20 seconds. Not sure what to make of that, did the tests really take 20 seconds to run?

[2015-05-03 16:59] Zpetkov commented on #670
Im pretty sure the whole suite does not take 20 seconds, it just reflects the sum of the durations.

[2015-05-03 17:11] cbeust commented on #670
Oh so you were just reporting the fact that the Eclipse plug-in is reporting incorrect times, got it.

[2015-05-04 13:25] cktech529 opened #672 "java.lang.NullPointerException thrown on explicit / implicit waits with testng?"
# TestNG Windows timeouts

`suite.windows.timeout=15000`

[code]

This works as expected and I get:

[code]

When I use explicit waits and do something like:

[code]

I get:
[code]

When I use implicit waits (doesn't matter if suite.windows.timeout is less than or greater than the wait on implicitlyWait(30...)

[code]

I get:

[code]

---

I am noticing that the Browser will come up on the node, t

[2015-05-04 15:59] cktech529 commented on #512
We seem to be having problems with running multiple suites in parallel as well.

[2015-05-04 16:20] cbeust commented on #512
@ChristophSchaal No, this is not supported.

[2015-05-04 16:20] #512 closed, assigned to nobody

[2015-05-05 01:30] cbeust commented on #672
Are you using the latest version of TestNG?

[2015-05-05 09:29] outofrange opened #673 "Minimal Javadoc documentation is minimal"
After reading TestNG's Javadoc for a few hours, I noticed some spelling mistakes, many undocumented methods, interfaces, annotations, ...

Just a few examples, not complete at all, to show what I'm talking about:
- [TestNGUtils#createITestNGMethod](http://testng.org/doc/javadocs/org/testng/TestNGUtils.html#createITestNGMethod%28org.testng.ITestNGMethod, java.lang.reflect.Method%29) (wrong usage of

[2015-05-05 10:51] juherr commented on #673
I think improvement is always a good idea.

If you decide to propose pr, try to make short ones. It will be easier to discuss, approve or decline.

[2015-05-05 11:06] outofrange commented on #673
Short like one PR for all test/Before/After annotations, one for all XML related stuff, etc...?
Currently, there are 106 documented types in the javadoc, so one PR per type might be an overkill.

[2015-05-05 12:11] juherr commented on #673
We'll wait @cbeust tell us what he prefers

[2015-05-05 16:05] cbeust commented on #673
Javadoc is easy to review but the bigger your PR, the more there is a risk
that a discussion on a single file might hold up the entire pull request...

Use your judgment, but at any rate, I totally welcome documentation pull
requests.

--
Cédric

On Tue, May 5, 2015 at 5:11 AM, Julien Herr <notifications@github.com>
wrote:

[2015-05-06 02:21] guillaumecle commented on #663
Doesn't it make sense to have some guice related config at TestSuite level? A suite has nothing to do with guice or even injection?

I got another idea. What about build the parent injector with the first stage found in the suite and if a different stage is found on another test of the suite fail it? This means force all injected tests of a suite to have the same stage.
I'll try to understand more

[2015-05-06 06:33] saberduck commented on #106
I solved this by writing IAnnotationTransformer listener which sets distinct priority to every test class. However I still think that this is testNG issue and by default tests between different classes should not be interleaved, as it goes against intuitiveness

[code]

[2015-05-06 09:13] abhilekhsingh opened #674 "TestNG is not reporting any log for skip tests."
TestNG is not reporting any log for skip tests. I checked the throwable of ITestResult object but it is null.
Is there anyway I can get logs for the skip tests for why it is getting skipped.

[2015-05-06 12:49] juherr commented on #674
Skip tests are consequence of failed tests. You may have some dependencies between tests and when one fails, the following ones are skipped.

[2015-05-06 12:52] juherr commented on #106
Could someone send a pr with a test that prove the issue? It will be easier to find a fix.

[2015-05-06 13:03] abhilekhsingh commented on #674
is there anyway I can get the proper cause for skipped tests.

[2015-05-06 19:54] juherr commented on #674
I don't know a way to know the cause of skipped tests.
And as I understand the code, it won't be easy to solve it.

[2015-05-06 20:29] juherr commented on #154
@VladRassokhin Are you always agree to propose a test? It seems the problem reappear (#630)

[2015-05-06 20:57] bkindley commented on #455
@yherasym comment is spot on. You can see the testng-customsuite.xml being used will not contain all the params from the xml you select from the pop up. Selecting a template XML will get around this, but that is not as convenient as selecting from the pop up. I would think ALL params from the xml you select should make it to the testng-customsuite.xml which would solve this problem.

[2015-05-07 02:09] #425 closed

[2015-05-07 03:46] guillaumecle commented on #663
I was wrong, there already is some guice config at suite level ```<suite parent-module="com.example.SuiteParenModule">``` I'll add the ```Stage``` there, something like ```stage="myStage"```

And what should be the default stage? I vote for ```DEVELOPMENT```

[2015-05-07 03:56] juherr commented on #663
As stage is a common word, maybe something like `guice-stage` is better.

About the default stage, maybe @cbeust can give us his opinion?

[2015-05-07 04:31] cbeust commented on #663
Yes, `guice-stage` is probably better. I wish I had prefixed the module similarly (`guice-parent-module`) for consistency.

[2015-05-07 04:56] juherr commented on #663
But you prefer PRODUCTION or DEVELOPMENT as default scope?

The current one is PRODUCTION but @guillaumecle asked to change it to DEVELOPMENT what is a good idea IMHO. But maybe you see bad side effect?

[2015-05-07 05:02] cbeust commented on #663
No objection to DEVELOPMENT.

[2015-05-07 11:26] juherr commented on #274
Seems fixed by #525

[2015-05-07 11:26] #274 closed

[2015-05-07 11:27] juherr commented on #392
Seems fixed by #525

[2015-05-07 11:27] #392 closed

[2015-05-07 12:37] #417 closed

[2015-05-07 20:40] juherr commented on #440
Duplicate of #525

[2015-05-07 20:40] #440 closed

[2015-05-07 21:52] ratanasv commented on #613
Same here. I'm using 6.8.7.

[2015-05-08 15:17] gnulib opened #681 "Running tests on Method/Class directly fails with error Initializer not found"
After upgrade to latest Eclipse testng plugin (version 6.9.0.201505070412) I'm not able to run tests directly on test methods/class. It fails with error mockit.initegration.testng.initializer not found.

I verified that my class path are correct, and that jmockit jar is in library. However, it continues to give error.

I'm able to run mvn test at the project level, that does not have problem. Its

[2015-05-08 15:23] cbeust commented on #681
@missedone Any thoughts?

[2015-05-08 23:57] missedone commented on #681
@gnulib

could you generate a small project for us to reproduce the issue? put it on github or cloud driver, thanks

[2015-05-09 00:23] cbeust commented on #681
I did a few quick tests and I was able to run class and method tests directly without any problems.

What is the error exactly? Does this happen for tests that don't need JMockit?

As @missedone said, the best way to investigate this is if you could make a small project or snippet available to reproduce the issue.

Thanks.

[2015-05-09 00:26] guillaumecle commented on #663
I did it on [my fork](https://github.com/guillaumecle/testng) and I realized that the default ```Stage``` of Guice is ```DEVELOPMENT``` and not ```PRODUCTION``` as I thought.

Do you want me to do a pull request?

[2015-05-09 00:29] cbeust commented on #663
Sure!

--
Cédric

On Fri, May 8, 2015 at 5:26 PM, Clément Guillaume <notifications@github.com>
wrote:

[2015-05-09 05:12] juherr commented on #663
Fixed by #682

[2015-05-09 05:12] #663 closed

[2015-05-09 14:13] juherr commented on #420
This issue should have been fixed by #667 and will be available in the next release.

[2015-05-11 07:57] SwastikGanguly opened #685 "Calling of methods from testng.xml"
testng: testng-6.8.8
selenium: 2.45
jdk 1.8
Unable to call Parent Method while multiple 'class' are addressed from testng.xml.
Works fine with single 'class' and its parent call.

[2015-05-11 15:58] lqc opened #686 "IAnnotationTransformer.transform is called for methods with testClass populated"
It seems that since e7eac6a (issue #87), JDK15AnnotationFinder always calls transformers with testClass populated in spite of the documentation:

https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/IAnnotationTransformer.java#L16-L22

[2015-05-11 16:05] cbeust commented on #686
@juherr Can you take a look?

[2015-05-11 16:07] juherr commented on #686
@cbeust Ok, I will update the javadoc.

[2015-05-11 16:17] juherr commented on #685
@SwastikGanguly Could you give us a runnable project of the use case? A link to a github repo will help us to understand the problem and fix it.
Or maybe, you can pull-request a new test (or update a current one) to TestNG?

[2015-05-11 16:20] lqc commented on #686
It's quite a large backwards incompatible change for someone who is using IAnnotationTrasformer. What is the new way of checking that the annotation was written on class vs. annotation was written on a method? I will be happy to write some tests for this, but I need to know if this was a deliberate change or just an accident (seems like the latter).

[2015-05-11 16:22] juherr commented on #686
True, I see the problem now! :)

[2015-05-11 16:36] cbeust commented on #686
Yes, sorry that's what I meant. This behavior must be preserved: only one of these three parameters must be non null.

[2015-05-12 03:07] gnulib commented on #681
Thank you for looking into this. I'll try to recreate and upload a small project.

Regards,
Amit

[2015-05-13 14:58] juherr commented on #403
Duplicate of #375

[2015-05-13 14:58] #403 closed

[2015-05-13 15:12] juherr commented on #101
Fixed by 9c2a9f1

[2015-05-13 15:12] #101 closed

[2015-05-14 00:02] kunal546 opened #689 "<groups> at <suite> level not applied to <suite-files>"
I want to be able to apply group filtering to multiple suite files.

Use Case - Let's say, I have multiple test suites defining all the tests. I want to run a subset of those on our dev environment and a subset on test environment. (I may want to do this for more environments in future). I am trying to achieve this by creating a suite file for every environment and invoking the one depending on th

[2015-05-14 20:25] lbergelson opened #690 "NPE in DependencyMap.getMethodDependingOn() with filtering IMethodInterceptor"
I have a CI system that runs one build on multiple nodes, and provides each node with environment variables that say how many nodes there are total, and what number node you're currently running on.  I want to evenly split my tests across the nodes by distributing them according to some value mod the number of total nodes.

I wrote a custom IMethodInterceptor to implement this, but it usually cras

[2015-05-14 21:00] gnulib commented on #681
I verified on a new installation of Eclipse over Windows with Java8, with latest testng plugin, and it was able to run the test method directly. So, issue I noticed must have been related to something specific in my setup (Mac OS-X 10.10, Java7).

We can close this case for now, and if I'm able to reproduce this with a small project, I'll re-open the issue.

Regards,
Amit

[2015-05-14 21:00] #681 closed

[2015-05-14 23:47] cbeust commented on #690
Your understanding matches mine, since you are only altering the list of free methods, this should have zero impacts on dependency code. Not quite sure what's going on.

[2015-05-15 15:08] lbergelson commented on #690
I'm invoking TestNG through Gradle.  I'm not sure if how that would change things, but it's probably relevant.

Here's the `test` block of my gradle file.  I think the only potentially important lines are the listener and maybe the excludeGroups.  Removing the exclude groups doesn't fix the error though.

[code]

I'm using gradle 2.4, testng 6.9.4, and running on java 8.

[2015-05-18 13:26] abhilekhsingh opened #692 "Add arbitrary number of environment variables in testNg ant build.xml"
TestNg provides support of setting environment variables in ant task.
<env key="key" value="${value}"/>

But in may case I have arbitrary list of environment variables. Is there any way I can do this.
Anyone please help me in this.

[2015-05-18 20:43] draghuram commented on #504
This issue can perhaps be closed?

[2015-05-18 21:02] jrocketz commented on #504
It turns out that it was a TestNG configuration issue in Eclipse. If you open the project properties and select the TestNG section, there is a checkbox for **Use project TestNG jar**. By default, it is unchecked. After checking it and re-running the tests, I now see the correct soft assertion errors. This issue can be closed.

[2015-05-18 21:08] #504 closed

[2015-05-20 03:31] AJ-72 commented on #613
@cdanger It is <b>not</b> the same as invocationCount. invocation-numbers=2 in the xml is used by testNG to identify the index of data-provider based tests when it fails. If you have a data provider that has 5 different data, when one of them fails testNG needs to identify the data for which the test failed. It is updated in the testng-failed.xml using invocation-numbers attribute

[2015-05-21 16:21] #686 closed

[2015-05-22 01:22] #420 closed

[2015-05-26 23:38] cdanger commented on #613
Thanks for the clarification. In that case, to avoid any confusion, I recommend that 'invocation-numbers' be documented like you did here, as a comment in the DTD for instance.
Back to the initial need, **is there any equivalent to *invocationCount* in testng.xml that I could use?**

[2015-05-31 05:44] rschmitt commented on #319
Do you specifically take issue with the "duplicate" results, or with the fact that the unsuccessful test invocations are reported as failures?

[2015-05-31 18:04] #465 closed

[2015-06-03 08:22] juherr opened #713 "Create an AppVeyor account"
To activate AppVeyor CI, the project must be connected to an AppVeyor account.
I can use mine but I think it will be better if you have your own one.

[2015-06-03 09:34] juherr opened #715 "Redirect testng.org/javadoc to an always up2date service"
Javadoc.io provides an up2date javadoc from artifacts deployed on Maven Central.
Using it will avoid to have top update javadoc by hand.

The only thing to do is making a redirection from http://testng.org/javadoc/ to http://www.javadoc.io/doc/org.testng/testng/

[2015-06-03 12:31] cbeust commented on #713
Yes, I'll take care of it. Thanks, @juherr !

[2015-06-03 12:43] cbeust commented on #715
Great idea, done!

[2015-06-03 13:09] juherr commented on #715
Oops, I think it should be done for http://testng.org/doc/javadocs/ too

BTW, I've just seen that links from documentation like http://testng.org/javadocs/org/testng/IAnnotationTransformer.html are not working anymore and should be redirected to http://www.javadoc.io/doc/org.testng/testng/org/testng/IAnnotationTransformer.html.
But this link is not working either...
I've just send a email to javad

[2015-06-03 13:17] cbeust commented on #715
Indeed. Going to restore the local javadocs for now.

[2015-06-03 14:22] revof11 opened #716 "add exception verification support"
# Exception Verifier Feature Request

## Request
Currently we can use `expectedExceptions` in order to ensure we get an exception type.  However, in cases where there are simple parameters or message information we want to check as well.

## Example
As an example, take [RESTEasy](http://resteasy.jboss.org)'s `WebApplicationException` and Spring's equivalent exception types.  These classes allow yo

[2015-06-03 14:41] Bobnix commented on #716
:+1: I cant tell you the number of times I have had to write try catch blocks to verify information in an exception when the annotation better describes the point of the test (i.e. I am a test for this exception).

[2015-06-03 16:30] juherr commented on #716
What do you think about something like:

[code]

I think it is closer than the current implementation of custom things like dataProvider or retryAnalyzer, and it should be easy to implement it without changing too many things in TestNG.

[2015-06-03 16:56] rschmitt commented on #716
@revof11, are you using Java 8? If not, would this still be a complaint if you could use higher-order functions with your assertions?

[2015-06-03 19:55] rschmitt commented on #716
Here's what I'm thinking. We can add some very simple convenience methods to org.testng.Assert:

[code]

These methods can obviously be added to the current TestNG (which targets Java 7), but they'll be highly ergonomic to anyone using Java 8. For instance:

[code]

[2015-06-03 20:25] revof11 commented on #716
@rschmitt Yes I am.  That is not even something I thought of.  Perhaps we can get something like those base-level assertions added because that is EXTREMELY clean and very straight forward to follow.

@juherr That is extremely flexible and I like that type of design.

[2015-06-03 20:35] rschmitt commented on #716
@revof11 I'm working on an implementation currently; I'll have a PR out soon.

[2015-06-03 20:47] juherr commented on #716
@rschmitt I like the idea of assertion too but there is no need to add them in testng because the awesome assertj already provides something: http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#exception-assertion

@revof11 I think assertj could solve most of your problems. You should try it ;)

[2015-06-03 20:57] rschmitt commented on #716
@juherr I'm very skeptical of the idea that I need an embedded domain-specific language with a fluent builder API in order to perform these sorts of very simple comparisons. Can't we just call functions? It's one thing if you're working around the crippling limitations of older versions of Java, but in Java 8 you're just adding needless complexity. Here's AssertJ:

[code]

Here's TestNG with asser

[2015-06-03 21:01] revof11 commented on #716
@juherr I have to agree with @rschmitt on this one.  The other thing is pulling in yet _another_ dependency to support.  Sure it's easy with Maven and all, but adding something simple with the lambda really hits the nail on the head.  That being said, however, take a look at AssertJ to see what else it might have to offer.

[2015-06-03 21:14] juherr commented on #716
We are talking about tests. Not sure trying to limit the number of dependencies has a real interest.

In fact, I'm not sure the top priority of testng is to be competitive on the assert API when some other projects are already doing it very well.
But it doesn't mean we should refuse pr on this subject ;p
@cbeust what is your opinion?

[2015-06-03 21:55] rschmitt commented on #716
The purpose of `assertThrows` is not to compete with [outdated](http://blog.jooq.org/2014/05/30/java-8-friday-most-internal-dsls-are-outdated/) DSL-based gimmick libraries, but rather to provide a vanilla assertion function that can be reused and composed with other things. This is not merely a matter of programmer convenience or verbosity reduction, either: I've seen people hand-write manual exce

[2015-06-04 02:06] rschmitt commented on #673
PRs are a lousy model in general, and they're especially counterproductive when it's likely that a change will need a lot of minor tweaks to be acceptable. I suggest [this alternative model](http://blog.spreedly.com/2014/06/24/merge-pull-request-considered-harmful/#.VW-x6Oco-TU).

[2015-06-04 02:28] rschmitt opened #719 "Fix Windows newlines?"
TestNG's code base uses Windows newlines heavily, though inconsistently. This can result in various forms of ugliness, weirdness, and brokenness (example: https://github.com/github/hub/issues/920). The newlines can be trivially converted by running `dos2unix` on all source files, and everything will continue to look fine from Windows hosts (I develop on Windows about 50% of the time myself). Any o

[2015-06-04 02:33] rschmitt commented on #719
Actually, it's not as bad as I thought: only 140 files touched. That's CSS and everything. I left the `.bat` files alone for obvious reasons.

[2015-06-04 03:53] cbeust commented on #673
Interesting read, thanks @rschmitt. I agree with some of it but not all. Worth thinking about anyway.

[2015-06-04 15:19] dcihal opened #721 "Testng xml file running classes out of order with"
I have a testng file that acts differently sometimes even though nothing has changed inside the file.  I am running it grouped by classes with `preserve-order` set to `true`.  For some reason it will sometimes run out of class order and based on the priority inside the tests instead.  For instance, the tests below will run `com.test.termsOfService` first and then skip to `com.test.addCategory` rat

[2015-06-04 15:21] rschmitt commented on #721
Do you mean the `priority` field in the `@Test` annotation? Is the interaction between `preserve-order` and `priority` documented?

[2015-06-04 15:26] dcihal commented on #721
Yep, so the priorities within the classes start at 1 every time since they should be running in class order, but sometimes the tests will run based on priority instead of the class order.

When you say is the interaction between `preserve-order` and `priority` documented what do you mean?  I have the reports that show the order running differently despite the file being the same, if that's what yo

[2015-06-04 17:17] cbeust commented on #716
My overall feeling is that you can achieve a great deal of flexibility with just a custom layer without having anything (or much) to add to TestNG. When it comes to verifying that the exception is exactly what you expect it to be, you quickly reach a point where there is no other way than writing some Java code yourself. Trying to bake this in TestNG will be very limited in scope.

I drew the line

[2015-06-05 14:05] #716 closed

[2015-06-06 10:15] rschmitt opened #725 "Publish regular snapshots to Maven"
I wanted to create an issue to track this so that it doesn't get lost in the shuffle from Maven to Gradle. The current 6.9.5-SNAPSHOT seems to be pretty old.

[2015-06-06 10:16] rschmitt commented on #725
I assume that this can be done directly from Travis, right?

[2015-06-06 13:58] cbeust commented on #725
I just uploaded a new snapshot:

https://oss.sonatype.org/content/repositories/snapshots/org/testng/testng/

Yes, it can be done from Travis but I need to configure it with the correct credentials, I've been meaning to do that for a while.

[2015-06-06 14:44] cbeust commented on #725
Done: I configured Travis to automatically upload snapshots to Sonatype.

[2015-06-06 14:44] #725 closed

[2015-06-08 06:13] gulwaniv commented on #326
I am also facing similar issue, can someone please help me on this

[2015-06-09 09:10] raghav2329 opened #726 "Issue in TestNG plugin issue using Selenium Webdriver."
![testng plugin issue](https://cloud.githubusercontent.com/assets/12811132/8054280/24b13540-0eb5-11e5-9b9c-e55b35fd1691.jpg)
 Hello,
  After creating the script in Testng using webdriver and clicking on Runas-> TestNG , i am getting plugin issue. Please find the attachment.

[2015-06-09 12:36] missedone commented on #726
@raghav2329
could you share the detail of error by right click on line "No repository found at ...", select "Copy Details", and paste it here, thanks

[2015-06-09 17:56] ThomasKrieger opened #727 "Some Data Races"
Hi,

I want to use testng together with vmlens to test concurrent java programs. Running testng with the following empty testclass:

[code]

led to some data races which might lead to unexpected behavior:

1) Inside org.testng.internal.invokers.InvokedMethodListenerInvoker the unsynchronized map strategies is filled in one of the TestNG threads. I would suggest to fill the map in the main Thread b

[2015-06-09 21:44] rschmitt commented on #727
Thanks for this great writeup. I'm convinced that there are tons of race conditions in TestNG; I've found one or two myself. In (1), it sounds like you're describing unsynchronized multi-threaded access to a `java.util.HashMap`, which is insanely dangerous (on some JDKs this can result in an infinite loop); that fix should probably be prioritized.

[2015-06-09 21:46] cbeust commented on #727
Indeed, thanks for taking the time to write this up, @ThomasKrieger. Would you be willing to send a few pull requests to address those issues?

[2015-06-10 02:37] krmahadevan commented on #326
Can you please help elaborate as to what your issue is ?
I believe I did share some tweaks to the configuration which seemed to
start triggering the instances to be run in parallel from a Factory.
It would be good if you could please add more context.

Thanks & Regards
Krishnan Mahadevan

"All the desirable things in life are either illegal, expensive, fattening
or in love with someone else!"
My S

[2015-06-10 04:25] raghav2329 commented on #726
Hi,
Thanks for your reply. Today i tried to reproduce the issue but i am getting different error log. Please find the attachment.

![wedriver testng](https://cloud.githubusercontent.com/assets/12811132/8074949/c0c033f4-0f56-11e5-927a-0a6af4ed6df4.jpg)

[2015-06-10 08:31] Jayaram1988 opened #730 "Dataprovider TestNG Reporting Issue"
Consider a selenium Java script that is run parallel  using data provide for n iterations and some of them has failed. TestNG report does show all n iterations in both passed and failed section.

[2015-06-10 12:26] juherr commented on #730
Which kind of reporter? Eclipse, xml,...?

[2015-06-10 12:37] gulwaniv commented on #326
I want to run instances in parallel with each test case should be group by instances. When I am running the code, I am facing the instances are not running in parallel but the test case group by instances is working as expected.

I added parallel=true in factory data provider and also I added attribute parallel="classes" in .xml file but it didn't helped me.

[2015-06-10 12:52] Jayaram1988 commented on #730
we have run the scripts from Eclipse, the report I am referring is the TestNG default report

[2015-06-10 14:55] rozzamozza commented on #106
Total agree with last post. Interleaved Class tests cause no end of pain.
On a large project tests that run in different order at different times just result in random failures.
I know there is not supposed to be state between tests but here in the real work that does slip in and debugging random failures is not fun.

[2015-06-10 21:10] jbragiel opened #731 "DataProvider Running Parallel Tests Sometimes Runs Tests Marked As Skipped"
We are seeing intermittent failures during some of our test runs.  The failures are caused by tests that should be skipped, but are shown by TestNG as failed.  When a skipped test fails, it is because the test method is getting run by TestNG and failing instead of being skipped.

We originally saw this issue in 6.8.8, but it does still exist in 6.9.4.  It looks like the use of a DataProvider and p

[2015-06-12 12:04] juherr opened #733 "TestNG should be an alternative for Android tests"
I've no real idea what it means, but TestNG should be an alternative of JUnit anywhere.

Useful links:
- https://plus.google.com/+AndroidDevelopers/posts/4a51oVb59H6?linkId=14810546
- https://github.com/googlesamples/android-testing/
- https://developer.android.com/tools/testing-support-library/index.html

[2015-06-12 16:15] dbrusilovsky opened #734 "Only final html test report is generated"
This may be because of something I misconfigured at some point, since I did not have this issue when I started using testng, but when I run a group of tests (Through Eclipse, through a .xml file with a suite of tests, or through an ant build with multiple test suites), even if there should be multiple HTML reports/pages generated for each test class in the suite, only the last one appears in test-

[2015-06-12 17:00] rschmitt commented on #733
Even while targeting Java 7?

[2015-06-12 19:52] juherr commented on #733
Android supports Java7 like TestNG.
http://tools.android.com/tech-docs/new-build-system/user-guide#TOC-Using-sourceCompatibility-1.7

What is the problem?

[2015-06-12 23:08] rschmitt commented on #733
I dunno, ask the JUnit people. They're terrified to drop Java 5 support. TestNG can't be considered an alternative on such old JVMs.

[2015-06-13 00:49] #599 closed

[2015-06-13 04:55] juherr commented on #733
I still don't understand your problem.

[2015-06-13 05:14] juherr commented on #453
Fixed by #460

[2015-06-13 05:14] #453 closed

[2015-06-13 07:21] juherr commented on #575
I didn't reproduce the problem with #735

[2015-06-13 07:21] #575 closed

[2015-06-14 20:52] rschmitt commented on #733
If TestNG runs on Java 7, and JUnit runs on Java 5, then TestNG is not an alternative to JUnit for anyone targeting Java 5 or Java 6. What's hard to understand about this?

[2015-06-14 21:09] juherr commented on #733
I don't think there is a lot of Android dev who are using Java 5 or 6.

And I still not understand your position against testng supporting Android tests.

[2015-06-14 21:11] rschmitt commented on #733
I don't have one. I'm just observing that JUnit runs on much older JVMs than TestNG, and that Android tends to be a few years behind the curve.

[2015-06-15 11:54] daramyogi opened #737 "TestNG 6.9.5 plugin does not work with Eclipse on Mac machine."
- I am trying to use eclipse on Mac OS X with testng 6.9.5. Plugin gets successfully installed but it does not show up in Eclipse preferences.
- I tried this with multiple eclipse versions as Kepler, Juno, Luna.
- I tried this on Mac OS 10.10.3 and 10.9.5.
- Same set up is working fine on windows machines.

[2015-06-15 14:09] missedone commented on #737
@daramyogi
Which jdk version you used to run eclipse, jdk 7 and above is recommended

[2015-06-16 06:04] daramyogi commented on #737
Yes, I am using jdk 7 only.

[2015-06-16 06:46] missedone commented on #737
Ok, do you see any relate errors on "Error Log" view (Click "Window" top-level menu -> Show View -> Error Log"

could you post relate error message here is there is any, thanks

[2015-06-16 06:57] daramyogi commented on #737
There are no error logs.

[2015-06-16 06:59] daramyogi commented on #737
Hey, I tried installing JDK 8 U45 and it worked for me.
Thanks for your help.

[2015-06-16 19:55] #737 closed

[2015-06-17 18:02] dbrusilovsky commented on #721
In my experience so far, the only way to be certain that the methods inside a class run in the designated order is to mandate that order via dependencies. Or rather, in fiddling with preserve-order, I found that it provided not guarantee that the order of the functions would be, in fact, preserved.
That said, I may just be misunderstanding the way the preserve-order arg is supposed to work.

[2015-06-18 05:17] raghav2329 opened #738 "TestNG eclipse issue after clicking on Runas --> TestNG Test"
After creating TestNG script with selenium webdriver and when i try to run the script from Runas--> TestNG Test. I am getting the issue. Kindly find the attachment.
![testng issue](https://cloud.githubusercontent.com/assets/12811132/8224628/624000fa-15a7-11e5-80f1-47f1779c2386.jpg)

[2015-06-18 11:14] priyanshus opened #739 "Testng skips all test classes from suite"
If you have two @BeforeClass in a test class and where second @BeforeClass depends on first one like this:

[code]

Then it will skip all the test classes from suite, if for any reason first @BeforeClass fails or throws exception.

[2015-06-19 04:32] raghav2329 commented on #738
Please find the below detailed error report :
!ENTRY org.eclipse.ui 4 4 2015-06-19 09:56:40.162
!MESSAGE Unable to initialize part
!STACK 0
java.lang.NullPointerException
	at org.testng.eclipse.ui.TestRunnerViewPart.newSuiteRunInfo(TestRunnerViewPart.java:418)
	at org.testng.eclipse.ui.TestRunnerViewPart.updateResultThread(TestRunnerViewPart.java:404)
	at org.testng.eclipse.ui.TestRunnerViewPart.i

[2015-06-20 03:32] cbeust commented on #738
@missedone This it's related to the recent changes?

[2015-06-20 12:40] missedone commented on #738
looks like it's the same issue as https://github.com/cbeust/testng-eclipse/issues/157
will look into it later

[2015-06-20 14:07] missedone commented on #738
@raghav2329
could you share a small sample project so that we can reproduce this issue?

BTW, what if you have the TestNG view opened before "right click -> run as", do you see the same issue?
(to open the TestNG view, click "Window (on top-level menu) -> Show View -> Other... -> Java -> TestNG")

thanks

[2015-06-22 14:28] dbrusilovsky commented on #739
Does alwaysRun not prevent this problem?

[2015-06-22 22:05] juherr commented on #739
@priyanshus Could you share us a little project that show the issue?

[2015-06-23 05:57] priyanshus commented on #739
@dbrusilovsky No it does not work with alwaysRun as well.
@juherr There is nothing special in my project, its just a testng suite which contains few test classes. One of test class has two @BeforeClass methods and second @BeforeClass depends on first one as I mentioned in my first comment.

If first @BeforeClass fails due to any reason then it skip all other test classes which are supposed to be r

[2015-06-23 17:17] kr99 commented on #111
I am seeing this problem as well.

[2015-06-24 22:33] juherr commented on #739
@priyanshus I can't reproduce your issue. Could you check my use case and tell me if I'm missing something?

@cbeust The `*Invocation` methods of `IInvokedMethodListener` are notified for "testA" which is never invoked. IMO it shouldn't. What do you think?

[2015-06-25 05:11] priyanshus commented on #739
@juherr Please check my comment in use case of #739.

[2015-06-25 10:53] andronix83 commented on #151
Hi, Cedric!
What about adding a new parameter to @Test annotation and call it something like "enabledClass" and make it true by default? It should be used only on a class-level (enabledClass = false) to disable the whole class regardless of the method-level annotations and be ignored, if added for the method.
In this way we would preserve backward compatibility and provide a pretty useful function

[2015-06-25 14:38] cbeust commented on #151
@andronix83,

I'm afraid this makes things more confusing now that you need to explain the subtle difference between `enabled` and `enabledClass`.

The current `enabled` behavior is not the most intuitive but it doesn't seem to be an issue in general, if I judge by the number of times this issue has been brought up (hardly ever).

[2015-06-25 20:55] juherr commented on #739
@priyanshus I've just updated the use case like your comment but it is working as expected. See 3d7de5c

[2015-06-26 03:06] krishna81m commented on #402
Just installed and it is disturbing!!

Eclipse Versions:
Mars (4.5), Luna (4.4), Kepler (4.3), Juno (4.2, 3.8), Previous to Juno (<=4.1)
Platform Support:
Windows, Mac, Linux/GTK
Organization Name:
Cédric Beust
Date Created:
June 24, 2010 - 09:51
Development Status:
Production/Stable
License:
Apache 2.0
Date Updated:
April 21, 2015 - 11:19
Submitted by:
Cedric Beust
- See more at: http://marketpla

[2015-06-26 05:01] priyanshus commented on #739
@juherr
Please check my inline comment in 3d7de5c.

[2015-06-26 12:09] juherr commented on #659
In order to help me to fix this issue a day, I'm trying [HuBoard](https://huboard.com/cbeust/testng) service (but some alternatives exist too).

[2015-06-26 14:08] cbeust commented on #659
The size of the left column is impressive ;)

[2015-06-26 17:05] juherr commented on #659
Yes, and I can't choose the order :/

[2015-06-27 03:09] missedone commented on #50
duplicates with https://github.com/cbeust/testng-eclipse/issues/133
can be closed

[2015-06-27 06:00] Zlika commented on #50
I don't think this issue is related to #133.  #133 is about building the testng eclipse plugin with tycho, whereas this one (as I understand it) is about allowing tycho to use testng as a testing framework (currently tycho only supports junit).

[2015-06-27 06:49] missedone commented on #50
right, i oversaw the original issue, we need reopen it

[2015-06-27 09:26] juherr commented on #739
@priyanshus Reproducd and fixed in #742

[2015-06-27 12:46] #739 closed

[2015-06-27 12:49] juherr commented on #471
Fixed by #739

[2015-06-27 12:49] #471 closed

[2015-06-29 23:00] zbasmaji opened #744 "Reporter.log do not work inside onFinish event when calling testng ant task"
In testng 6.8, I was able to call Reporter.log("foo") to publish reporter log in testng-result.xml during onFinish () event in ITestListener.
In testng 6.9, I am not able to publish reporter.log("foo") during onFinish event in ITestListener.

Note - This only happens when running testng in ant using TestNGAntTask class

Thanks

[2015-06-30 05:51] juherr commented on #744
Could you share some code which could help us to understand clearly your problem and what you expect?

[2015-06-30 07:53] juherr commented on #462
Duplicate of #392

[2015-06-30 07:53] #462 closed

[2015-06-30 09:16] juherr commented on #521
I don't reproduce the problem. As #392 I suppose it was fixed by #525

[2015-06-30 09:16] #521 closed

[2015-07-01 14:07] dbrusilovsky commented on #734
I still have not figured out how to resolve this issue.

[2015-07-03 17:34] archiecobbs opened #748 "NullPointerException throwns by Assert.assertEquals()"
TestNG 6.8.7 (same code exists in 6.8.21)

There is a missing null check, causing `assertEquals()` to throw an NPE. This happens when `assertEquals()` is invoked with `actual == null` and `expected` an array type.

[code]

[2015-07-06 16:17] Loshadushka commented on #626
You need to mention the module: moduleName/src/main/resources/childXML/base.xml
or absolute uri:

     <!ENTITY parent SYSTEM "file:///C:/any_folders_to_your_project/module/selenium-tests/src/test/resources/childXML/base.xml">

3 / in the uri is not a mistake!

Now should work

[2015-07-08 16:37] bsdkurt opened #749 "Missing release files on jcenter.bintray.com"
The following page indicates there should be released binaries available:

http://testng.org/doc/download.html

However, the binaries are missing. See the following page:

http://jcenter.bintray.com/org/testng/testng/

Please upload the released binaries. Thank you.

-Kurt

[2015-07-08 17:20] cbeust commented on #749
Mmmh... indeed, I thought they were already on JCenter but it looks like they are only available on `http://dl.bintray.com/cbeust/maven` (which is where `publish` put them, and apparently not JCenter):

https://bintray.com/cbeust/maven/testng/6.9.4/view#files

Any idea what I need to do to publish these files to JCenter?

[2015-07-08 17:29] cbeust commented on #749
I thought I had already linked the repo to JCenter but apparently, this was not the case. I filed the request.

[2015-07-08 20:30] juherr commented on #749
@cbeust Could it explain your issue with the deployment on maven central?

[2015-07-08 21:40] cbeust commented on #749
@juherr No, there are unrelated. Maven Central is unhappy because the current build process doesn't create the `sha1`, `md5` and `asc` files. Somehow, I was able to create those for 6.9.4:

https://bintray.com/cbeust/maven/testng/6.9.4/view#files

and I was able to deploy this to Maven Central without anyproblems, but when I try to deploy 6.9.5, these files don't get created. Probably something si

[2015-07-10 05:51] nmanandhar opened #751 "Parallel=instances run tests of same instance on different threads"
The documentation says that
•  parallel="instances": TestNG will run all the methods in the same instance in the same thread, but two methods on two different instances will be running in different threads.

However test methods for the same instances are running on different threads. Please see https://github.com/nmanandhar/TestNGParallelBehaviorTest.git

[code]

Suite File

[code]

Output of mvn

[2015-07-10 13:43] vit0rg commented on #595
The problem is here:

public class JDK15AnnotationFinder implements IAnnotationFinder {
...
private Map<Pair<Annotation, ?>, IAnnotation> m_annotations = Maps.newHashMap();
...
Synchronized map should be used.

[2015-07-10 15:00] cbeust commented on #595
Good catch!

I just pushed a fix:  https://github.com/cbeust/testng/commit/f644d1ed53f10a35f6d87ef22540a487a422d4be

In 10-15 minutes, the new snapshot should be published on in the snapshot repo (6.9.5-SNAPSHOT). Can you try it and report back?

Thanks!

[2015-07-10 16:02] gongchunlin commented on #595
Thanks for the fix! Actually, I already tried similar fix with Synchronized map and rebuilt the testng, and the problem never happened again.

[2015-07-10 16:04] gongchunlin commented on #595
Since I am not using testng at present, I am not able to try the new formal testng at present.

[2015-07-14 14:58] bsdkurt commented on #749
Thanks for fixing this. I see the released binaries are showing up on in http://jcenter.bintray.com/org/testng/testng/.

On a separate note, I see 6.9.5 is released. Although git is missing the release tag here:

https://github.com/cbeust/testng/releases

[2015-07-14 16:42] cbeust commented on #749
Fixed!

--
Cédric

On Tue, Jul 14, 2015 at 7:58 AM, bsdkurt <notifications@github.com> wrote:

[2015-07-14 21:48] CharmsStyler commented on #52
@cbeust  can we do this via maven ?

[2015-07-14 21:52] cbeust commented on #52
@CharmsStyler Do what?

[2015-07-14 23:46] CharmsStyler commented on #52
@cbeust  something like below. Say If I have a maven dependency which includes classes(on src/main) and Testng xml file.
<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<version>2.4.2</version>
				<configuration>
					<suiteXmlFiles>
						< xmlpathinjar>InsideJarTestng.xml</xmlpathinjar >
					</suiteXmlFiles>
				</configuration>

[2015-07-15 10:02] juherr commented on #52
@CharmsStyler
[apache/maven-surefire](https://github.com/apache/maven-surefire) is not managed by the TestNG community. [Ask them](https://issues.apache.org/jira/browse/SUREFIRE/) to add the support of xmlpathinjar.

cc @Tibor17

[2015-07-15 12:09] Stephan202 opened #754 "Artifacts deployed to Maven Central don't match git tags"
Looking at Maven Central, TestNG up to version [6.9.4](https://repo1.maven.org/maven2/org/testng/testng/6.9.4/testng-6.9.4.pom) has an _optional_ dependency on `junit`. However, the POMs deployed for versions [6.9.5](https://repo1.maven.org/maven2/org/testng/testng/6.9.5/testng-6.9.5.pom) and [6.9.6](https://repo1.maven.org/maven2/org/testng/testng/6.9.6/testng-6.9.6.pom) declare a _compile_ (i.e.

[2015-07-15 14:15] juherr commented on #754
Gradle is used now and maven build is deprecated. That could explain the issue.
I agree we should remove maven files to avoid the confusion.

[2015-07-15 14:21] Stephan202 commented on #754
Assuming Gradle supports this, I'd like to ask that dependencies that were previously marked *optional* are once again marked as such.

[2015-07-15 14:25] cbeust commented on #754
Definitely, will fix this shortly and I'll get back to you.

--
Cédric

On Wed, Jul 15, 2015 at 7:21 AM, Stephan Schroevers <
notifications@github.com> wrote:

[2015-07-16 07:50] juherr commented on #754
Well, I'm not sure it will be a so easy task: http://stackoverflow.com/questions/25345804/optional-gradle-dependencies-for-maven-libraries

[2015-07-16 16:39] dbrusilovsky commented on #734
Update from email to Julien:
I've been working with this for a while, and because Eclipse generates its reports differently than the default, the issue does not occur there. It happens specifically when I use my ant task to run an xml file.
My ant tests task looks something like this:
[code]
If I run it, I get my automatically generated report in the test-output folder, but there will only be .htm

[2015-07-16 18:12] juherr commented on #734
@dbrusilovsky I fixed ReportTest and updated a test case (f11c60c) to match what you explained. It seems to work as expected.
Could you share with us a project we can run to show the issue?

[2015-07-16 18:40] dbrusilovsky commented on #734
It's quite a large project. I'll test a bit and see if maybe I can configure my own reporter to get around. it. Thanks, Julien.

[2015-07-16 19:30] juherr commented on #734
As I can't reproduce, maybe you can extract a part of your big project that shows the issue or just create a very little project from scratch?

[2015-07-16 19:35] dbrusilovsky commented on #734
I'll give it a go and post anything I come up with here. Sorry for the bother.

[2015-07-16 20:56] juherr commented on #734
I close the issue until we cannot reproduce it.

@dbrusilovsky reopen it when you'll have a falling project :)

[2015-07-16 20:56] #734 closed

[2015-07-17 14:03] galan opened #757 "report xml files do not validate against DTD"
I'm using eclipse, and I'm getting an error since the `test-output/testng-failed.xml`file creates an error in line 3:

    Attribute "guice-stage" must be declared for element type "suite"

Example outputfile:

    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite guice-stage="DEVELOPMENT" name="Failed suite [Default suite]">
      <te

[2015-07-18 08:23] juherr commented on #757
The dtd changed with #682 but it seems that http://testng.org/testng-1.0.dtd had never been updated.

That can explain your problem. I'm sure @cbeust will update it asap :)

[2015-07-18 15:40] cbeust commented on #757
Done. FYI, [here is the browser friendly version of the DTD](http://testng.org/testng-1.0.dtd.php).

[2015-07-18 15:40] #757 closed

[2015-07-19 08:30] galan commented on #757
Thank you, does validate correctly now.

[2015-07-19 11:46] msebire opened #759 "Version 6.9.6 of TestNG is not OSGI"
The latest version of TestNG don't contain any information to be OSGI complaint. Version 6.9.4 was.

[2015-07-19 18:00] cbeust commented on #759
Probably lost them in the transition to gradle. Can you see what's missing?

[2015-07-19 18:01] cbeust commented on #757
Thanks for pointing it out!

If you have a minute, can you double check that your build caches the DTD after the first download? It should not be going to the web site each time.

[2015-07-20 06:55] galan commented on #757
At least my browser gets a 304 when refreshing, I can't say if maven and eclipse are caching the schemas.

[2015-07-20 19:24] msebire commented on #759
I will take a look but don't really know gradle. I will keep you informed.

[2015-07-22 03:59] jaypal commented on #476
The convention you have shown doesn't work for DataProviders. You can create DataProviders that takes `Method` as argument as suggested in the [documentation](http://testng.org/doc/documentation-main.html#parameters-dataproviders). Alternatively you can use Dependency Injection and grab the ITestContext and fetch parameters, again as suggested in the [documentation](http://testng.org/doc/documenta

[2015-07-22 10:03] ptsiakos77 opened #760 "Parallel setup"

[2015-07-22 10:21] ptsiakos77 opened #761 "In suite file parallel="tests" does not work correctly when the test tag contains muliple classes"
Given the suite file:

<suite name="One Test Suite" verbose="1" parallel="tests" thread-count="2" configfailurepolicy="continue">

[code]

</suite>

In this suite file: (parallel="tests" thread-count="2" ) the execution sequence in the thread of the "First Test" is:
1st-> Execute @BeforeClass method of BasicTest1
2nd-> Execute @BeforeClass method of BasicTest2
3rd-> Execute first @Test method of B

[2015-07-22 10:28] #760 closed

[2015-07-22 10:37] juherr commented on #548
Duplicate of #546

[2015-07-22 10:37] #548 closed

[2015-07-22 12:39] juherr commented on #394
A ConcurrentHashMap is used now.

[2015-07-22 12:39] #394 closed

[2015-07-22 12:47] juherr commented on #574
I think it is a surefire issue.

What do you think @Tibor17? Should a create an issue (or update [SUREFIRE-919](https://issues.apache.org/jira/browse/SUREFIRE-919))?

[2015-07-22 20:49] msebire commented on #759
Just finished my investigation. You can take a look at the following pull request https://github.com/cbeust/testng/pull/762

[2015-07-23 05:48] nmanandhar commented on #751
*Motivation For Need for Running Tests in the Same Thread*

* Ensuring that all test of a single instance run in the same thread will allow us confine objects used by test to a single thread and to avoid thinking about threading issues(visiblity,race conditions etc).

* We are trying to run Selenium tests in parallel. Each test instance will open a browser instance and then run tests against this

[2015-07-23 06:35] #759 closed

[2015-07-23 19:45] dbrusilovsky commented on #734
The whole issue was just happening because I was building with the wrong version of testng in my buildpath, which was the first thing I thought I'd checked. Apologies for wasting your time on this, Julien.

[2015-07-23 21:54] robotunicr0n opened #763 "Retrying failed tests with dataproviders"
I looked through all of the issues I could find on this project that related to dataproviders and retry logic and nothing seemed to be similar to what I'm about to ask. If I missed the appropriate existing topic feel free to merge this one into that one.

I'm running into an issue with our test suite where my tests that use dataproviders are not using the original data parameter from the first run

[2015-07-23 23:11] juherr commented on #763
Could you share a test case we can run? It will help us to fix the problem if any.

[2015-07-23 23:13] robotunicr0n commented on #763
It's a UI test for an ecommerce website.. I can share the code but I don't think it will run without our internal framework.

[2015-07-23 23:13] rschmitt commented on #763
You didn't specifically mention `IRetryAnalyzer` anywhere--is that how you're implementing retries, or are you somehow rolling your own?

[2015-07-23 23:16] robotunicr0n commented on #763
@rschmitt in our test framework which is a bunch of custom implementations over selenium for internal use we have retry code.. we've discussed building functionality into here that specifically uses the original run's parameter object but we wanted to make sure it wasn't something that could be used for everyone in testng, thus bringing it here.

which has the retry method overwritten. If I weren'

[2015-07-23 23:18] robotunicr0n commented on #763
@juherr sorry forgot to tag you previously. I work for a huge ecommerce company (not amazon though) and I don't think I'm allowed to share the code specifically :(

[2015-07-24 06:48] juherr commented on #763
Ok. In this case, do you think it is possible to share an new test case based on your private tests?

[2015-07-24 10:40] mhiemstrapodiumtv commented on #106
I am using Testng and nearly everything is working really well. There is one serious issue with priority. No matter what I do priority is ignored.

When I say

@Test( groups ="testA", priority=123 )
public void testMethodA() {
  // Do nothing
}

I see this in the output:

my.package.CalendarPage
  @BeforeMethod AbstractPageTest.beforeMethod()[pri:0, instance:my.package.CalendarPage@183b7230]
    @

[2015-07-24 10:42] mhiemstrapodiumtv opened #764 "Priority issue in version 6.8.8 and 6.9.6"
Hi all,

I am using Testng and nearly everything is working really well. There is one serious issue with priority. No matter what I do priority is ignored.

When I say

@Test( groups ="testA", priority=123 )
public void testMethodA() {
  // Do nothing
}

I see this in the output:

my.package.CalendarPage
  @BeforeMethod AbstractPageTest.beforeMethod()[pri:0, instance:my.package.CalendarPage@183b72

[2015-07-24 22:26] sixtysecond opened #765 "Test invoked twice when implements abstract method from parameterized parent."
Expected behavior: test should execute once

Actual behavior: test is executed twice

Code sample to duplicate:

https://github.com/sixtysecond/testng-bug

[code]

[code]

[2015-07-25 00:16] robotunicr0n commented on #763
sure. on vacation now but will follow up on Monday

On Fri, Jul 24, 2015, 12:48 AM Julien Herr <notifications@github.com> wrote:

[2015-07-27 09:04] drkthng commented on #471
Problem with children being skipped when one child fails during its own @beforeClass method still holds, if children have @beforeClass and the parent class has @beforeClass AND @afterClass.
When you remove @afterClass in parent class, everything works fine, no non-failing children are skipped.

[2015-07-27 12:19] juherr commented on #471
@drkthng Could you add your test case in TestNG tests (or update them) in a PR? See the `test.inheritance` package.

[2015-07-28 12:07] Elisedlund opened #767 "different behavior depending if Listener is declared with @Listeners annotation or in the suite XML file."
Declaring listeners with the @Listeners makes some of the methods in the listener being called twice instead instead of once which it is if it's declared in the suite XML file.
Running TestNG version: 6.9.5 (but I seem to get this problem with all versions tested)

Listener:
[code]
Example:

Running TestClassWithListenerAnnotation directly(rightclicking it in eclipse->run as):

[code]

-----------

[2015-07-28 20:26] roydekleijn opened #768 "gradle groups multiple classes"
Hello,

I’m trying to execute multiple groups (in once)

I’m expecting that TestNG completes all tests within the same group and then continues with the second group.

But it doesn’t do that, it executes tests randomly (from the specified groups), is that expected behavior ?

If required, I can create a public repo to demonstrate this behavior.

Thanks,
Roy

[2015-07-28 20:35] cbeust commented on #768
If you expect first group to be run before the second one, then you need to use `dependsOnGroups`. If you don't specify such a dependency, TestNG assumes that no ordering is required and it will just run all the test methods in these groups in random order.

[2015-07-28 20:36] #768 closed

[2015-07-28 21:08] roydekleijn commented on #768
Thanks for the quick reply. Let me elaborate it a bit more. I have the
following test classes:

// Class 1: those test can run independently

@Test(groups = { "validator" })

public class ValidatorTest {

@Test

public void test1() {

}

@Test

public void test2() {

}

}

// Class 2: test execution order is important

@Test(groups = { "end2end" })

public class end2endTest {

@Test

public void s

[2015-07-30 14:01] prvn133t opened #770 "maven-surefire-plugin:2.18.1 throws exception when testNG 6.9.6 is used"
Running a testng test using maven and surefire plugin 2.18.1 in TestNG 6.9.6 throws exception in the end while trying to generate a report. It works fine in TestNG 6.9.4.

Exception below

Results :

Tests run: 0, Failures: 0, Errors: 0, Skipped: 0
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.18.1:test (default-test) on project Suite: Execution default-test of go

[2015-07-30 15:31] #770 closed

[2015-07-30 19:20] juherr commented on #764
In fact, it's just a visual issue because priority value is set after the creation of the displayed line.

[2015-07-30 19:41] #764 closed

[2015-07-30 23:04] robotunicr0n commented on #763
Hey guys, sorry for the delay on this. My coworker was fired and i'm doing 2 people's work now and don't have time to update this until after our next big release. My sincere apologies.

[2015-08-04 15:32] benlamonica opened #772 "Severe thread contention while running large test with parallel methods"
While running a large test (600,000+ test methods) I encountered a deadlock situation.

All of the threads are blocked with this stack trace:

[code]

And the thread that is holding the mutex:

[code]

[2015-08-04 16:18] cbeust commented on #772
I took a look at the source and I'm not sure this is the correct interpretation. `m_graph` is synchronized in three places in this class and one of them is `setStatus`. As far as I can tell, this method is always called outside of a synchronized block so that if thread A calls it while B is inside the synchronized block in `setStatus`, this should not result in a deadlock.

Do you have the full th

[2015-08-04 17:46] benlamonica commented on #772
I think you're right, it is just taking a *very* long time for it to complete the test, and the threads are blocked because another thread is busy inserting into the graph.

I looked at the log again and I see that it's only partially done. I'm not sure why it's so slow though, when I ran this in JUnit, the tests execute very quickly. (Full test runs in 1-2 hours, in testng, it's been running for

[2015-08-04 17:49] cbeust commented on #772
Thanks for the clarification.

Not sure I want to close this just yet, I'm not convinced yet that this is not a bug in TestNG, especially if you say that the same test runs fast in JUnit. Can you double check this? I'm a bit confused, since if the same tests are running in JUnit, then they are all independent (since JUnit doesn't support dependent tests) which means that the DynamicGraph use in Te

[2015-08-04 18:03] benlamonica commented on #772
Let me start the jvm with a code profiler and run again.

Here are the particulars of the test:
* 6 test methods in a class (annotated with @Test, nothing else) in a class
* the constructor annotated with @Factory(dataProvider="data") which takes one argument, a POJO with a bunch of data gathered by the DataFactory
* a static method that returns an Object[][] annotated with @DataProvider(name="dat

[2015-08-04 19:00] benlamonica commented on #772
Here is the execution profiler.
[code]

21.66% is spent on executing the test, and 61% is spent inserting into the graph set. (the rest is spent on our caching implementation, which suffered a disconnect to our dev environment and is busy rebuilding it's caches).

Do you know why we would be inserting into that graph?

[2015-08-04 19:16] benlamonica commented on #772
It looks like the hashCode is based on the method, which would be the same for 100,000 entries. So each time it adds to the HashSet, it has to iterate over 100,000 instances in order to find that the object is not in the set? I will experiment with making the hashCode more unique...

[2015-08-04 21:51] cbeust commented on #772
Can you turning off parallelism completely? I'm curious what this will change.

[2015-08-05 00:04] benlamonica commented on #772
I turned off parallelism and now it's running about 1000 tests every 15 seconds. I don't see any of the delays I was seeing before.

[2015-08-05 00:07] rschmitt commented on #772
Doesn't sound like deadlock so much as severe lock contention.

On Tue, Aug 4, 2015 at 5:04 PM, Ben La Monica <notifications@github.com>
wrote:

[2015-08-05 02:50] CandyLiuM opened #773 "Test returns skipped when using attribute @Test#expectedExceptions on testng 6.9.5"
I try to upgrade testng version from 6.8 to 6.9.5. I found the Attribute @Test#expectedExceptions behavior is changed. In 6.8, if an expected exception is thrown, the test will return passed, but in 6.9.5, the test result is skipped.

Test code:
    @Test(expectedExceptions = SkipException.class)
    public void testExpectedException() throws Exception {
        throw new SkipException("thow an ex

[2015-08-05 03:38] cbeust commented on #772
That was my intuition, glad to see it confirmed. Like @rschmitt is saying, it's most likely a contention problem.

[2015-08-05 18:00] benlamonica commented on #772
Here is a simplified example that illustrates the problem.

[code]

And the suite:
[code]

[2015-08-05 19:18] benlamonica commented on #772
Unfortunately I don't have any more time to devote to this issue. I'm going to have to go and find a different solution. Let me know if I can contribute any more info to you. Thanks for the great testing framework!

[2015-08-05 19:36] cbeust commented on #772
Thanks for the PR and your efforts, @benlamonica, I'll take it from there!

[2015-08-06 09:52] saikiran40cs commented on #375
I am also facing the same issue..The html tags are getting escaped in the report and is coming as a raw text output.
For Example:Reporter.log("<font color='green'>PASS</font>");
Output: PASS, but i wanted in Green color..

Operating System Used is: Windows 7

[2015-08-06 13:17] vguna opened #776 "Add BeforeClass/AfterClass like on ITestListener"
It would be great, if the ITestListener would offer a method that is invoked, when a Test Class is created and gets executed.

I'm trying to write a TestNG listener that is fired once on each test class to print the test class name to the log/console. I tried it with ITestListener onTestStart(), but this is called per test - as the name states. To log only once, I would have to synchronize it some

[2015-08-06 14:44] juherr commented on #776
You are asking a listener way to do @BeforeClass and @AfterClass, isn't it?

[2015-08-06 14:50] juherr commented on #557
Closed by #552

[2015-08-06 14:50] #557 closed

[2015-08-06 14:52] juherr commented on #343
Should be closed by #552

[2015-08-06 14:52] #343 closed

[2015-08-06 15:05] vguna commented on #776
Exactly. Without the need to touch my test classes.

[2015-08-06 15:10] juherr commented on #776
Would you like to try to add it yourself and propose it?

[2015-08-06 15:20] vguna commented on #776
I'll check with my manager :).

[2015-08-07 17:25] avarabyeu commented on #279
+1 any updates?

[2015-08-07 17:39] cbeust commented on #279
Not implemented yet but I just took a look at the source and it looks pretty trivial to do. The code that instantiates the listeners is TestRunner:328 and it uses the listener factory to do so. A simple fix for this would be to define a default factory that looks up if a Guice module was declared and if so, use it to instantiate the listener. If not, just do a regular `newInstance`.

[2015-08-08 04:35] sdeuvarow commented on #402
I have same issue with Eclipse Mars. I had with eclipse Kepler, so I migrate to Mars hoping it's fixed in the new version but I have no luck.

In the new Eclipse, I reinstall testng plugin but still get the exception.
The test runs, but I see the exception in the console and it's really annoying:

java.net.SocketException: Software caused connection abort: socket write error
	at java.net.SocketOut

[2015-08-08 15:57] missedone commented on #402
link to https://github.com/cbeust/testng-eclipse/issues/91

[2015-08-08 16:02] missedone commented on #402
potential workaround: https://github.com/cbeust/testng-eclipse/issues/91#issuecomment-126371813

[2015-08-09 07:07] juherr opened #777 "Extract sources into modules"
From @missedone on cbeust/testng-eclipse#91

[2015-08-09 07:10] juherr commented on #777
I think the idea is good but will be a big change.

And we can still have an aggregated artifact which will keep the current behavior.

[2015-08-09 14:01] cbeust commented on #777
Not sure there is a big upside for users there...

[2015-08-10 09:59] mhiemstrapodiumtv commented on #764
I believe this issue should be opened. The issue isn't that the priority is displayed as 0. The issue is that the priority doesn't work when you use the packages tag.

When I indicate
<packages>
   <package name="my.package.*" />
</packages>
then the priority is ignored and everything is executed in random order.

However if I indicate
<classes>
	<class name="tv.package.ClassA" /> // Priority 1
	<

[2015-08-11 21:39] avarabyeu commented on #279
@cbeust Could you please implement it? I'm very interested to have this change in the next TestNG release. I think, it will be very helpful for all guys who are using integration with Guice

[2015-08-12 08:08] cktech529 opened #778 "XmlSuite toXml() does NOT add the suite time-out property."
[code]

/**
- @return A String representation of this XML suite.
  */
  public String toXml() {
    XMLStringBuffer xsb = new XMLStringBuffer();
    xsb.setDocType("suite SYSTEM \"" + Parser.TESTNG_DTD_URL + '\"');
    Properties p = new Properties();
  ....

[2015-08-12 11:32] cktech529 opened #779 "timeout is ignored at test level"
I am only to get a suite level <suite timeout="60000"> to respond.

When I do NOT put the suite level timeout and put a

<test timeout="5000">  entry,

It doesn't timeout.

[2015-08-13 13:13] juherr commented on #778
Could you pull-request a fix?

[2015-08-13 13:14] juherr commented on #779
What is the question/issue?

Could you share your use case?

[2015-08-13 15:52] cktech529 commented on #778
Will do.

Chris
On Aug 13, 2015 9:13 AM, "Julien Herr" <notifications@github.com> wrote:

[2015-08-13 15:56] cktech529 commented on #779
When you have a suite with n test entries and the tests have
timeout="20000" and the suite does NOT have a timeout set and parallel is
"tests" at the suite level, the timeout is ignored at the test level. When
you set timeout at the suite level, tests that timeout fail testng and
reports aren't correctly generated.

[2015-08-14 07:39] juherr commented on #779
Ok, it's a bit clearer. But could you share a minimal project we can run and the result you expect?

[2015-08-14 13:37] cktech529 commented on #779
Will do,

Was on the road when I saw this.

Thanks,

Chris

On Fri, Aug 14, 2015, 3:39 AM Julien Herr <notifications@github.com> wrote:

[2015-08-14 17:10] smaudet opened #780 "Groups are not respected by @BeforeMethod"
I have a test case and a patch to boot for this, however in case for some reason I don't get to post it, there is an issue where setup methods do not fail to run for a test case for which they were supposed to be excluded by group membership.

Going by the docs on the homepage, I believe this is a bug and not a feature request. If it is a feature, then there is a bug with the documentation.

[2015-08-14 19:28] juherr commented on #780
Could you share an example with the actual and expected behavior?
And could you quote the part of the doc you think it wrong?

[2015-08-14 19:34] juherr commented on #689
Dupliate of #589

[2015-08-15 21:09] juherr commented on #279
@cbeust I'm not sure the fix will be so easy. Currently, a same listener can be instantiate many times. That means args of the listener could be asked many times which may have bad side effects.

[2015-08-17 14:36] #169 closed

[2015-08-17 14:36] #171 closed

[2015-08-17 17:09] smaudet commented on #780
From:

http://testng.org/doc/documentation-main.html

"@BeforeGroups: The list of groups that this configuration method will run before. This method is guaranteed to run shortly before the first test method that belongs to any of these groups is invoked."

"@BeforeMethod: The annotated method will be run before each test method."

"alwaysRun - For before methods (beforeSuite, beforeTest, beforeTes

[2015-08-18 19:17] juherr commented on #780
What you explain seems correct but I prefer @cbeust approves too.

About "alwaysRun", the default value is false. There is no need to set it to false.

[2015-08-18 21:46] stephen-smith commented on #651
It's both.  NoClassDefFoundError was caused by "java.lang.ClassNotFoundException: com.beust.jcommander.ParameterException"

[2015-08-19 08:02] juherr commented on #651
Currently and as I understand, `TestNGAntTask` is just building a command line for `TestNG` which will be parsed by JCommander then.
So, JCommander is mandatory for the ant task.
I should be possible to remove the dependency but won't be an easy task (and not a priority IMO).

[2015-08-20 07:21] AJ-72 opened #783 "Missing file org.testng.internal.Version"
I see an import and a line of code related to org.testng.internal.Version in org.testng.TestNG class. But can't find this class in the repository.

[2015-08-20 12:33] smaudet commented on #780
I understand the alwaysRun default value is false. I don't know if there is a way to change the defaults (e.g. via some externally specified annotation) - I"m just saying what it is set to, not that you explicitly set something to false.

If you think it will get @cbeust involved faster, I can issue a pull request. Let me know.

[2015-08-20 12:54] juherr commented on #780
In fact `@BeforeX(alwaysRun=false)` and `@BeforeX()` are equivalent. So you can avoid to set `alwaysRun=false` as `false is the default value.
You can change the default value with: `@BeforeX(alwaysRun=true)`.
But it's just a little remark about your gist and should not have impact on the issue.

If your PR is ready, you can propose it. If not, I prefer we wait.

[2015-08-20 14:47] cbeust commented on #783
It's generated by the build.

[2015-08-20 14:47] #783 closed

[2015-08-24 09:09] pavelpp opened #784 "SoftAssert duplicates error messages"
TestNG version 6.9.6, running in IntelliJ IDEA. Example to reproduce:

    @Test
    public void test() {
        SoftAssert sf = new SoftAssert();
        sf.assertEquals(5, 4, "5 does not equal 4!\n");
        sf.assertEquals(1, 2, "1 does not equal 2!\n");
        sf.assertEquals(1, 1, "some message");
        sf.assertAll();
}

Output is :

    java.lang.AssertionError: The following asserts f

[2015-08-26 18:23] johnmak-veeva opened #786 "context.getFailedTests().getAllResults() call in overridden ITestListener.onFinish() does not return correct number of failed tests"
I'm using a RetryListener for retry on failed tests with a TestListener which removes any duplicate results for retries.  However I see an issue when I have a test that failed a total of 3 times (retrying twice), the context.getFailedTests().getAllResults() call in my overridden ITestListener.onFinish() does not return correct number of failed tests.  It only returns 2 failed tests instead of 3.

[2015-08-26 18:34] rschmitt commented on #786
Which version?

[2015-08-26 20:38] johnmak-veeva commented on #786
@rschmitt Using the latest version 6.9.4

[2015-08-26 21:30] rschmitt commented on #786
Your TestListener should be unnecessary, since the latest TestNG reports retryable failures as SKIPPED rather than FAILED. (You may need to use 6.9.6-SNAPSHOT to have this fully work, but 6.9.4 at least tries to do it IIRC.)

[2015-08-27 04:03] varontron opened #787 "IAnnotationTransformer2 transformed value reverts to default"
Using v6.8.21 (JDK 1.6) with maven-surefire-plugin, in summary, my implementation of `IAnnotationTransformer2` picks up a test method annotation and modifies it successfully, along with all other method annotation transformations. Then at test execution time, the annotation value reverts to the hardcoded value, but only for the one method, not for any others. The other methods use the transformed

[2015-08-27 06:57] juherr commented on #787
Is it possible to share a runnable project which shows the issue?

Is it possible you test with the latest version of TestNG?

[2015-08-27 11:46] varontron commented on #787
My source will be available within a few weeks -- the corp overlords have to approve before release, but that process is underway.

This raises an interesting question which is: can the issue be reproduced?  I'll try to build a separate package on the quick and post to my personal repo.

Regarding version, this issue arises in 6.8.21 which I believe I'm stuck with while using JDK 1.6.

[2015-08-28 00:22] johnmak-veeva commented on #786
Thanks for the help but I figured out the issue. So the TestNG report is displaying the correct adjusted test results but on the console output the re-runs are included in the results.  There seem to be two different results calculation mechanisms here.

[2015-08-28 03:30] varontron commented on #787
There is a working example here: https://github.com/varontron/testng-annoxform2-bug
Results were reproduced in v6.8.21 and v6.9.6.
Details in the ReadMe.

[2015-08-28 14:17] pavetok commented on #378
+1 (6.9.6)

[2015-08-28 16:11] cbeust commented on #378
Can you post a short example showing the problem?

--
Cédric

On Fri, Aug 28, 2015 at 7:17 AM, Pavel Vetokhin <notifications@github.com>
wrote:

[2015-08-30 14:18] pavetok commented on #378
I'm sorry, but I could not reproduce the error on my home laptop.

[2015-08-31 13:55] nemesis13 opened #791 "Method listener per test class"
## Problem description
Currently IInvokedMethodListener can only be added to an ISuite. It would be nice if we could apply a listener per test class and per test class instance.

## Specific use case:
Multiple test classes use a common base which creates a `WebDriver` instance in `BeforeClass`. I have a method listener that takes screenshots on every failed configuration- and test method. I used t

[2015-08-31 16:36] cbeust commented on #791
You can make sure your listener only runs for specific classes by inspecting the method passed in parameter, right?

[2015-09-01 09:09] nemesis13 commented on #791
Thanks for the response.
And yeah, I just did that, but it rather feels like a workaround. For every class I create, a new listener is attached to the suite. I just looked through the code of TestNG and I wonder whether it would be better to use something like the ExitCodeListener since it already has callbacks for failed test- and configuration methods.

My workaround so far:
[code]

[2015-09-01 11:52] juherr commented on #791
I don't understand why you don't look for the webdriver instance in `afterInvocation`?

[code]

[2015-09-01 12:23] nemesis13 commented on #791
So you suggest making the driver field public (it's protected ATM) and comparing it to the passed driver object in the listener? How is that different from comparing test class instances?

[2015-09-01 13:00] juherr commented on #791
or using `setVisisble(true)`.

The idea is to remove the constructor and make it generic. So, no need to have one listener instance by test class or test instance.

[2015-09-02 15:03] prvn133t commented on #784
I tried it in eclipse and I don't see this happening.

[2015-09-02 15:04] pavelpp commented on #784
I suspect it's a bug with TestNG plugin for IntelliJ Idea.

[2015-09-03 12:13] narulacool opened #792 "Retry analyzer not calling BeforeMethod & AfterMethods if firstTimeOnly/lastTimeOnly are mentioned for the test"
Consider the case below:

[code]

If I use TestNG's <i>IRetryAnalyzer</i> to rerun the above case, the StartDriver & stopDriver are called for the actual first run, while none of the two is called for the Second(retry) time.

[code]

I am using TestNG 6.9.4 & this works fine(i.e start & stop are called for both first time & for the retry execution) if firstTimeOnly & lastTimeOnly are not mentioned

[2015-09-03 15:06] juherr commented on #784
Did you open an issue on IntelliJ somewhere?

Ping @VladRassokhin

[2015-09-03 15:17] pavelpp commented on #784
Not yet

[2015-09-03 18:11] mhereu opened #793 "Test suite with tests using dependency and priority has wrong behavior"
Hi, I have a test class like the follow:
[code]

The test default priority is 0 so I was expecting as output the following result:
[code]
but I got:
[code]
The test was executed using Maven 3.3.3, sureFire plugin 2.18.1, TestNG 6.9.6 and Java jdk1.8.0_51. Suite xml like:
[code]

*Acceptance criteria:* TestA and TestB has priority 0 so they should be executed before the one with higher priority.

[2015-09-04 15:15] numeralnathan opened #794 "Display Running Test Cases"
I am running TestNG tests cases via an Eclipse Debug Configuration. The configuration specifies to run a Suite file named testng.xml. Here's the contents.

[code]

Eclipse will show the Results of running suite window. In the window under the All Tests tab, I see a tree of tests that have finished. I don't see any of the tests which are pending or running. How do I cause Eclipse to show the tests

[2015-09-05 06:40] missedone commented on #777
@cbeust
when I looked into the "SocketException: Broken pipe" issue https://github.com/cbeust/testng-eclipse/issues/91 of testng eclipse plugin, I think the root cause is there is version mismatch, or how to say, servialVersion incompatibility:
[code]
![testng plugin communication](http://s29.postimg.org/686zcgvfb/testng_asis.png)

so my initial solution for this is to make the RemoteTestNG of Ecl

[2015-09-05 06:52] cbeust commented on #777
Before digging into this, couldn’t we simply add the missing
serialVersionUUID to the classes causing this problem?
​

--
Cédric

On Fri, Sep 4, 2015 at 11:40 PM, Nick Tan <notifications@github.com> wrote:

[2015-09-05 11:33] missedone commented on #777
well, we can add the missing serialVersionUUID to current master branch, but we can't change the released testng, right, so i doubt that only add the serialVersionUUID at one side, we still will get the InvalidClassException.

[2015-09-05 12:54] juherr commented on #777
@cbeust What do you think to have a  "next" branch for more aggressive refactoring and planned to be released once ready for TestNG 7.0? And keep the current master with quick bug fixes?

[2015-09-05 23:30] VladRassokhin commented on #784
Looks like some trouble with stderr/stdout or listeners.
If you think this is bug in IntelliJ TestNG support, please create new issue in https://youtrack.jetbrains.com

[2015-09-06 09:44] narulacool commented on #792
ping..

[2015-09-09 07:23] Elisedlund opened #795 ""@Listeners" defined listeners applies to whole suite even if repeated."
I have a suite looking like this:

[code]

my problem is that the listeners defined in my testclass with @Listeners applies twice which means that I have 2 identical listeners in the suite:

(onStart ect actually execute 4 time instead of two because of another issue https://github.com/cbeust/testng/issues/767)

[code]

[2015-09-09 08:40] Elisedlund commented on #795
a workaround listener delegator class:
´´´
public final class Listener implements IAnnotationTransformer, IInvokedMethodListener, ITestListener,
        ISuiteListener, IExecutionListener, IMethodInterceptor {

    private static boolean wasCreatedOnceBefore = false;
    private boolean isSecondInstance = false;
    private boolean isOnStartSecondTime = false;
    private boolean isOnFinishSecondT

[2015-09-09 08:41] Elisedlund commented on #767
a workaround listener delegator class:
[code]

[2015-09-09 11:18] juherr commented on #795
#781 may fix the problem, could you test with [the latest snapshot version](https://oss.sonatype.org/content/repositories/snapshots/org/testng/testng/6.9.7-SNAPSHOT/)?

[2015-09-09 11:18] juherr commented on #767
#781 may fix the problem, could you test with [the latest snapshot version](https://oss.sonatype.org/content/repositories/snapshots/org/testng/testng/6.9.7-SNAPSHOT/)?

[2015-09-09 13:31] nairsanoop opened #796 "Issue while connecting to Eclipse plugin of TestNG"
The below issue is thrown when trying to connect to TestNG via Eclipse. I am using the below mentioned version of Eclipse

   Eclipse IDE for Java Developers
   Version: Mars Release (4.5.0)
   Build id: 20150621-1200
   http://beust.com/eclipse/

Forbidden
You don't have permission to access /eclipse/ on this server.

[2015-09-09 14:30] missedone commented on #796
@nairsanoop
what's the steps to reproduce this issue?
the error does not look like come from TestNG eclipse plugin.
thanks

[2015-09-10 12:04] Elisedlund commented on #767
I tried with the latest snapshot as you suggested, (made sure it was used by cleaning .m2)
However no change at all it still behaves the same :/

[2015-09-10 12:04] Elisedlund commented on #795
I tried with the latest snapshot as you suggested, (made sure it was used by cleaning .m2)
However no change at all it still behaves the same :/

[2015-09-10 20:36] #773 closed

[2015-09-10 21:13] drapostolos commented on #767
IMethodInterceptor has been broken for a while, see:
https://groups.google.com/forum/#!topic/testng-users/YFS8d3iMAR4

there seems to something strange going on when `IInvokedMethodListener` is implemented in same class as the other interfaces. For example, if you remove IInvokedMethodListener from your `Listener` class and implement that in a separate class then it seems to work better:

[code]

[2015-09-10 22:48] nathanila opened #797 "Display Running Test Cases"
I am running TestNG tests cases via an Eclipse Debug Configuration. The configuration specifies to run a Suite file named testng.xml. Here's the contents.

<suite name="All" verbose="1" parallel="methods" thread-count="100">
  <test name="All">
    <packages>
      <package name=".*"/>
    </packages>
  </test>
</suite>

Eclipse will show the Results of running suite window. In the window under th

[2015-09-11 06:36] nebehr opened #799 "@Factory with dataProvider changes order of iterations"
When a test class is instantiated by a constructor with @Factory annotation.
Example:

[code]

Expected output would be

[code]

but real order is different upon every execution. It appears that it essentially depends on test class instance hashcodes, where the list of nodes is sorted by default toString() implementation in org.testng.internal.Graph.java:129.

If dataprovider is specified in the @

[2015-09-11 06:57] anupchandak opened #800 ""testname" ant attribute doesn't work"
I am trying to invoke tests of a testng.xml file from ant.
I want to invoke it for particular 'test' so I used testname="myTestName"
But this is not working. It by default runs all the test cases specified in tesng.xml under all 'test' tag

[2015-09-11 15:26] juherr commented on #799
The documentation doesn't specify anything about order and test classes are not supposed to be dependent.

IMO, it is not a bug

[2015-09-11 15:28] juherr commented on #800
Could you share a sample project which can be executable?

[2015-09-11 15:48] cbeust commented on #799
Maybe not a bug but inconsistent since the behavior is different between
@Factory and @Test, so worth a look in my opinion.

--
Cédric

On Fri, Sep 11, 2015 at 8:26 AM, Julien Herr <notifications@github.com>
wrote:

[2015-09-11 16:11] nebehr commented on #799
It is more about the expected order of data-driven iterations rather than dependency between them. If the data comes from an external source, it is only natural for a user to expect to see the iterations in the test report be in this same order.
In any case, sorting the nodes by their string representation (of which method name is only a part) does not feel right. There probably has to be a custom

[2015-09-13 14:01] prvn133t commented on #796
try `ls -la` and see the permission on that directory. Possibly post the result here.

[2015-09-13 14:12] prvn133t commented on #793
This only happens when `dependsOnMethods` is used. When a `@test` method has `dependsOnMethods` it neglects the `priority`

[2015-09-13 14:25] prvn133t commented on #792
I guess this is working as designed. Looking at the code of `public boolean firstTimeOnly() default false;`

I see

BeforeMethod will only be invoked once (before the first test invocation).

So the `invocationCount` is already > 1 during the retry. So this is working as expected.

[2015-09-13 19:17] juherr commented on #793
Potential duplicate of #474

[2015-09-14 01:40] rschmitt commented on #792
It does, however, look like the `@AfterMethod` is being called prematurely.

[2015-09-14 01:55] prvn133t commented on #792
@rschmitt  : Do you have a test? I can debug the code.

[2015-09-14 03:19] rschmitt commented on #792
Says who? Look at his console output again:

[code]

It's an invariant violation for the `@AfterMethod` here to run _between_ tests, isn't it?

[2015-09-14 03:34] prvn133t commented on #792
@rschmitt  : I totally agree what you're saying. All I'm saying is, this defect context doesn't reflect actual bug in testng.

There should be a new defect for "Retry analyzer not calling BeforeMethod & AfterMethods if it's specified in a `Test Class`"

[2015-09-14 11:43] Elisedlund commented on #767
Big thanks Alex!
Yes removing the IInvokedMethodListener from my listener class makes the ISuiteListener method only execute once instead of twice as before,

So the bug here is that its not possible to have ONE listener that implements both IInvokedMethodListener and ISuiteListener when the single listener is defined with the annotation @Listeners
However using this single aggregate listener impl

[2015-09-14 11:46] mhereu commented on #793
@prvn133t if the current behavior is the expected, the code is working fine, but is not in the common sense way :)
In the Priority documentation said that all test has priority=0 by defaults, so I assumed that when I designed the test execution order, because of this issue I removed the dependsOnMethods and use Priority in all the tests.
@juherr I also tried that way and I had the same problem, th

[2015-09-14 16:05] #120 closed

[2015-09-18 06:32] gitpavi commented on #436
Facing the same issue. Is there any solution for the same?

[2015-09-18 09:03] anupchandak commented on #800
Hi - I have created a simple project having two test classes TestNGTest1 & TestNGTest1. Each of them are simply printing SoP.
Each of these classes are called under different ***test*** tag in testng.ml
This project is packaged as jar file and being executed via build file external to it.

Whenever I run target *run-unit-test* from my build.xml, I get SoP from both classes irrespective of what val

[2015-09-18 09:07] martinaldrin opened #802 "TestNg 6.9.5 do not behave as 6.8.x do."
When we did a uplift of TestNg the we saw a that expectedException behaves differently.
@Test(expectedExceptions = SkipException.class)

[2015-09-18 09:09] juherr commented on #800
Could you share this project? It will really help ;)

[2015-09-18 10:57] anupchandak commented on #800
Yeah. First time I am using GitHub to do sharing so setting up repository. Give me some time.

[2015-09-18 11:18] anupchandak commented on #800
I have created public repository (https://github.com/anupchandak/Test) where you can find a build.xml and all other required lib for reproducing above issue.
If you want to look into testNG code whichi have written for this test thenyou can check at (https://github.com/anupchandak/TestNGTest)

I hope this helps you. IF you need any more information then do let me know.

One more thing. I am able t

[2015-09-18 13:15] juherr commented on #800
Ok, thank.

First thing, could you try with the latest TestNG version (6.9.6)?

[2015-09-18 13:49] juherr commented on #436
@gitpavi With which version of TestNG? Could you share a project that shows the issue?

[2015-09-18 13:52] juherr commented on #802
Duplicate of #773 and fixed with #774.
It will be available in the next TestNG release.

[2015-09-18 13:52] #802 closed

[2015-09-18 16:59] gitpavi commented on #436
@juherr I have used 6.9.6 version of testNg and the error below.

<dependency>
			<groupId>org.testng</groupId>
			<artifactId>testng</artifactId>
			<version>6.9.6</version>
			<scope>compile</scope>
		</dependency>

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.18.1:test (default-tes

[2015-09-18 17:02] gitpavi commented on #436
Pom.xml used

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.zoho.showTime</groupId>
	<artifactId>ShowTime</artifactId>
	<version>0.0.1-SNAPSHOT</version>
	<packaging>jar</packaging>
	<name>S

[2015-09-18 17:09] juherr commented on #436
Thank

[2015-09-19 19:22] juherr commented on #791
@nemesis13 Did you solve your problem? Could we close the issue?

[2015-09-19 19:51] juherr commented on #767
@Elisedlund I'm not able to reproduce your issue. Could you have a look on #803 and tell me if you see something wrong?

[2015-09-19 20:29] juherr commented on #795
@Elisedlund I'm not able to reproduce your issue. Could you have a look on #805 and tell me if you see something wrong?

[2015-09-19 20:31] juherr commented on #797
Duplicate of #794

[2015-09-19 20:31] #797 closed

[2015-09-19 20:57] juherr commented on #491
I'm not able to reproduce the issue. Could you have a look on #806 where I added a test and tell me if you see something wrong?

[2015-09-19 21:05] juherr commented on #776
Duplicate of #356

[2015-09-19 21:55] juherr commented on #784
Done: https://youtrack.jetbrains.com/issue/IDEA-145327

[2015-09-19 22:11] juherr opened #807 "testng-6.9.6 git tag is missing"

[2015-09-19 22:18] juherr commented on #436
@gitpavi Could you share your `testng.xml` too?

[2015-09-19 22:40] juherr commented on #800
`testnames` is not doing what you expect. [The documentation](http://testng.org/doc/ant.html) says:

What you should use is `classfilesetref`.

[2015-09-19 23:30] juherr commented on #799
Workarround: add `toString()` to `TestTest`.

The `Comparator` is on `Graph.Node` and used during `Grapg#topologicalSort`.

A comment says:

   // get run close to each other as much as possible

[2015-09-20 02:41] anupchandak commented on #800
Hello! Ok. I will surely try to see if I can use `<classfilesetref>`. Do you have any handy example about its usage?

But still I have a question is why then behavior of `<testnames>` is different when it is used in Eclipse workbench than when its used for packaged JAR? Isn't that should be same?

Moreover, I do not think that I have used `<testnames>` wrongly. As documentation says I can provide

[2015-09-20 06:01] juherr commented on #800
My bad, you right. It was a bit too late yesterday.

BTW, you can try to use the long name of classes.
For examples, you can ask on stackoverflow.com or on the mailing list. I haven't used ant for years.

[2015-09-20 06:51] anupchandak commented on #800
HI - Yes, I got the way to use `<classfilesetref>` but frankly speaking, ideally I would not like to use that. Mine is a complex application with around 25 to 30 different projects with number of people working on it across glob and adding test cases. For simplicity we planned to categorized them in two sets - Unit Test and Integration Test. If I start keeping track of classes then it will be too

[2015-09-20 07:00] juherr commented on #800
In fact, `<testnames>` with ant should work [like the command line](http://testng.org/doc/documentation-main.html#running-testng) because it is what the ant taks in doing.

According the code, `<testnames>` are the provided names of `<test>` from the `testng.xml`.

[2015-09-20 07:02] juherr commented on #154
Fixed by #804

[2015-09-20 07:02] #154 closed

[2015-09-21 05:21] gitpavi commented on #436
@juherr I have fixed the issue. I did not add the test base class in testng.xml that actually cause the above issue. Thanks for the support :+1:

[2015-09-21 07:53] juherr opened #809 "NPE when root node name in testng.xml is invalid"
From @gitpavi

[code]

[code]

[2015-09-21 07:54] juherr commented on #436
@gitpavi Ok, but NPE should not happen anyway. That why I'd like to fix it.

Could we continue the discussion on #809?

[2015-09-21 07:55] juherr commented on #809
@gitpavi Could you share `testng.xml` and some classes to reproduce the NPE?

[2015-09-21 14:10] emmahuang commented on #106
still facing this problem confused!

[2015-09-22 07:56] gitpavi commented on #809
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.zoho.showTime.testCases.PresentationSlideShowValidation"/>
      <class name="com.zoho.showTime.testCases.AudienceValidation"/>
       This class was missing which lead to     NPE
      <class name="com.zoho

[2015-09-22 08:01] gitpavi commented on #809
@juherr Please find my project
https://github.com/gitpavi/ShowTime
The below mentioned class was missing in the testng.xml which actually caused the above mentioned issue.

[2015-09-22 08:27] juherr commented on #809
Strange, I succeed to run tests without the TestBase declaration.

How do you run it? With eclipse? Command line? Which version of eclipse, maven, java?

[2015-09-22 09:23] gitpavi commented on #809
I was got the error while running it on my eclipse and command line as well

[2015-09-22 09:26] gitpavi commented on #809
Below is the content of my Testng.xml which caused this exception

<Suite name="ShowTime" verbose="3" parallel="none">

	<test name=" Demo 1" preserve-order="true" >
			<classes>
			 <class name="com.zoho.showTime.testCases.AudienceValidation" />
			 <class name="com.zoho.showTime.testCases.SetAudienceKeyValidation" />
			 <class name="com.zoho.showTime.testCases.PresentationSlideShowValidation" /

[2015-09-22 09:36] juherr commented on #809
Do you mean without `<suite>` node? It can explain the NPE, but not it is possible you succeed to run it.

[2015-09-22 09:41] gitpavi commented on #809
I missed to paste the suite tag in the above code but it was there when I faced this issue. So What do you this cause this NPE @juherr ?

<Suite name="ShowTime" verbose="3" parallel="none">

	<test name=" Demo 1" preserve-order="true" >
			<classes>
			 <class name="com.zoho.showTime.testCases.AudienceValidation" />
			 <class name="com.zoho.showTime.testCases.SetAudienceKeyValidation" />
			 <cla

[2015-09-22 09:44] juherr commented on #809
I suppose NPE is from this line `m_suite.getTests().add(this);`
But `m_suite` and `m_suite.getTests()` are not supposed to be null... never.

As I can't reproduce, it is difficult to be sure.

[2015-09-22 09:51] gitpavi commented on #809
Oh okay. Thanks for that info.

[2015-09-22 10:52] juherr commented on #809
I got it! `<suite>` is working when `<Suite>` will make the NPE!

[2015-09-22 10:55] gitpavi commented on #809
@juherr  :+1:

[2015-09-22 11:30] juherr commented on #809
I won't fix it because it is not as easy as expected and I think the xml parer should be reworked.
A good practice is to valid xml with the DTD too.

[2015-09-22 12:34] nemesis13 commented on #791
I don't like the idea of working around type safety and field visibility, but it would work I guess. If you think listeners per instance are overkill, I'm okay with that. I'll stick to my workaround then.

Thanks for your responses. Closing this now.

[2015-09-22 12:34] #791 closed

[2015-09-22 12:49] juherr commented on #791
You can avoid the reflection by using interface, where all your tests will implement it:

[code]

and

[code]

[2015-09-23 05:32] gitpavi commented on #809
@juherr  Sure Thank you for the support :+1:

[2015-09-23 15:56] TheLQ opened #810 "Regression: Adding jar to classpath at runtime in TestListenerAdapter fails in 6.9.6 but works in 6.9.4"
I need to load a platform specific jar (Eclipse SWT) at runtime. My Maven config looks like this

[code]

BBTestInit is a TestListenerAdapter which in it's constructor adds the correct jar to the classpath. I've also tried it when overriding onStart and onConfigurationSuccess. All fail in 6.9.6 and 6.9.5 with

[code]

Once again in 6.9.4 this works without issues. I think this might be related to

[2015-09-23 16:05] TheLQ commented on #810
I should clarify none of the methods or fields have SWT classes in the TestListenerAdapter  nor in the class that contains the code below which would trigger a classload. This is what load's the JAR

[code]

[2015-09-23 19:44] juherr commented on #810
The stacktrace doesn't show any testng class. It's difficult to a say it's a TestNG issue.

Then, you are not supposed to modify the classloader with TestNG... It worked before due to the issue you pointed.

Why not using maven profiles where you add the appropriate dependencies depending on the system?

[2015-09-23 20:19] TheLQ commented on #810
I've narrowed it down as far as I can, it's always reproducible by changing the TestNG version. Surefire was released in December 2014, before 6.9.4, so AFAIK there's no version specific checks.

The reason we do this is because we release a platform-independent zip which contains all the platform-specific JARs, and the right one is loaded at runtime. Maven profile's won't help with that (and mean

[2015-09-23 20:30] juherr commented on #810
It appears surefire is not able to find the class.

As I understand:
Before, TestNG and surefire shared the same classloader.
After, they have their own class loader.

IMO, surefire should not look for the class. That's why I suppose it is more a surefire issue then a TestNG one, even if we didn't see it before.

[2015-09-23 20:36] TheLQ commented on #810
Should I open a issue with surefire then?

[2015-09-24 07:00] anupchandak commented on #800
Yes, so will you be taking this as defect? and opening it ?

[2015-09-24 07:11] anupchandak commented on #800
Moreover I as well tried using `<classfileset >`, but no luck.

	<target name="run-unit-test">
		<testng classpathref="Test.classpath" testjar="TestNGTest.jar">
			<classfileset dir=".">
				<include name="**/*1.class"/>
			</classfileset>
		</testng>
	</target>

[2015-09-24 08:17] juherr commented on #800
As I understand, `testnames` need a `testng.xml`.

[2015-09-24 08:17] juherr commented on #810
Yes, I suppose.

@Tibor17 What do you think?

[2015-09-24 08:26] anupchandak commented on #800
yes- `testng.xml` is very much part of the JAR (which I shared). kept at its root.

[2015-09-24 08:53] juherr commented on #800
Ok, I think I understand the use case.
I found a test which should test the feature (`JarPackagesTest`) which is never run.

The test has to be added in the suite, fixed and we will see if it reproduce the issue.
I can't tell when I will do it. But if you want try, you're welcome :)

[2015-09-24 12:58] michael-yxf opened #811 "timeout setting not working in parallel="tests" mode"
When the attribute parallel is set to "tests", the suite level timeout doesn't work as expected, although the main thread report that the test finished already, but the individual tests actually still keep running until the end.

With parallel="tests" mode, the test level timeout just get ignored by using the default timeout value - infinity.

Communicated with Krishnan Mahadevan in groups, and us

[2015-09-24 18:13] Tibor17 commented on #810
The surefire configuration starts just one forked jvm similar to starting a console application `java -cp ...`. We do not make Test class lookup in ClassLoader. The only thing we are doing and we always did was to start SurefireProvider via context ClassLoader `Thread.currentThread().getContextClassLoader()` which should, in normal circumstances, refer to System ClassLoader.
I strongly believe som

[2015-09-24 19:22] TheLQ commented on #810
I have a simple example here to reproduce the problem with a simpler commons-lang3 dependency: https://github.com/TheLQ/testng810 . The pom contains a profile to include commons lang, and another to exclude it. Both set the listener property to InitListener which is a TestListenerAdapter and will load the commons-lang jar if it's not on the classpath. There is a simple test SomeTest with a method

[2015-09-24 20:09] Tibor17 commented on #810
I guess you need to run tests, first with commons-lang3 and later without it.
Surefire does not use own ClassLoader by default. If forkCount and forkMode is not used in surefire configuration, then single surefire process is used and system CL.

Why you are hacking ClassLoader `urlClass.getDeclaredMethod("addURL", new Class<?>[]{URL.class});?

I think nobody who knows Maven regular basis would be

[2015-09-24 20:53] TheLQ commented on #810
Because as I said above our app is distributed as a single platform independent zip that contains all the platform-specific jars, and the correct one is loaded at runtime. We've had many problem's in the past with profile's and 32bit/64bit detection, and anyway profile's won't solve how the end user (not the developer) loads their platform-specific JAR nor testing that functionality.

I agree the

[2015-09-24 21:05] Tibor17 commented on #810
try to add jar file to CL like this
http://maven.apache.org/surefire/maven-surefire-plugin/examples/configuring-classpath.html

[2015-09-24 21:11] Tibor17 commented on #810
you can you maven-failsafe-plugin with multiple executions in the Maven phase integration-tests and verify

[2015-09-25 13:37] pfumagalli commented on #733
I managed to get a simple Instrumentation and test runner on Android... We just had way too many tests written in NG for a bunch of libraries we're "porting" to Android, and converting back was *NOT* an option.

If you folks are interested, it's here...

https://github.com/LemonadeLabInc/android-testng

[2015-09-25 14:26] juherr commented on #733
:+1: I updated the wiki https://github.com/cbeust/testng/wiki/3rd-party-extensions

[2015-09-25 16:58] #784 closed

[2015-09-26 12:50] juherr commented on #810
@TheLQ You should definitely try again to use profiles [activated by os and arch](http://maven.apache.org/enforcer/enforcer-rules/requireOS.html).

[2015-09-26 22:30] Tibor17 opened #813 "NoSuchMethodError: org.testng.xml.XmlSuite.setParallel(Ljava/lang/String;)V"
I run the master branch because of testing a fix in surefire project and my integration test fails on
java.lang.NoSuchMethodError: org.testng.xml.XmlSuite.setParallel(Ljava/lang/String;)V

[2015-09-27 03:58] cbeust commented on #813
This method changed signature a while ago, I'm betting you have a very old testng.jar somewhere in your classpath.

[2015-09-27 06:17] juherr commented on #813
Not a so long time: https://github.com/cbeust/testng/pull/769 (not yet released).
I will add and deprecate the string method.

[2015-09-27 14:17] #813 closed

[2015-09-28 20:49] Tibor17 commented on #810
@TheLQ
You are too quite. Does it mean that you have realized a solution?

[2015-09-29 00:57] TheLQ commented on #810
Like I said, I'm well aware of maven profile's, when I tried them before it didn't work on anybody's elses machine that ran Eclipse. I tried for a few days but the only 100% reliable solution was runtime adding of platform-specific JARs. And because 5 people couldn't figure it out and couldn't work because they all ran Eclipse, that's the solution I went with.

maven-failsafe-plugin is an interest

[2015-10-01 21:39] ecbrodie commented on #151
Hi Cédric,

I've actually run into this issue as recently as last week. I am working on a web server that relies on the Facebook Graph API. I had a test class that had some test methods relying on code hitting the Graph API, with other test methods not needing to rely on that service at all. Then, there was a global outage on Facebook as a whole for more than an hour. This resulted in some of the

[2015-10-01 22:30] cbeust commented on #151
@ecbrodie This is already supported (try it!) but there is a caveat: every individual method that has a `@Test` annotation will re-enable the test.

[code]

[code]

This is due to the semantics that attributes at the method level override attributes defined at the class level, so the method level `@Test` annotation is basically saying `@Test(enabled = true)` since it's the default value...

Makes

[2015-10-02 03:54] ecbrodie commented on #151
Hi @cbeust , thanks for that example, but that was already the understanding of the problem, so I think you may have misunderstood me. That point that I was trying to make was, given the current semantics of @Test(enabled=true/false) and the desire to have a way to indeed specify an override of enabled on the class level to ignore whatever is set at the method level, perhaps it is time to reconsid

[2015-10-02 04:36] cbeust commented on #151
Agreed, I think a `@Test(enabledClass)` would make sense and it's the only way to implement your suggestion without breaking backward compatibility.

[2015-10-02 09:57] juherr commented on #151
I'm not feeling it good. I don't like the idea to add a new attribute which only be used on class.
Then, I think `enable=false` is a bad practice when used in source because you'll have to modify sources when you want to run the tests.
IMO, if you want to unselect a class, `testng.xml` should be used instead.
@ecbrodie How do you run your tests?

BTW, what I propose instead is to provide a `IAnnot

[2015-10-02 13:48] nemesis13 commented on #791
The problem is not getting the driver but to distinguish them. If you create multiple instances of the same test class e.g. using a Factory the BeforeClass gets invoked every time. Since I can add this listener only to the whole suite I add the same listener to the same suite multiple times and end up having multiple listeners triggered at once on every method.

I guess I could use BeforeSuite for

[2015-10-02 14:01] juherr opened #815 "@Listeners doesn't work with InvokedMethodListener"

[2015-10-02 14:17] juherr commented on #791
Why would you like to distinguish them when you have the possibility to get it from the test itself?

Maybe you should share a project,  as little as possible, that I can run.

[2015-10-02 16:09] cbeust commented on #151
@juherr Cool PR, it's indeed very simple to do with an `IAnnotationTransformer`.

My only concern is that for the user, it's a bit more arcane to use, as opposed to an `enabledClass` attribute.

Note that we already have a few attributes that are only applicable at the class level (`suiteName`, `testName`).

[2015-10-02 20:49] juherr commented on #151
As I said, I don't like the use case. And I suppose it will be enough for the only 2 persons who asked it in the 4 last years :)

[2015-10-02 22:27] cbeust commented on #151
@juherr Fair enough.

@ecbrodie What do you think of the PR?

https://github.com/cbeust/testng/pull/816

[2015-10-04 10:37] sureshgupta-cpi commented on #188
Cedric - I also see the same issue. Test methods run in different threads but the execution is sequential i.e. Test2 starts on a new thread only after Test1 finishes.

[2015-10-05 06:17] TanujSinghAtcs opened #817 "Installation Problem in myeclipse Bling (2010 - 2013)"
I am facing a problem with TestNG plugin in Bling. It is being installed properly but not showing any view of TestNG. Myeclipse Bling has got just the JUnit in Window -> Preferences -> Java -> JUnit but I can't see TestNG.

I have used below steps to Install the plugin.
1. Open MyEclipse IDE
2. From menu options click on Help > MyEclipse Configuration Center
3. Choose the Software tab
4. Click on

[2015-10-05 09:38] missedone commented on #817
hi,
i am not familiar with myeclipse, but do you see any relate log in error viewer: click window on top level menu -> show view -> other -> error.

[2015-10-05 10:49] juherr commented on #188
@sureshgupta-cpi Could you share a project that shows the problem? (or maybe propose a PR with a test)

[2015-10-05 11:22] verhagen commented on #817
Check to see if the TestNG is correct installed in Eclipse:

1. Use Eclipse menu: _Window -> Show View -> Other..._
1. The dialog _Show view_ opens
1. In the tree open the node __Java__
1. There should be a view __TestNG__ avaiable

[2015-10-05 11:30] sureshgupta-cpi commented on #188
TestNG Version: 6.9.4
JDK: 1.8

parallesuite.xml:

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Issue Suite" parallel="methods" thread-count="3" verbose="1">
	<test name="Test1" preserve-order="false">
		<classes> <class name="script.ParallelTest"></class> </classes>
	</test>
	<test name="Test2" preserve-order="false">
		<classes> <class name="script.ParallelTe

[2015-10-05 11:35] sureshgupta-cpi commented on #188
TestNG Version: 6.9.4
JDK: 1.8

parallelsuite.xml
<suite name="Parallel Issue Suite" parallel="methods" thread-count="3" verbose="1">
	<test name="Test1" preserve-order="false">
		<classes> <class name="script.ParallelTest"></class> </classes>
	</test>
	<test name="Test2" preserve-order="false">
		<classes> <class name="script.ParallelTest"></class> </classes>
	</test>
	<test name="Test3" preserve

[2015-10-05 12:15] sureshgupta-cpi commented on #188
TestNG Version: 6.9.4
JDK: 1.8

parallelsuite.xml:

    <suite name="Parallel Issue Suite" parallel="methods" thread-count="3" verbose="1">
    	<test name="Test1" preserve-order="false">
    		<classes> <class name="script.ParallelTest"></class> </classes>
    	</test>
    	<test name="Test2" preserve-order="false">
    		<classes> <class name="script.ParallelTest"></class> </classes>
    	</test

[2015-10-05 17:18] cezarykluczynski opened #818 "@Only annotation"
Feature request. @Only annotation would be similiar to Mocha's only method: https://mochajs.org/#exclusive-tests

Whenever a @Only annotation is found anywhere in a project, only those classes and methods that have it, will be executed.

What do you think?

[2015-10-05 18:46] cbeust commented on #818
Interesting, I like the idea. I'm guessing the goal is for when you work on individual test methods?

Right now, I create a `testng-single.xml` that contains just that test but your suggestion is much more convenient, thanks!

[2015-10-05 18:49] rschmitt commented on #818
IntelliJ already supports this (Eclipse probably does as well), and I'm not sure where you'd need a non-interactive version of this functionality.

[2015-10-05 19:15] cezarykluczynski commented on #818
@cbeust Yes, that's the goal.

@rschmitt Not everyone uses IDE (right now, I mix IntelliJ with Sublime), and not every environment is interactive, like a CI server. I guess that's just a different way of doing things that can done using a separate XML config or a "maven test -Dtest=ClassName" command.

[2015-10-06 04:57] TanujSinghAtcs commented on #817
Thanks for the reply.
In Eclipse it is working but not for myeclipse bling 2010 version. After proper installation also its not showing any TestNG view.

[2015-10-06 14:24] juherr commented on #592
Should be fixed by #819

[2015-10-06 14:24] #592 closed

[2015-10-07 15:26] nemesis13 commented on #791
Distinguish as in "run the listener only once per instance" as opposed to "run each listener for each instance" which has horrible side-effects if you add the listener based on class. However, using one listener per suite should solve this.

[2015-10-07 16:51] juherr commented on #791
In fact, listeners should be suite scoped IMO and I made some pr about it. Maybe IInvokedMethodListener was not yet updated and maybe I should do it. I will have a look asap.

[2015-10-07 18:13] nmiroshnichenko commented on #583
Hi, how do you think about marking failed tests that are to be retried as 'SUCCESS_PERCENTAGE_FAILURE' and not 'SKIP' and test failed after the last retry - as usual 'FAILURE'?
In our tests we had to do this workaround, see inlined comments:
[code]

[2015-10-07 19:36] smaudet commented on #780
Will have to dig it up but we've been waiting nearly 2 months. I will try to put the PR together rather than wait longer...lest this issue is forgot.

[2015-10-07 20:18] nmiroshnichenko commented on #583
And I think "failures-to-be-retried" should be reported (with some "non-final-failure-status"), user can ignore such status, but other users wish to track such non-final-failures. For example, we log such failures as ordinary failures (with stack traces and screenshots) with just a little (but clearly visible) addition to the message like "ERROR: Test <class.method(params)> failed but WILL BE RETR

[2015-10-07 20:45] juherr commented on #780
Ok! Don't forget to add some tests.

[2015-10-07 21:21] BearSmash commented on #506
+1

[2015-10-09 10:29] nemesis13 commented on #791
It is suite scoped. If you want your listener to run on specific classes or instances you have to do that all in the listener. This is the whole point of this feature request.

[2015-10-09 12:49] juherr commented on #791
Good!

Ok, that's why I'm trying to understand why you want it, because I'm sure you don't need it ;)
But without a concrete example, it is difficult to try and propose things.

[2015-10-10 06:43] pradeepgoyal opened #820 "After getting update tesng (6.9) in my eclipse IDE, Not able to run testng.xml"
I just updated testng in eclipse IDE or install new testng software with my eclipse using youu given URL
- http://beust.com/eclipse/
After that i am not able to run my test case by tesng.xml but i am able to run test case (.java class) separately by testng.

Note: on click on "http://beust.com/eclipse/", i am also getting below error :-
Forbidden
You don't have permission to access /eclipse/ on th

[2015-10-10 07:23] verhagen commented on #818
@cezarykluczynski this @Only would be kind of counterpart of @Ignore ?

[2015-10-10 07:32] cezarykluczynski commented on #818
@verhagen That's right, instead of removing an annoted test from the list of tests to execute, like @Ignore does, it would construct a list of tests to execute from only those tests that are annotated with @Only.

[2015-10-10 09:44] verhagen commented on #820
After downloading [Eclipse Mars (v4.5) for Java development](http://www.eclipse.org/downloads/) and installing TestNG through the [Eclipse Market Place](http://marketplace.eclipse.org/content/testng-eclipse). This installs the same version as when done through Eclipse Update site (http://beust.com/eclipse/).

Then successfully run the test cases through the _Eclipse Run As -> TestNG Tests_.

As we

[2015-10-10 19:50] Tibor17 opened #821 "Release Plan 6.9.7"
There is a chance to include one more bug fix TestNG provider in surefire-plugin due to I have to repeat ASF Vote and release.
When we want to release testng:6.9.7 ?

[2015-10-10 19:51] Tibor17 commented on #821
@cbeust
Do you have a lot of pending issues in backlog for 6.9.7?

[2015-10-11 03:36] cbeust commented on #821
@Tibor17 No rush to ship 6.9.7, go ahead and keep me posted.

Thanks!

[2015-10-11 04:32] Tibor17 commented on #821
@cbeust Then sorry.

[2015-10-11 04:32] #821 closed

[2015-10-11 04:45] cbeust commented on #821
I'm confused, sorry about what? Did I misunderstand what you said?

My understanding was that you're asking me to hold the 6.9.7 release so you can have some time to do a fix on your end, did I get that wrong?

[2015-10-11 05:09] Tibor17 commented on #821
To hold? No, opposite.
The situation in ASF is that we called a Vote fore surefire-plugin release.
The Vote was not successful and I have a little time till we start a new
Vote since I fixed some issues and I am waiting for response from people
who performs test. This means there is a chance to document a fix that we
done in surefire which depends on TestNG would require a new version of
TestNG. S

[2015-10-11 05:21] juherr commented on #821
+1 for the 6.9.7 release

[2015-10-11 05:32] Tibor17 commented on #821
Guys, I don't want to make stress.
Example, on my side in Surefire project I started Vote for the release
after 9 months, was never longer before, because there was a big rework and
I still was not convinced about stability of s/w. Many people pleased me to
make the release but I did not make it because there was quality reason.

On Sun, Oct 11, 2015 at 7:21 AM, Julien Herr <notifications@github.c

[2015-10-11 06:32] cbeust commented on #821
No worries at all, I'm happy to ship 6.9.7 right now, so I'll go ahead and
do that shortly.

Thanks again for your help, Tibor!

--
Cédric

On Sat, Oct 10, 2015 at 10:32 PM, Tibor Digana <notifications@github.com>
wrote:

[2015-10-11 07:16] Tibor17 commented on #821
@cbeust @juherr I appreciate.

[2015-10-12 06:16] verhagen commented on #820
@pradeepgoyal There is indeed an issue with, running TestNG test form a testng.xml file. Can you confirm the issue description and also if the workaround works for you?

__Issue Description__
When selecting a `testng.xml` file from the _Package Explorer_ view, and use the right mouse button menu: _Run As -> TestNG Suite_, then it will not run the tests.

__Workaround__
- From the Eclipse menu sele

[2015-10-12 08:11] missedone commented on #820
I confirm it's a bug, will fix it later.

[2015-10-12 08:47] varunsharma09 commented on #820
suggested work around fails with inherited classes.

[2015-10-12 08:49] Elisedlund commented on #767
Work as expected now.(with IInvokedMethodListener)
Tried again today with 6.9.7-SNAPSHOT (same version i tried with before, probably the #781 was not deployed when I tried)

Thanks your help, Looking forward to a release.

[2015-10-12 08:49] #767 closed

[2015-10-12 08:54] Elisedlund commented on #795
Hi
With the latest 6.9.7-SNAPSHOT it works a lot better now.
The suitelistener executes only once now as expected.

However the IExecutionListener still executes twice which I think it shouldn't

'''
onExecutionStart()
onExecutionStart()
onStart(ISuite suite)
onStart(ITestContext context)
intercept(List<IMethodInstance> methods, ITestContext context)
intercept(List<IMethodInstance> methods, ITestC

[2015-10-12 08:58] missedone commented on #820
@varunsharma09

are you facing the issue similar as https://github.com/cbeust/testng-eclipse/issues/70 ?

[2015-10-12 09:05] juherr commented on #795
Right, I'm agree.

And what do you thkin about `IMethodInterceptor`?

[2015-10-12 11:22] Tibor17 commented on #821
@cbeust
The Version 6.9.7 was compiled with Java 8.
Is it correct?

[2015-10-12 11:47] juherr commented on #821
As I remember it was not planned and I didn't see changes that need Java8. I supposed something gone wrong at the release time x]

[2015-10-12 12:10] Tibor17 commented on #821
The classes in old Version 6.9.6 were compiled with Java 7:
major version number of the class file format being used.
J2SE 7 = 51 (0x33 hex),
https://en.wikipedia.org/wiki/Java_class_file
Usually I open JAR file and pickup any class and open it as text editor in hexa binary mode.
I see this:
CA FE BA 00 00 00 33| etc
0x33 means Java 7

[2015-10-12 12:16] juherr commented on #821
Don't worry. I think @cbeust will deploy a 6.9.8 with Java7 soon.

[2015-10-12 12:17] Tibor17 commented on #821
Thx a lot.

[2015-10-12 12:20] Tibor17 commented on #821
I see in Maven Central that some versions are missing. This is maybe because of those versions were dropped for some reason. Maybe we should do it with 6.9.7.

[2015-10-12 13:11] juherr commented on #821
+1

[2015-10-12 13:40] dr29bart opened #822 "6.9.7 Required JDK 8"
IDEA or Eclipse fails to launch tests on JDK 1.7:

[code]

[2015-10-12 14:33] cbeust commented on #821
My bad, I deployed with a different computer that uses Java 8 by default,
I'll push 6.9.8 shortly.

--
Cédric

On Mon, Oct 12, 2015 at 6:11 AM, Julien Herr <notifications@github.com>
wrote:

[2015-10-12 16:39] cbeust commented on #822
Just deployed 6.9.8 to JCenter, which should fix this problem.

[2015-10-12 16:40] Tibor17 commented on #821
@juherr
Offtopic issue.
I need someone experienced in TestNG for explaining. Can you please have a look in [1]. I am a little bit lost of the behavior of surefire and TestNG. I don't know now which one fails.
[1] https://issues.apache.org/jira/browse/SUREFIRE-983

[2015-10-12 16:40] #820 closed

[2015-10-12 16:45] cbeust commented on #821
Quick thought after reading the issue: does the reporter mean to use
@AfterMethod instead of @AfterTest?
​

--
Cédric

On Mon, Oct 12, 2015 at 9:40 AM, Tibor Digana <notifications@github.com>
wrote:

[2015-10-12 16:49] Tibor17 commented on #821
@cbeust
That's also not clear to me because he used AfterClass in his code however he mentioned AfterTest.
After using @AfterMethod and TestNG 5.10 or 6.9.6 the @AfterMethod was called three time which means once per test method. This looks like user/reporter error. What do you think?

[2015-10-12 16:58] cbeust commented on #821
No other thought right now, I haven't looked at the attachments yet.

--
Cédric

On Mon, Oct 12, 2015 at 9:49 AM, Tibor Digana <notifications@github.com>
wrote:

[2015-10-12 17:18] Tibor17 commented on #821
@cbeust
No problem.
Forget it. I already closed that issue.
Thx for hint.

[2015-10-12 17:21] cbeust commented on #821
6.9.8 is now available on JCenter (and soon on Maven Central). The binaries
should be 1.7.

--
Cédric

On Mon, Oct 12, 2015 at 7:33 AM, Cédric Beust ♔ <cedric@beust.com> wrote:

[2015-10-12 18:25] Tibor17 commented on #821
Thank you. I will continue wih Surefire release tomorrow.

On Mon, Oct 12, 2015 at 7:21 PM, Cedric Beust <notifications@github.com>
wrote:

--
Cheers
Tibor

[2015-10-12 20:55] Stephan202 commented on #807
Idem for 6.9.7 and 6.9.8.

[2015-10-12 21:49] JayVem opened #823 "supporting parameters at method level?"
Is it possible to support special parameters at method level?
For instance,
[code]
I am trying to achieve this by modifying testng code - I would appreciate any guidance/start for this.

[2015-10-12 22:44] #807 closed

[2015-10-12 22:44] cbeust commented on #807
Done.

--
Cédric

On Mon, Oct 12, 2015 at 1:55 PM, Stephan Schroevers <
notifications@github.com> wrote:

[2015-10-12 22:45] cbeust commented on #823
No, you should use a `@DataProvider` for this.

[2015-10-13 04:03] JayVem commented on #823
@cbeust, the challenge with `@DataProvider` is that it cannot be defined from testng.xml? The reason for passing this parameter, is that the data for method comes from a database and this parameter is the primary key. I want to use this key, fetch data, create a dataobject for the method at runtime using reflection. So, in short, even if I use a DataProvider, I have to pass a value at runtime to i

[2015-10-13 04:24] cbeust commented on #823
You can define a limited amount of parameters in your `testng.xml`:

http://testng.org/doc/documentation-main.html#parameters-testng-xml

--
Cédric

On Mon, Oct 12, 2015 at 9:03 PM, JayVem <notifications@github.com> wrote:

[2015-10-13 06:35] Elisedlund opened #824 "IMethodInterceptor executed twice"
The intercept method in IMethodInterceptor is always executed twice. it should probably only be executed once?

simple testcase and simple IMethodInterceptor:
[code]
console output:
[code]

[2015-10-13 06:40] Elisedlund commented on #795
Yes I think the IMethodInterceptor should probably just be executed once.
Right now its seems to be executed twice no matter of the setup,(Listener annotation, xml suite defined, multiple Test tags etc)

Wrote a new issue on that: #824

[2015-10-13 07:28] juherr commented on #795
Thank! I will try to fix it.

[2015-10-13 12:48] nemesis13 commented on #791
Sorry, too lazy for concrete example ;-)

Yet another theoretical example:
You have a suite with one WebDriver test class and a unit test class. You want the listener to only do anything on the WebDriver enabled class. However, instead of attaching the listener to the class you'll instead have to put that logic inside the listener.

[2015-10-13 12:56] juherr commented on #791
Yep, but in this case, you can use @BeforeX/@AfterX methods ;)

[2015-10-13 12:59] juherr commented on #807
6.9.6 is still missing :cry:

[2015-10-13 13:06] juherr commented on #822
Available on [maven central](http://search.maven.org/#artifactdetails%7Corg.testng%7Ctestng%7C6.9.8%7Cjar) too.

I will reopen the issue if 6.9.8 doesn't fix your problem.

[2015-10-13 13:06] #822 closed

[2015-10-13 13:09] dr29bart commented on #822
Verified. The issue is gone.

[2015-10-13 14:30] cbeust commented on #807
Yeah, bit late for this and I don't feel like digging through the history to find the right cut out time stamp.

Is it important for you?

[2015-10-13 15:35] nemesis13 commented on #791
Sure. But it just happens that I use the @Before and @After annotations as parts of the tests sometimes. For example, I put test preconditions into a @BeforeClass method. If something fails there, how do I execute my analysis code (i.e. try to take screenshot)?

[2015-10-13 16:00] juherr commented on #807
Nope ;)

[2015-10-13 16:55] juherr commented on #791
Preconditions are not supposed to fail. Otherwise, you can use a precondition test method + `dependsOnMethods` on others tests + `@AfterClass(alwaysRun=true)`.

[2015-10-13 20:07] verhagen commented on #817
Do you know on which version of Eclipse _Bling 2010_ is based? Maybe some older Eclipse 3.x release. If so you would probably need an older version of _TestNG for Eclipse_.

[2015-10-13 21:20] JayVem commented on #823
Aren't these parameters at suite level? What if I wanted to create a complex data type. For instance, consider this code...

[code]

The Employee parameter that is being sent to calculateBenefits method has to be created from the database. How would I achieve this? I would like to pass a primary key and inside the calculateBenefits method, I want to read this primary key, fetch data from db and cr

[2015-10-13 23:30] juherr commented on #823
You can mix data provider + parameters. Your data provider will take primary key from the parameter and will create your Employee object. Then your test method will use the data provider.
Easy! ;)

[2015-10-14 05:39] JayVem commented on #823
@juherr Could you give me an example of how I can I have multiple parameters at method level, each going to a dataprovider ?

[2015-10-14 06:26] JayVem commented on #823
@juherr To simplify my question, I am programmatically generating a testng.xml. Now, let's say I have a method modifyEmployee(Employee employee). I need to create an xml in such a way that this method is invoked 4 times, but each time with a different Employee. I would know the primary key of each of these employees at the time of creating testng.xml. So, what is the best way to achieve what I am

[2015-10-14 11:35] verhagen opened #825 "testng-56.xml - Contains DTD validation error"
__Why__ Looking at the file `testng-56.xml`, it contains an error, is this maybe on purpose? If so, it would be a good idea to add a XML comment, explaining that.
If not on purpose, should the XML or the DTD be corrected?

__Description__
When loading the testng project into Eclipse it highlights errors. Normally you do not like to see errors in Eclipse. But here I'm not sure, if it should be fixe

[2015-10-14 11:46] verhagen opened #826 "a1.xml - Contains DTD validation errors"
In `src/test/resources`, there is the file `yaml/a1.xml` and it contains 2 errors:

Both tags _packages_ and _test_ are not allowed. Are these given, to test something? Or should they be corrected?

The lines with validation errors in `yaml/a1.xml` are:

    <packages>
    <test name="Regression2" verbose="2">

[2015-10-14 12:15] verhagen commented on #826
Latest checkout from master, solved this.

[2015-10-14 12:15] #826 closed

[2015-10-14 12:15] verhagen commented on #825
Latest checkout from master, solved this.

[2015-10-14 12:15] #825 closed

[2015-10-14 13:12] juherr commented on #823
I suppposed @DataProvider can work with @Parameters but I'm not sure (I should test it one day).
BTW, if I understand what you want, you can just try parameters on test level (parameters on method level don't exist):

[code]

You should ask your question on Staskoverflow or the mailing list if you want more ideas ;)

[2015-10-14 13:53] drapostolos commented on #823
Actually, parameters on method level exists. Here is an example:

[code]

[code]

[2015-10-14 14:04] juherr commented on #823
:+1: Good to know! I've never seen it before.

@JayVem I close the issue as it already exists.

[2015-10-14 14:04] #823 closed

[2015-10-14 14:14] juherr commented on #825
TestNG was previously on GoogleCode.
So, 56 for -> https://github.com/testng-team/testng-googlecode/issues/56

[2015-10-14 14:43] drapostolos commented on #823
another approach is to use a data-provider that fetches the keys from testng.xml. See example:

[code]

[code]

[code]

[2015-10-14 17:47] JayVem commented on #823
Thanks @drapostolos , I think dataprovider with testcontext sounds like it will do. I will try this out. Thank you so much for the quick answer!

[2015-10-15 06:28] Elisedlund commented on #824
seems like 6.9.8 does not have this issue.

[2015-10-15 06:44] TanujSinghAtcs commented on #817
Hello
These are the following information about my eclipse, Hope it may help you.

MyEclipse Blue Edition

Version: 10.6 Blue
Build id: 10.6-Blue-20120727

(c) Copyright Genuitec, L.L.C. 2000-2012.  All rights reserved.
Visit http://www.myeclipseide.com/

This product includes software developed by the following
Eclipse Foundation http://www.eclipse.org/
Apache Software Foundation http://www.apach

[2015-10-15 08:25] juherr commented on #824
True! I forgot I've already fixed it with #804 and only see your traces x]
Sorry.

Close as duplicate of #154

[2015-10-15 08:25] #824 closed

[2015-10-15 18:51] robertrv commented on #309
This is a very old issue but still standing, just tested locally. Any idea if is going to be addressed or any workaround?

[2015-10-16 15:06] verhagen commented on #817
In standard Eclipse there is the possibility to see which software has been installed. Can you provide the table / overview?

Eclipse menu _Help -> About Eclipse_
- Use the button _Installation Details__

__OR__

Eclipse menu _Help -> Install New Software..._
- Use the 'link' in _What is **already installed** ?_

Then make screen capture of
- Installed software
- Features
- Plug-ins

[2015-10-16 20:03] robotunicr0n commented on #763
Hey guys, just delivered the big release I mentioned previously a few weeks ago. After looking through this again and refreshing, I realized that we eliminated the issue that was occurring here by implementing hashcode and equals methods.

[2015-10-19 07:35] TanujSinghAtcs commented on #817
I am sending you the screen shorts of Installed software, Features and
Plug-ins.

Please find the attached file.

On Fri, Oct 16, 2015 at 8:36 PM, Tjeerd Verhagen <notifications@github.com>
wrote:

[2015-10-19 14:31] verhagen commented on #817
@TanujSinghAtcs Add the image direct in the GitHub issue here #817, and not by a reply in mail. As that will not add the images to the issue. Thx

[2015-10-20 10:36] nemesis13 commented on #791
I like to keep preconditions in a @ BeforeClass because this way I can distinguish between failed tests and failed conditions. Example of a commonly used precondition in our tests: go to login page and login (...), navigate to page XYZ. After that the tests of page XYZ begin.

Nonetheless if there's an error in @ BeforeClass I want a screenshot so I can see the state when it failed.

[2015-10-20 11:31] juherr commented on #791
Do you have any problem with this example? https://gist.github.com/juherr/600edc68c32ba6a3f419

[2015-10-22 11:20] psychon commented on #567
I ran into the same problem (7 seconds for the SuiteHTMLReporter) and I fixed it for me with the following patch. The problem is caused by appending many small things to files. However, this patch basically reverts 17c52218805e62a58f0a073b24f9b82386aa6c4a and so I don't think this will be accepted.
So... perhaps the code should be rewritten so that it writes directly to the file? Or perhaps the fi

[2015-10-22 15:22] juherr commented on #567
The commit message of 17c52218805e62a58f0a073b24f9b82386aa6c4a says:

Did you try something equivalent after your changes?

If you propose a PR with your changes and appropriate tests, I won't see any problem to accept it and I suppose @cbeust will be ok too.

[2015-10-22 16:19] psychon commented on #567
Nope. I profiles testng with VisualVM, this pointed at `writeFile` and I just tested if my change improves the situation (it does). The plan was then to do a PR with this. This made me wonder why the code is the way it is and I asked `git blame`. Then I found that commit and so abandoned the plan to do a PR, because my patch effectively reverts that other commit and so I *guess*  that it will rein

[2015-10-22 16:29] juherr commented on #567
Use gradle (`./gradlew[.bat] test`) or kobalt (`./kobaltw test`) if you want build and run tests.

[2015-10-23 16:59] Tibor17 opened #834 "nested suites not supported by 'testnames'"
A suite xml https://github.com/sskuts/maven-surefire-tests/blob/master/src/test/resources/suites/upstream-suite.xml binds to another one https://github.com/sskuts/maven-surefire-tests/blob/master/src/test/resources/suites/main-suite.xml which has two test names:
testGroup1
testGroup2

TestNG is configured with -testnames=testGroup2.
Expected is to run only one test.
Actual both tests run.

Is test

[2015-10-23 17:59] Tibor17 commented on #834
@cbeust
Is this `-testnames` supported in nested suite as well?

[2015-10-23 20:32] juherr commented on #834
I confirm the issue from TestNG itself. I reproduce it with master branch.

I'm trying to fix it.

[2015-10-23 20:36] Tibor17 commented on #834
@juherr
Thank you for taking a look into it.

[2015-10-23 21:09] juherr commented on #834
@Tibor17 Done #835

[2015-10-23 21:42] sskuts commented on #834
@juherr thanks a lot!.. would you mind to drop a comment, after merging and publishing a new version with this fix?..

[2015-10-23 22:01] juherr commented on #834
merge and release are @cbeust stuff ;)

[2015-10-23 22:07] sskuts commented on #834
@cbeust would be greatly appreciated :) have been waiting for this feature support in maven-surefire-plugin for a long time...

[2015-10-23 22:39] cbeust commented on #834
@sskuts Will do shortly.

@juherr is a release now okay with you or would you like to merge in a few additional things?

[2015-10-24 06:48] Tibor17 commented on #834
Fixed and test provided.

[2015-10-24 06:48] #834 closed

[2015-10-24 10:41] sskorol commented on #834
Just built a local snapshot jar with this fix. Works like a charm. Thanks @juherr @cbeust !

[2015-10-24 13:20] cbeust commented on #834
I just merged https://github.com/cbeust/testng/pull/835, which I believe is the PR that fixes this issue?

Can you try the "official" SNAPSHOT to make sure this is fixed before I make a new release? The snapshot repo should have the new build now (6.9.6-SNAPSHOT):

[code]

[2015-10-24 16:28] sskorol commented on #834
@cbeust just tried with official snapshot, works fine for me as well with maven-surefire-plugin 2.19, thanks!

[2015-10-24 17:31] cbeust commented on #834
@sskorol Thanks for confirming. 6.9.9 is almost ready to go, still need a couple of things to wrap up first.

[2015-10-28 03:48] banbq opened #838 "missing encoding meta data for report file"
the reports file was view inmorally in browser.my Computer default encoding is GBK,not ASCII or UTF-8    .
When I try to add a node of ``` "<meta charset='utf-8'>``` into "index.html",the problem solved.
pls modify "src/main/resources/header  " and add the same node.
thx to distributors!
[code]

[2015-10-28 03:50] banbq opened #839 "missing encoding meta data for report file"
the reports file was view incorrectly in browser.My Computer default encoding is GBK,not ASCII or UTF-8    .
When I try to add a node of ``` "<meta charset='utf-8'>``` into "index.html",the problem solved.
pls modify "src/main/resources/header  " and add the same node.
thx to distributors!
[code]

[2015-10-28 05:12] JayVem opened #840 "identifying method invocations uniquely"
Let's say, I have a class like this
[code]
When, the test runs, it would run add method twice. I want to track each invocation of add uniquely based on its input. So say, add is invoked with 1,2 as input then that's a unique invocation. If it fails, I want to store this information to a database with an ** invocation id **

How do I achieve this using testng? All of the listeners (methodinvocation

[2015-10-28 08:56] juherr commented on #838
Duplicate of #839 (

@banbq edit is working too ;)

[2015-10-28 08:56] #838 closed

[2015-10-28 08:58] JayVem commented on #840
Closing this issue - I figured out a solution.

[2015-10-28 08:58] #840 closed

[2015-10-28 13:33] juherr commented on #840
What is the solution?

[2015-10-28 13:57] sskorol commented on #840
I had a similar situation, when it was required to handle exactly the same method names while using DataProvider or parallel run on different configurations.

For each method I've been generaing random id, which was supplied within custom TestMethod wrapper along with other useful info for further reporting. Next I've just pushed this custom object into Velocity context (or whatever template engin

[2015-10-28 13:57] juherr commented on #839
Why not propose a pull-request?

[2015-10-28 14:35] sskorol commented on #840
@juherr by the way, it could be useful to add some AtomicInteger counter with appropriate getter on methods' level. It may help to recognize similar methods with different data. But anyway, it requires  dynamic XmlClass modification -> adding new XmlIncludes on fly. Or we could compute total number of objects prepared by DataProvider and then modify appropriate structure before actual tests execut

[2015-10-28 19:07] JayVem commented on #840
@juherr I used method level  parameters in my xml and was able to access them from ITestContext in the dataprovider and listener. The parameter would be the unique id, which would be used by the dataprovider to lookup the database, fetch values and create a return object using reflection.

[2015-10-28 21:50] juherr commented on #840
@sskorol I'm not sure to understand everything you propose but you're free to propose a pull-request ;)

@JayVem Ok, thank.

[2015-11-01 20:20] selenareneephillips opened #851 "Execution order is incorrect for single-threaded test class when priority and dependsOnMethods are used simultaneously"
I have some tests which I want to run in  a particular order, but when combining 'dependsOnMethods' feature with 'priority, the execution order is incorrect.

Here is a test class to reproduce the bug. I am using TestNG 6.9.9.

    import org.testng.annotations.Test;

    @Test(singleThreaded = true)
    public class ExecutionOrderBug {

        @Test(priority = 0 )
        public void test1()  {

[2015-11-01 21:59] juherr commented on #851
Duplicate of #474

[2015-11-01 21:59] #851 closed

[2015-11-02 07:52] testn opened #853 "[Cross-report] SUREFIRE-1194 Maven "reporter" configuration entry does not work"
It looks like since a477952 has removed "reporterslist" command line argument. Maven surefire testng plugin stops working since it still tries to convert reporter to reporterslist where it does not exist anymore. [https://issues.apache.org/jira/browse/SUREFIRE-1194].

The offended line is https://github.com/apache/maven-surefire/blob/master/surefire-providers/surefire-testng/src/main/java/org/apac

[2015-11-02 10:12] selenium-makeiteasy commented on #579
@p00j4
you can use this code inside any method-
int size = Thread.currentThread().getStackTrace().length;
System.out.println("size -"+size);
String methodName = Thread.currentThread().getStackTrace()[size-29].getMethodName().toLowerCase(); //there are other 28 methods call so ignore them

This piece of code will always give you the method name which is running currently inside @Test method, like -

[2015-11-02 14:18] juherr commented on #853
As it was removed for a long time, we can admit it is a surefire issue.
Then, surefire is using a deprecated method and will try to change this behavior.

Ping @Tibor17: What do you think?

[2015-11-04 16:10] testn commented on #772
@cbeust, @juherr  the similar fix of #775 has been broken down into #848, #849, #850, #852. Each one of them improves different path of the code path that makes #772 to take such a long time to execute. If you run #772 tests on the code before and after the fix, you will see that the time it takes to execute the tests are significantly reduced.

[2015-11-05 01:06] jineshkenandy opened #857 "onTestFailure not being called when test is retried (6.9.6)"
My Test :
@Listeners({ ScreenshotListener.class })
public class TestRetryLogic {
    @Test(retryAnalyzer = Retry.class)
    public void testRetryLogic() {
        fail("Failing");
    }
}

My Retry Analyzer :
public class Retry implements IRetryAnalyzer {
    private final int maxRetryCountPerTest = 1;
    private int retryCountPerTest = 0;

    public boolean retry(ITestResult result) {
        i

[2015-11-05 01:52] juherr commented on #857
If the behavior was different before, it is a bug.

[2015-11-05 06:31] jineshkenandy commented on #857
It certainly was. I have code to take screenshot and add that using reporter.log in testng results. Now, none of that is working :-(

[2015-11-05 10:00] juherr commented on #857
Ok, thank. I will have a look asap.

[2015-11-05 14:49] mark-weissman commented on #279
Injection into listeners would be super cool. We have a WebDriver instance being injected into tests so that we can save on the cost of open/close of Firefox between tests. We'd like a catch-all onTestFailure() listener that very safely captured the page source and took a screen-shot.  We'll probably hack this with ThreadLocal, but I'm reminded DI was invented in part to help us ordinary devs avoi

[2015-11-05 15:00] juherr commented on #356
In fact, `ITestListener` already exists for @Before/AfterTest usage.

[2015-11-05 15:02] #356 closed

[2015-11-05 15:21] #776 closed

[2015-11-05 15:58] juherr commented on #857
@jineshkenandy I tried to reproduce your issue without success. See #860 and tell me if you see something bad.

[2015-11-05 20:07] jineshkenandy commented on #857
@juherr Could you put a print statement inside your onTestFailure method? Count has never been the issue it counts correctly for some reason.

Another thing I observed is that you are calling testng from code and not xml. All of us who faced the issue are calling it from XML.

Thanks,
Jinesh

[2015-11-05 20:17] juherr commented on #857
No need to print: the method is called and stored.
But you can try on your own side by pulling my branch.

+1 about xml, I will try. It should not change anything but I've already seen xml only problems.

[2015-11-05 20:29] juherr commented on #772
@testn The problem is we have no proof it or any idea how much we can. Then, it will take time to reproduce and test it on our side.
Last time I tried, I had to stop before the end.

The hardest and most important thing with perf issues are not the fix, but the way to reproduce and to measure it easily.

But maybe you can help us?

[2015-11-05 20:44] testn commented on #772
@juherr, just try it with a lower number. In my case, 6000 is already big enough to see the problem. If you want to start validating issues, you probably need to create a lot of test cases for performance testing in which I don't see it much in TestNG.

[2015-11-05 23:41] jineshkenandy commented on #857
@juherr
I set my retry analyzer using below code. I noticed that when I set retry analyzer print statement inside onTestFailure is not executed. However if retry analyzer is not set print statement is executed correctly.

	@BeforeTest(alwaysRun = true)
	public void beforeTest(ITestContext context) {
		for (ITestNGMethod method : context.getAllTestMethods()) {
			method.setRetryAnalyzer(new utils.c

[2015-11-06 02:31] juherr commented on #857
It is really an uncommon way the initialize it? Can I ask why do you do it?
IMO, you should use [annotation transformer](http://testng.org/doc/documentation-main.html#annotationtransformers)  instead.

BTW, about the print, can we suppose it is a display issue?

I don't understand what you want to say.

[2015-11-06 12:10] juherr commented on #857
@jineshkenandy I updated the sample with what I understood of your comments, but I confirm the result is still the same for me:

[2015-11-06 16:26] szaluk commented on #857
I am initializing my Retry Analyzer the same way as @jineshkenandy I am seeing the same thing.  In a previous version of TestNG I handled the retries in the onTestFailed() method but when I updated to version 6.9.6 I noticed that wasn't getting called anymore.  I have since had to add code to the onTestSkipped() and the onTestFailedButWithinSuccessPercentage() to handle my retries.  It's working f

[2015-11-06 16:45] juherr commented on #857
@jineshkenandy @szaluk Could you try the latest testng version (6.9.9) and tell me if you still observe the same problem?

Because, as proved by #860, the problem doesn't occur on the master branch.

[2015-11-06 17:51] szaluk commented on #857
It does seem to be fixed in 6.9.9.  I created a very simple project to test it out that does 2 retries.

**This is what I am seeing in 6.9.6:**
Inside onTestSkipped()
Inside onTestSkipped()
Inside onTestFailedButWithinSuccessPercentage()

**This is what I am seeing in 6.9.9:**
Inside onTestSkipped()
Inside onTestSkipped()
Inside onTestFailure()

I will upgrade to 6.9.9.  Thanks!

--Steve

BTW, I l

[2015-11-06 18:10] testn commented on #772
@benlamonica , can you help provide the result of the test?

[2015-11-06 18:51] jineshkenandy commented on #857
@juherr I meant that if I do not use the retry analyzer at all and let test just fail. The print statement inside  onTestFailure gets executed.

@szaluk Thanks for pitching in. I am having exact same issue. I'll upgrade and get back with my findings.

[2015-11-07 01:05] jineshkenandy commented on #857
@juherr Same result with 6.9.9 as well and I moved to annotation transformer.

[2015-11-07 01:06] jineshkenandy commented on #857
@szaluk Could you confirm that 6.9.9 is working fine for you on actual project and not test project?

[2015-11-07 01:25] szaluk commented on #857
Sure. I will be able to try that tomorrow.  I will let you know what I see.

Thanks,
Steve

[2015-11-08 05:28] krmahadevan commented on #151
@cbeust
Just curious. What if we provided a built in AnnotationTransformer which can do this ?

[2015-11-08 06:29] juherr commented on #151
Yes, it is what #816 proposes

[2015-11-08 07:10] krmahadevan commented on #151
@juherr
Thanks for sharing that PR information. Any reason why this is waiting to be merged ?

[2015-11-09 21:05] szaluk commented on #857
@jineshkenandy - It does indeed seem to be working for me with 6.9.9 in my main project.  This is how I am setting up my retry anaylzer:

    @BeforeClass(alwaysRun = true)
    public void baseTestClassSetup(ITestContext testContext) {
        for(ITestNGMethod testNGMethod : testContext.getAllTestMethods()) {
            if(testNGMethod.getRetryAnalyzer() == null)
                testNGMethod.set

[2015-11-09 21:25] jineshkenandy commented on #857
@szaluk Are you using testng to run selenium webdriver?

[2015-11-09 21:31] szaluk commented on #857
@jineshkenandy - Yes.  It's a Maven based project using Java 7 and Selenium WebDriver 2.48.2

[2015-11-09 23:27] jineshkenandy commented on #857
@szaluk I am using Selenium WebDriver 2.48.2 with testNg, no luck whatsoever.

[2015-11-10 18:27] virenv opened #863 "Same xmlsuite is added multiple times when tests are run using TestNG.SetXmlSuites method"
@cbeust,

Here is the description of the problem.

My trimmed down run engine code

[code]

My suite XML looks like this

[code]

you can have any two testNG suites as mentioned here.

**Problem**
When you run this code you will get an exception stating
_Two suites cannot have the same name: Suite2_

This exception will come even if you have two different suite names. The reason is because of this

[2015-11-10 19:55] juherr commented on #857
Guys, should we understand the issue is fixed with 6.9.9?

[2015-11-10 22:13] sskorol opened #864 "Java 8"
Hi @cbeust,

Wondering if you're planing to switch TestNG to default 1.8 source / target in the nearest future?
Lots of things could be implemented much easier using Java 8 features. It's quite stable now. On the other hand, 1.7 version is not officially supported anymore. Any thoughts on this?

[2015-11-10 22:24] cbeust commented on #864
Hi @sskorol,

There are still a lot of TestNG users on 1.7 so I have to keep 1.7 as the minimum level for now...

[2015-11-11 00:45] sskorol commented on #864
@cbeust wondering if you want to conduct а survey among testng-users about this... would be great to see actual java version usage stats, and ask if people could or want to move to 1.8 version...
just a suggestion... :)

[2015-11-11 03:38] cbeust commented on #864
I'm not sure a survey would be a good indicator for that: most of TestNG users are working in corporations and probably don't even read the mailing-list...

The few times I made the mistake of cutting a release accidentally compiled with 1.8, I usually start receiving angry emails within the hour...

[2015-11-11 08:09] sskorol commented on #864
This is quite strange, as users, which really care about testng updates, should always track release notes, news, etc. If corporate users just blindly update versions without looking at what has changed, I don't believe they really need new features. On the other hand, if they don't know what they're updating, they could face with new bugs or break some existing functionality, dependent from parti

[2015-11-11 08:45] juherr commented on #864
We already lost users with the java 7 switch. I'm really not sure another one will be so good.

[2015-11-11 12:02] sskorol commented on #864
@juherr yes, you may lose old-school guys, who like sitting on ancient technologies, until getting retired... there's also a risk to loose another category of version-restricted users as well... but how many new young users, who don't afraid innovations you'll gain?.. it's more about philosofical context, but... if we look at this question from new committers involvement angle, what's the probabil

[2015-11-11 12:39] juherr commented on #863
Could you share the content of `TestNG.xml` and `TestNG2.xml`?

[2015-11-11 13:08] juherr commented on #864
I'm not sure you understand the situation. Many users, young or old, can't choose their production platform.
Some of them have to use old java version for good and bad reasons. I'm not sure we can blame them.

Then I'm not sure java7 is a problem for contributors. For example, JUnit and many apache projects are still using java5 and have a lot of contributors.

[2015-11-11 13:49] virenv commented on #863
TestNG1 - > <suite name="Suite2" verbose="1"  parallel="methods">
  <test name="test002" >
    <classes>
       <class name="TestClasses.TestClass002" />
    </classes>
  </test>
</suite>

TestNG2 -> <suite name="Suite1" verbose="1" parallel="methods" thread-count="1">
  <test name="test001" >
    <classes>
       <class name="TestClasses.TestClass001" />
    </classes>
  </test>
</suite>

[2015-11-11 14:05] virenv commented on #863
Hi juherr,

I am on testng 6.9.4. I would have tried the latest version but saw that this part of the code hasn't changed.

[2015-11-11 14:31] sskorol commented on #864
@juherr I'm not blaming anyone... I'm just talking about innovations. Big legacy projects may exist for dozen years without any platform upgrade. And what? Lots of new projects appear each day, which use new technologies. And from developer's perspective, if I have to choose between JUnit and TestNG, and see that e.g .TestNG supports Java 8, my choice will be pretty obvious, as it simply means tha

[2015-11-11 17:39] cbeust commented on #864
@sskorol You need to realize that most Java users (not just TestNG users) work in corporations and these are very slow and very deliberate in adopting new technologies. You would be shocked to hear how much Java code still runs on Java 1.7 and even 1.6 (as @juherr said, we already received a lot of heat when TestNG stopped supporting 1.6 a few months ago, a version that has been dead for **years**

[2015-11-11 20:34] virenv opened #866 "While using XmlSuite.Clone we don't clone m_fileName variable. Any specific reason for that?"
@cbeust @juherr ,

I wanted to clone my XmlSuite so that I can make copies of it and make some changes to it for a new run. However after using the Clone method it seems that we are not copying the m_fileName variable.

**XmlSuite.Clone() Method**

Is there a specific reason for that.

**Note**
Also, I noticed that if you clone an XmlSuite, feed to testNG (TestNG.setXmlSuites()) class instance and

[2015-11-11 20:36] sskorol commented on #864
@cbeust I'm working on a project, which is based on Java 7. So I know what are you talking about. :) However, devs use JUnit. But personally I prefer TestNG. And my automated tests are based on TestNG.

By "support" I meant being able to contribute using Java 8 features, not just creating tests for my own projects. I'm using Java 8 for more than a year, and I know how much time it saves me.

Anywa

[2015-11-11 20:36] #864 closed

[2015-11-11 20:39] cbeust commented on #864
It will definitely be updated to Java 1.8, for sure!

Thanks for taking the time to discuss this.

[2015-11-11 20:40] cbeust commented on #866
Most likely an oversight, would you be willing to send a PR?

[2015-11-11 20:42] virenv commented on #866
Sure let me drop a pull request in some time..

[2015-11-11 21:37] virenv commented on #866
Sent a PR. Couldn't find a Unit test for XmlSuite.clone functionality. I wasnt able to add one because I dont know the pass phrase of TestNg mvn build. What is the pass phrase so that I can update a ut for this too soon.

[2015-11-12 06:45] virenv commented on #866
PR merged, closing this issue

[2015-11-12 06:45] #866 closed

[2015-11-12 15:55] virenv opened #868 "XmlSuite.clone method missing following state copy, in follow up of issue #866"
@cbeust,

These are the states that are not copied in XmlSuite.clone method

    result.setExcludedGroups(getExcludedGroups());
    result.setIncludedGroups(getIncludedGroups());
    result.setGroupByInstances(getGroupByInstances());
    result.setGroups(getGroups());
    result.setMethodSelectors(getXmlMethodSelectors());
    result.setPackages(getPackages());
    result.setParentSuite(getParentS

[2015-11-12 15:55] virenv commented on #868
I will be sending a PR for this, do review it

[2015-11-12 17:06] cbeust commented on #868
Great, thanks @virenv!

[2015-11-12 20:33] juherr commented on #868
@virenv  You can check every `clone` method if you want. :)
I've already seen some missing attributes somewhere else (or maybe it was this one, I can't remember).

[2015-11-12 21:12] juherr commented on #868
Closed by #869

[2015-11-12 21:12] #868 closed

[2015-11-13 03:40] virenv commented on #868
@juherr

Sure, let me take a look and I will send a PR if I find issues.

[2015-11-13 06:03] virenv commented on #863
@juherr, Does it look like a bug?

[2015-11-14 19:27] shroffsagar91 opened #871 "InvocationCount and RetryAnaylzer when used togther performs incorrect behaviour"
Below are the steps to reproduce.

[code]
Above configures my RetryAnalyzer to max retry attempts to 3. And total invocationCount to 2
Below is the output
[code]
As noticed in the above output. Test is invoked more then twice.

[2015-11-15 05:52] krmahadevan opened #872 "Enable end-users of TestNG to alter XmlSuite and XmlTest"
Following is a use case which was brought up by one of my colleagues at work

We basically have a ```<suite>``` which has 1 or more ```<test>``` in it.
This suite has been used so far to simulate a regression etc.,
Now the team basically wants to use this suite to simulate a performance testing and want to see if the following can be done :

* Given a ```<test>``` name, have the ability to run all

[2015-11-16 10:31] vixgeo opened #876 "NullPointerException creating tests with parameters by a factory"
Please, refer to the following post on stackoverflow for more details:
http://stackoverflow.com/questions/33676609/repeat-entire-test-class-in-testng-with-different-data-provider

[2015-11-16 13:40] juherr commented on #876
Thank for the report! :)

[2015-11-16 14:15] Tygerian opened #877 "Retries don't work correctly with DataProvider tests"
I have a IRetryAnalyzer implementation to retry a test up to 3 times for each parameter value. This worked fine up to and including TestNG 6.8.14, but no longer works after that.

In versions 6.8.15-6.8.21 the retry analyzer flat out did not work (see #606).

In 6.9.4 I get way too many retries with the same code.

In 6.9.9 it's a bit better but the tests are still run too many times, even if they

[2015-11-16 14:15] Tygerian commented on #877
[6.8.14.txt](https://github.com/cbeust/testng/files/35567/6.8.14.txt)
[6.9.4.txt](https://github.com/cbeust/testng/files/35568/6.9.4.txt)
[6.9.9.txt](https://github.com/cbeust/testng/files/35569/6.9.9.txt)

[2015-11-16 19:03] praveen133t opened #878 "value of skipped is "1" in testng-results.xml when a test fails and retried to execute."
Created a simple test with Assert.fail() and retried the same test using a class that implements IRetryAnalyzer. In the testng-results.xml the "skipped" attribute has value "1" and "failed" attribute has value "1". This is incorrect as there are no tests skipped. It's working fine in 6.9.4 version.

[code]

testng-results.xml has `<testng-results skipped="1" failed="1" total="2" passed="0">`

The

[2015-11-16 23:09] jineshkenandy commented on #857
@juherr Please mark it as closed. Thanks for all the help.

[2015-11-16 23:49] #857 closed

[2015-11-17 21:19] nealxyc opened #880 "Cannot read from stdin in TestNG test"
Running the following test with `mvn clean test -Dtest=StdinTest`, the line `br.readLine()` does not return.
testng-6.9.9
[code]

[2015-11-18 08:29] Itsamna opened #881 "Unable to debug test with a chain of dependencies in IDEA"
I'm using TestNG `dependsOnMethods` annotation to run my tests in intellij IDEA:

[code]

Test3 depends on Test2 and Test2 depends on Test1

All of them pass okay but a strange behavior occurs when I'm trying to debug the Test3 (Right click on method -> debug). I get an TestNG error:

However, when I debug Test2 in the same way, it runs okay. When I set Test3 depends on Test1 its also okay.

It se

[2015-11-18 10:13] Tygerian commented on #877
Might be related to and/or get fixed by #740.

[2015-11-18 16:02] praveen133t commented on #878
@juherr : Quickly looking at the code I see in the Invoker class in the method `handleInvocationResults` there is a logic inside the `if` loop

      if (willRetry) {
        resultsToRetry.add(testResult);
        failure.count++;
        failure.instances.add(testResult.getInstance());
        testResult.setStatus(ITestResult.SKIP);
      }
Why are we doing testResult.setStatus(ITestResult.SKIP)

[2015-11-18 18:22] cbeust commented on #881
Does this work fine from the shell? If yes, it might be a bug in the IDEA TestNG plug-in (which you should report on their tracker).

[2015-11-18 18:25] vixgeo commented on #876
It's not a bug. The factory method must be `static`.

[2015-11-18 18:25] vixgeo commented on #876
It's not a bug. The factory method must be `static`.

[2015-11-18 19:37] juherr commented on #876
In fact it is: testng should allow non static methods or detect the issue with an appropriate message.

[2015-11-18 23:44] juherr commented on #877
Could you try the branch from #740?
If it fixes you problem, it will be a good motivation to close the two PR together :)

[2015-11-18 23:51] juherr commented on #878
@rschmitt should be able to answer :) https://github.com/cbeust/testng/blame/master/src/main/java/org/testng/internal/Invoker.java#L1391-L1395

[2015-11-18 23:58] rschmitt commented on #878
Of all the *existing* statuses, `ITestResult.SKIP` seemed like the best fit for "test failed, pending retry." It's arguably far more correct than a status of `PASS`. Adding a whole new test result status seemed like it would be a very invasive change, given all the IDE plugins and so forth that are out there, and my immediate goal was to fix the much more severe `IRetryAnalyzer` issues involving e

[2015-11-19 00:24] juherr commented on #878
@rschmitt But how did it work in 6.9.4? And what about the `ITestResult.STARTED` status instead?

[2015-11-19 00:31] praveen133t commented on #878
@juherr  : I might be wrong about this issue working fine in 6.9.4. Because I remove the result of the first run (before retry) using

ITestContext context = result.getTestContext();
				IResultMap toRemoveTest = context.getFailedTests();
				List<ITestNGMethod> tcToRemove = new ArrayList<ITestNGMethod>();
				tcToRemove.add(result.getMethod());
				for(ITestNGMethod failedTCToRemove : tcToRemove)

[2015-11-19 00:39] rschmitt commented on #878
@juherr In 6.9.4 the test would be marked as `FAILED`. This failure status would propagate to various listeners, most importantly the `ExitCodeListener`, which would mark the entire test suite as failed by emitting a non-zero exit code. As far as I can tell, @praveen133t was previously working around this bug by using a listener that would "sanitize" the test results by mutating the `result` argum

[2015-11-19 01:25] juherr commented on #878
@praveen133t Ok, so as `FAILED` was replaced by `SKIPPED`, it should work if you replace `getFailedTests` by `getSkippedTests`. Or you can just remove this code if you tried to fix the problem described by @rschmitt.

@rschmitt And what do you think about `STARTED` instead of `SKIPPED`? I have no idea about side effects for the moment but a very quick hack showed me only 2 regressions in tests.

[2015-11-19 01:35] rschmitt commented on #878
@juherr What problem are you trying to solve? Why is `STARTED` better than `SKIPPED`?

[2015-11-19 09:18] juherr commented on #863
Yes, it looks like. Would you like to try to fix it?
First thing to do is adding a test that reproduces the issue.

[2015-11-19 10:07] juherr commented on #878
@rschmitt The "problem" is `ITestListener#onTestSkipped()` is notified and `ITestListener#onTestFailure()` was notified before.
I'm just asking if `ITestListener#onTestStart()` or even none could be better.

For example, see: https://github.com/juherr/testng/blob/issue-857/src%2Ftest%2Fjava%2Ftest%2FretryAnalyzer%2FRetryAnalyzerTest.java#L50-L51
(strange behavior too: `tla.getPassedTests()` is emp

[2015-11-19 10:15] praveen133t commented on #878
@juherr : I even tried doing `getSkippedTests` to remove the `skipped` result from the 'testng-results.xml' but even that doesn't work. I still see the `SKIPPED` result in the xml. Pls [see this.] (http://pastebin.com/tEag8KB2) I think that's a whole new problem? As far as I can see `m_map` is not getting populated with the test results.

[2015-11-19 10:23] virenv commented on #863
Let me take a look at it and will validate my understanding of the issue with the community.

Is there any documentation which talks about running TestNG unit tests on local machine?

[2015-11-19 12:07] juherr commented on #863
Just run testng.xml suite in IDE, or use the build tool you prefer between gradle, maven or kobalt.

[2015-11-19 13:23] juherr commented on #878
@praveen133t Ok, I take the point but I won't be able to look deeper soon.

[2015-11-19 14:21] praveen133t commented on #878
@juherr : Sure no problem. Do you want me to create a new issue for the `removeResult`? I can take a look at the issue and post something useful.

[2015-11-19 14:39] juherr commented on #878
@praveen133t Yes, you can. And if you can share a test case which shows the issue in a pr, it will be welcome.

[2015-11-19 17:07] cbeust commented on #878
I agree that listeners should probably not be notified as long as there retry analyzers working on a test but I'm also not a fan of adding a new status (which has a lot of repercussions, as @rschmitt pointed out).

[2015-11-19 20:42] akashshinde opened #883 "DataProviders getting executed before starting test suit."
Here is my scenario,
1.I am creating some assets and then storing it in class.
2.Then I am passing each asset by using Data providers to other test methods.
3.But when I try to run testng.xml file,first thing getting executing is @Dataproviders method.Where it returns 0 objects.Then executes my first step(i.e creating a asset) and now dataprovider should provide data to the next running test,but i

[2015-11-19 22:33] juherr commented on #883
You don't explain why you want to do that and you don't share any concrete example.
It will be difficult to answser you.

And I don't see where is the issue here.

[2015-11-19 22:46] akashshinde commented on #883
ok,Let me explain.Currently I am working on API Automation projects.Where first,I am creating assets using post request.

So lets say, I have created 10 assets,Now In one ArrayList I am storing all 10 asset ID's

and next I am providing dataProvider to second test,Dataprovider is defined like below.

`@DataProvider(name = "assets")

    public static Object[][] getAssets(){
        AssetStore asse

[2015-11-19 22:53] akashshinde commented on #883
Workflow of my Test.
` createAssetTest() {`
`  // Here I am creating asset and store ID returned by response in AssetStore class.`
`} `

then I am providing data to second test method by providing this ID's as parameter.
` testAssetTest(String id) {
  // Here as dataprovider returned 0 ,this test is getting skipped.
}  `

and I don't know why dataprovider method is getting executed before

[2015-11-19 23:08] juherr commented on #883
Why not? TestNG doesn't guarantee when data provider is called. By default, it doesn't guarantee the order of tests.
The problem is your assumptions are wrong.

Why don't you create your assets in the data provider. It is what your are supposed to do.

[2015-11-20 03:10] virenv commented on #863
Alright, let me put this up and I will send a PR for it.

[2015-11-20 18:31] Tygerian commented on #877
Tried with #740 and I guess it does what it's supposed to - the successful test is no longer re-run. However the number of times failed tests are re-tried is incorrect. Also it seems that the retry analyzer is sometimes triggered more than once per failure.

Please see attached output for details.
[PR740.txt](https://github.com/cbeust/testng/files/40390/PR740.txt)

[2015-11-20 22:11] juherr commented on #853
Fix provided on surefire: https://github.com/apache/maven-surefire/pull/107

[2015-11-20 22:11] #853 closed

[2015-11-20 22:49] Tibor17 commented on #853
I agree with closing this issue due to surefire needs to adapted accordingly.

[2015-11-20 23:23] juherr commented on #872
Fixed by #873

[2015-11-20 23:23] #872 closed

[2015-11-21 22:04] #876 closed

[2015-11-21 22:48] juherr commented on #883
@akashshinde Are we agree you configured `dependOnMethods` attribute?

[code]

[2015-11-21 23:42] juherr commented on #881
Reproduced and reported to IDEA: https://youtrack.jetbrains.com/issue/IDEA-148334

[2015-11-21 23:58] juherr commented on #880
I close because TestNG is working as expected: it runs the test.

[2015-11-21 23:58] #880 closed

[2015-11-22 00:00] nealxyc commented on #880
@juherr I does run the test. But were you able to get stdin input from `br.readLine()`?

[2015-11-22 00:10] juherr commented on #880
I didn't try like it is really system dependent. Is your example working with JUnit?

[2015-11-22 00:12] nealxyc commented on #880
@juherr Yes. it does.

[2015-11-22 00:23] juherr commented on #880
The following main is working well:

[code]

I suppose we can say that TestNG is not the problem here? But maybe Maven is.

[2015-11-22 00:34] nealxyc commented on #880
@juherr Oh. That seems to be true. Thanks for trying out.

[2015-11-22 02:38] juherr commented on #818
It would be interesting to be able to configure the behavior about `dependsOnX` dependencies: it seems that some persons want sometimes to not follow them.
See: https://youtrack.jetbrains.com/issue/IDEA-141621

[2015-11-22 07:30] virenv commented on #863
It seems that this issue was fixed as a part of #829

[2015-11-22 07:52] virenv opened #889 "XmlSuite in nested directories results in FIleNotFoundException"
Basically I want to add XmlSuite directly to TestNG and then run. Also, my XmlSuite is a suite-files which contains two more suite files.

[code]

Till the time main suite file and the child suite files are in the root folder everything works fine. However, if these files are in nested folder then we will get `FileNotFoundException` in `TestNG.initializeSuitesAndJarFile` at line 279 -> `Collection

[2015-11-22 08:21] Itsamna commented on #881
Sorry for the delay with answer. Yes, it must be an IDEA 15 issue because it is ok for me in 14 version.

[2015-11-22 08:24] cbeust commented on #818
That's a strange scenario: if your test can run fine without its dependencies, why does it have any in the first place?

For what it's worth, `testng-failed.xml` solves this problem by calculating the transitive closure of the dependencies and including them in the xml file. And as far as I remember, the Eclipse plug-in uses that same logic to do the same thing (so you can run individual methods,

[2015-11-22 08:37] juherr commented on #818
@cbeust You should say it on https://youtrack.jetbrains.com/issue/IDEA-141073 . Maybe, it will help to fix #881 quicker

[2015-11-22 08:57] juherr commented on #863
In fact, I think #829 is just hiding the issue as it allows to have duplicate name.
But in our case, `"suite of suites"`, `Suite1"` and `Suite2"` are not duplication.

Now, I think you have another issue: some suites are run twice.
Could you confirm?

[2015-11-22 09:45] virenv commented on #863
@juherr

Yes suites are now run twice. Let me send a PR and lets discuss the impact of the fix with some code.

[2015-11-22 13:03] juherr commented on #810
@TheLQ Any news about it?

[2015-11-22 18:10] bodaganj commented on #763
@robotunicr0n Hi Daniel, could You describe your solution regarding rerunning failed test with the same test data more clearly? As I have also faced with this issue.

[2015-11-22 18:31] bodaganj commented on #583
@nmiroshnichenko @davefp @rschmitt Hi Guys! Have You faced with such issue during using DataProvider with IRetryAnalyzer:

"I'm running into an issue with our test suite where my tests that use dataproviders are not using the original data parameter from the first run of the test when they get retried."

More information You could find here:
https://github.com/cbeust/testng/issues/763

Thanks in a

[2015-11-22 18:48] bodaganj opened #891 "Retrying failed tests with the same test data from dataprovider"
Hi All, I've faced with an issue when my failed tests are getting retried using new test data (not original data from dataprovider). If I missed the appropriate existing topic feel free to point me on a right way.

I've found out that dataprovider method is being retried also in case test method failed. How could I rerun test method only (with original test data)?

Thanks in advance for Your help.

[2015-11-22 20:43] robotunicr0n commented on #763
@bodaganj our solution was to override hashcode and equals to provide a way for the class to authenticate which object it's accessing. I believe this will help you out: https://en.wikipedia.org/wiki/Java_hashCode()

[2015-11-22 22:06] akashshinde commented on #883
@juherr Yes,I have added dependsOnGroups,even I tried with setting groups and adding group dependencies,still no luck

I set debugger to see whats going on,then I figured out testNG calculates all factory and data-provider data first before executing any test suite.That is the reason I am getting no data in data provider to run  tests with dynamic data provider.

[2015-11-22 22:31] bodaganj commented on #763
@robotunicr0n You've overrided hashcode and equals methods for your MockItem object, right?

[2015-11-23 00:23] robotunicr0n commented on #763
yes

Daniel Hensey 黄龍
+1 206-395-4466

On Sun, Nov 22, 2015 at 2:31 PM, bodaganj <notifications@github.com> wrote:

[2015-11-23 05:57] juherr commented on #883
Which version do you use? Could you try with 6.9.9?

[2015-11-23 06:40] #839 closed

[2015-11-23 06:42] #811 closed

[2015-11-23 06:44] cbeust commented on #818
Done.

[2015-11-23 06:55] juherr commented on #883
Could you upgrade your examples with annotations?

[2015-11-23 09:07] juherr commented on #818
:+1:

[2015-11-23 09:35] bodaganj commented on #763
My objects' class contains overrided equals and hashcode methods. I've reproduced the same situation for dataprovider with Boolean objects (equals, hashcode are overrided as well) also and the same issue occurs. So i'm not sure that equals and hashcode methods really prevent our issue.

[2015-11-23 09:46] juherr commented on #891
Could you try with `public Object[][] dataProvider()` (data provider without param)?

[2015-11-23 09:58] bodaganj commented on #891
@juherr Sure. The same issue occurs.

[2015-11-23 09:59] juherr commented on #609
TODO: ignore + warn when `dependsOnMethods` is used on a class

[2015-11-23 10:00] juherr commented on #600
@chesshir Is it working now. Can we close the issue?

[2015-11-23 10:04] juherr commented on #583
@rschmitt Is #698 fixing this issue or do you want to keep it open for any reason?

[2015-11-23 10:18] juherr commented on #891
:sob: I will try to have a look.
If you want to help, you can propose a PR with an additional test that will show the issue. (and why not the expected fix).

[2015-11-23 10:23] bodaganj commented on #891
Ok, thanks. I will try to help you. PR? What does it mean?

[2015-11-23 10:49] juherr commented on #891
Pull Request :)

[2015-11-23 11:54] sandy999s commented on #883
For these kind of sitiautions i have used lazy loading DataProvider i.e where return type is Iterator<Object[]>.....which actually solved my issue.

so for your issue, it may change like

@DataProvider(name = "assets")
    public static Iterator<Object[]> getAssets(){
        AssetStore assetStore = AssetStore.getSharedInstance();
        ArrayList<Object[]> alist=new ArrayList<Object[]>();

[2015-11-23 12:11] sandy999s opened #892 "Order of execution when @Factory at constructor level"
I am facing some issues as the order of execution is not correct when there is @Factory at constructor level and there are some tests are present..

I have provided the DataProvider(lazy fashion) as my data gets generated at RUNTIME at my original setup

I have simplified for illustrations and source code is attached in

https://groups.google.com/forum/#!topic/testng-dev/_m04AT9Dy1Q
## ExpectedRes

[2015-11-23 12:25] juherr commented on #883
It could be a workarround but it should work with `Object[][]` too, and I was not able to reproduce @akashshinde issue.

[2015-11-23 15:23] juherr opened #893 "TestNG should provide an Api which allow to find all dependent of a specific test"
https://issues.apache.org/jira/browse/SUREFIRE-1073

[2015-11-23 17:07] robotunicr0n commented on #763
Ah that's unfortunate to hear. Since this was the only step we took to
resolve our issue and haven't had any problems since, we didn't do any more
thinking/work toward a different solution so sadly I can't help you out. If
there's a way to transfer this issue to you then I'm happy to do so
otherwise you might find more help from making a new post

Daniel Hensey 黄龍
+1 206-395-4466

On Mon, Nov 23,

[2015-11-24 05:58] #583 closed

[2015-11-24 11:50] juherr commented on #892
Did you try the `group-by-instances="true"` as I proposed you?

[2015-11-24 12:13] rajsrivastav1919 opened #895 "Changing status of test by setStatus of ITestResult"
I was using ITestResult interface to override onTestFailure and onTestSuccess based upon some conditions. It was working in 6.9.6 as expected. Now I have updated to 6.9.9 and some things are not working as expected. Basically my use-case is as follows -

A test case is run which fails and the flow comes to my custom implementation of onTestFailure() method. I call ITestResult#setStatus method to m

[2015-11-24 12:21] sandy999s commented on #892
If i have put group-by-instances="true", then i am getting the following exception :

sun_company3,sun_company4
THE COMPANY SETTING AS Default test name
DATAACCESORS :FROM DATAPROVIDER : getACCCOUNTS INITIALIZED:sun_company3,sun_company4
THE COMPANY SETTING AS sun_company3
THE COMPANY SETTING AS sun_company4
[TestNG] Running:
  D:\Projects\SMSConnect\Automation\Billing\TESTS\src\testng.xml

org.te