[2016-12-09 17:38] stevie1877 commented on #956
Thanks @krmahadevan , no I can't replicate the issue using 6.10 - I have been using TestNG 6.1.1, so quite an old version. I will update to 6.10 as this clearly solves the problem. Many thanks.

[2016-12-09 17:39] krmahadevan commented on #956
@juherr - I guess we can close this issue as well.

[2016-12-09 17:42] krmahadevan commented on #119
@juherr - We can close this issue as well. All the TestNG annotations have proper javadocs.

[2016-12-09 18:25] #1265 closed

[2016-12-09 18:34] dimo414 commented on #123
Looks like this is fixed, thanks! I think f3e44d60bf67 was the fix (since it added the "Data provider mismatch" message in `DataProviderMethodMatcher`). This should probably be called out in the release notes (if it's not already) since it'll cause some "passing" tests to start failing.

[2016-12-09 19:59] juherr commented on #119
Done

[2016-12-09 19:59] #119 closed

[2016-12-09 20:05] juherr commented on #92
@krmahadevan Could you check if a test is covering the use case and propose a new one if not?

[2016-12-09 20:05] #92 closed

[2016-12-10 01:34] sbabcoc commented on #1168
The 6.10.x release that will contain the fix for this issue has still not been posted yet. When can we expect this to be available?

[2016-12-10 01:39] missedone commented on #1168
@sbabcoc
TestNG 6.10 is available both on [Maven Central](http://search.maven.org/#artifactdetails%7Corg.testng%7Ctestng%7C6.10%7Cjar) and jCenter.
TestNG Eclipse Plugin 6.10.0.201612030230 is available on the [release update site](http://beust.com/eclipse)

[2016-12-10 04:02] #116 closed

[2016-12-10 04:05] #1262 closed

[2016-12-10 15:36] krmahadevan commented on #92
@juherr - The test `test.bug92.Bug92Test` is covering this.

[2016-12-10 19:14] sbabcoc commented on #1168
I upgraded to TestNG 6.10.0.201612030230, and this issue still exists.

[2016-12-11 01:16] missedone commented on #1168
@sbabcoc , Eclipse Plugin simply respects the testng jar version of your project, so could you check the testng version on your project classpath? make sure that's up to date.

[2016-12-11 05:03] krmahadevan commented on #375
@mmtmohit - I am not able to reproduce this problem using TestNG 6.10.
It would be good if you could please help furnish a reproducible test that can be used to recreate the problem if you feel that the issue still exists when using TestNG 6.10

Here's what my test class looks like

[code]

## Here are the screenshots from the generated reports

### _Emailable-Report_
![375-1](https://cloud.github

[2016-12-12 02:36] gaoqiang0306 commented on #1262
@krmahadevan @juherr Thanks for your help, another question, how can i get the latest code using maven, which version i needed?

[2016-12-13 03:20] krmahadevan commented on #1262
@gaoqiang0306 - I am not sure if the snapshot versions of TestNG are being published anywhere.
@juherr @cbeust - Please advise.

[2016-12-13 08:54] juherr commented on #1262
Snapshots are available on https://oss.sonatype.org/content/repositories/snapshots/

[2016-12-13 10:57] krmahadevan commented on #1262
@juherr - Is [this](https://oss.sonatype.org/content/repositories/snapshots/org/testng/testng/6.9.14-SNAPSHOT/) current snapshot version ?

I was thinking that the snapshot version would be something after 6.10 ?

[2016-12-13 11:01] juherr commented on #1262
@krmahadevan Yes, the version must be updated in gradle and kobalt files ;)

[2016-12-13 11:11] krmahadevan commented on #1262
ok. So I figured out that it should be changed [here](https://github.com/cbeust/testng/blob/master/build.gradle#L40). Next question is.. what should be the new version ? :)

[2016-12-13 12:32] juherr commented on #1262
@krmahadevan 6.10.1 looks good

[2016-12-13 12:33] juherr commented on #1262
@krmahadevan And don't forget https://github.com/cbeust/testng/blob/master/kobalt/src/Build.kt#L18 if you want to update the value ;)

[2016-12-13 19:15] cbeust commented on #1262
Yes, 6.10.1 is a good default.

--
Cédric

On Tue, Dec 13, 2016 at 4:33 AM, Julien Herr <notifications@github.com>
wrote:

[2016-12-13 19:20] madphysicist opened #1273 "Empty Javadoc JAR for v6.10 in JFrog BinTray"
### TestNG Version 6.10

### Expected behavior
https://dl.bintray.com/cbeust/maven/org/testng/testng/6.10/testng-6.10-javadoc.jar is expected to contain a valid Javadoc repository for TestNG

### Actual behavior
The JAR file is empty of any documentation. It contains only a `META-INF` folder which contains only a single `MANIFEST.MF` file, which contains only a single Windows-style newline.

### I

[2016-12-14 03:50] krmahadevan commented on #1262
Thanks. I fixed this and sent a pull request #1274

[2016-12-15 05:43] gaoqiang0306 commented on #1262
@krmahadevan @juherr @cbeust thanks, all of you guys. my issue was fixed so quickly, nice work!!!

[2016-12-15 22:39] AndreyMatveyev opened #1278 "Data provider mismatch for data provider with signature "Iterator<Object> dataProviderMethod(Method m)""
### TestNG Version
6.10.0.201612030230

### Expected behavior
For data provider with signature "public static Iterator<Object> myDataProvider(Method m)"
the test method with signature "public void myTestMethod(TestCaseData testCaseData)"
should work as it worked before in the previous version of TestNG 6.9.13.201609291640

### Actual behavior
For data provider with signature "public static Iterato

[2016-12-16 08:22] saikiran40cs commented on #375
@mmtmohit With testNG 6.10, i am not able to reproduce the issue.
Date of release for testNG 6.10 is (Dec 06, 2016).

Use the below link to know the latest testNG releases.
https://mvnrepository.com/artifact/org.testng/testng/

I suggest to use the maven dependencies in your project so that you will not face this issues in future.

[2016-12-16 08:28] krmahadevan commented on #1278
@AndreyMatveyev

I used a sample which looks like below with TestNG 6.10 and I am not able to reproduce the issue.

[code]

Here's the output I see:
[code]

[2016-12-16 12:58] juherr commented on #375
Looks fixed in 6.10
Feel free to reopen if it is not the case.

[2016-12-16 12:58] #375 closed

[2016-12-16 15:12] jeangb commented on #549
I have the same problem. AfterMethod don't care about the group specified in groups="".

[2016-12-16 17:57] krmahadevan commented on #549
@jeangb - I just now tried this in TestNG 6.10 and I cannot recreate the problem.

Here's my sample class

[code]

Here's my test class
[code]

Here's how my suite xml looks like
[code]

and here's my output
[code]

[2016-12-16 20:55] AndreyMatveyev commented on #1278
We'll try to replicate in our environments again by using our code and the test code provided in the issue.

[2016-12-20 03:39] email2vimalraj opened #1284 "Listeners on the child suites are not applied"
### TestNG Version
6.9.10

### Expected behavior
The listeners in the child suites should be picked

### Actual behavior
The listeners in the child suites are not applied

### Is the issue reproductible on runner?
- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample
Create a child-suite file:

[code]

Create a parent-suite file:

[code]

[2016-12-20 03:40] email2vimalraj commented on #1284
I'm raising a PR for this.

[2016-12-20 21:36] sbabcoc opened #1286 "Feature request: Allow object factory to be specified via ServiceLoader configuration file"
The ability to specify listeners via ServiceLoader configuration file is very useful, as this mechanism declares the listeners within the project in a way to works the same no matter how the tests are executed - Maven command line, Eclipse, IntelliJ, ...

It would be great if this same mechanism were available to specify an object factory. This would provide the same sort of cohesion and consisten

[2016-12-21 14:44] kreinholt opened #1287 "Parallel (methods) execution with dependsOn running in unexpected order"
Stackoverflow reference here: http://stackoverflow.com/questions/41253297

I'm trying to run tests with parallel methods. Method3 is not waiting for method1 to complete. It appears to wait for method2 to complete, but I'm not sure why.
### TestNG Version
6.10
### Expected behavior
Output should be
[code]
### Actual behavior
Output is:
[code]

### Is the issue reproductible on runner?

- [ ] Shell

[2016-12-21 16:22] juherr commented on #1287
Thanks for the report. Could you explain us do you run the class? Which options from the eclipse plugin?

[2016-12-21 17:13] kreinholt commented on #1287
I ran it by right clicking the testng.xml -> run as -> testNG Suite. I also ran it using maven from the command line with the same results.

I did however find that the bug was introduced in version 6.9.13.5. 6.9.13.4 and below work as expected.

[2016-12-21 19:11] juherr commented on #1287
I'm surprised because it is supposed to be the same code base for all `6.9.13.x`.

[2016-12-21 20:25] kreinholt commented on #1287
Looks like it's due to this commit: https://github.com/cbeust/testng/commit/d51b2b1672090234e3b216e6d8ae7ea265e63955

I think it might be an issue with the getFreeNodes function within DynamicGraph. It is returning method3 as a free node because it is the lowest priority even though it has a dependency that has not been fulfilled yet.

[2016-12-21 20:35] juherr commented on #1287
Good catch ! :+1: I supposed it comes from it.

Feel free to propose a fix and/or a test if you find something else :)

[2016-12-24 01:42] egglestonbd commented on #1287
The following simple project with java 8 can be executed which will exhibit the failure:  https://github.com/egglestonbd/testng-test
Simply clone the project and execute `mvn verify`.  Changing to version 6.9.11, does not show the issue.

[2016-12-24 10:37] vguna opened #1291 "Default behavior of dependsOnMethods is unexpected"
### TestNG Version
6.10

### Expected behavior
When running ITs from the maven failsafe plugin with default settings (no testng.xml specified, no parallel or forking configured etc.), I would expect, that all tests are running in order. That means grouped by class and optionally respecting `dependsOnMethods`.

### Actual behavior
Currently running ITs shows, that as soon as using `dependsOnMethods

[2016-12-24 10:54] vguna commented on #1291
As it seems (https://github.com/cbeust/testng/issues/952) this is the current expected behavior. Well I would think for most of the DEVs not ;).

[2016-12-24 15:47] cbeust commented on #1291
You're not giving much details about what ordering you get versus what ordering you expected.

The semantics of `dependsOnMethods` is very clear: if method `a` depends on method `b`, then `b` must run before `a`. That's it. There is no other specification, it's the only requirement. If you have an example demonstrating that this behavior is not honored, please post it here.

Thanks!

[2016-12-27 22:22] jreisteter opened #1292 "supportsValidation(SAXParserFactory) method does not honor the value returned from SaxParserFactory.getFeature"
### TestNG Version
6.9.12

### Expected behavior
XMLParser<T> successfully instantiates a SAXParser with the correct setValidating argument.

### Actual behavior
A SAXParserFactory implementation that does not support validation may still have setValidating(true) invoked on it, causing an exception, leaving the SAXParser field uninitialized.

The root cause appears to be that the supportsValidatio

[2016-12-28 02:23] krmahadevan commented on #1292
Can you please add some instructions on how to reproduce this ? I am not familiar with Android that much but I would like to take a jab at this issue. How would I recreate this ? Any setups that need to be done ?

[2016-12-28 10:09] vguna commented on #1291
My expectations would be, that all tests within a class are executed first, before executing tests of another class. Often tests setup a specific set of data that the test methods are using. E.g. we're setting up a GreenMail mail server in `@BeforeClass` and stop it in `@AfterClass`. After adding more tests/classes, we saw that there were binding issues during test execution. It took us some to ti

[2016-12-28 18:49] prvn133t opened #1293 "Beanshell based execution does not work any more"
### TestNG Version
6.10

### Expected behavior
Test cases inside the specified package should be executed successfully.

### Actual behavior
When beanshell is used in testng.xml to run the test cases inside the package, it does not execute any test cases. However not using the beanshell in testng.xml executes the test cases successfully.

### Is the issue reproductible on runner?

- [ ] Shell
- [X

[2016-12-29 04:53] krmahadevan commented on #1293
Looks like this was broken between TestNG [6.9.13.7](https://bintray.com/cbeust/maven/testng/6.9.13.7) and TestNG [6.9.13.8](https://bintray.com/cbeust/maven/testng/6.9.13.8)

I will dig in deeper and see what I can find.

[2016-12-29 05:03] krmahadevan commented on #1293
@prvn133t - The issue is due to beanshell libraries missing.

Please add the below as a dependency and try again

[code]
After that, the beanshell execution should start happeneing.

[This](https://github.com/cbeust/testng/commit/fc7b27aac2156218fe5223561033fd762a5986ba) commit may be the root cause for this issue. I will see how to fix this.

[2016-12-29 15:11] praveen133t commented on #1293
@krmahadevan : Yes, including bsh as a dependency works. Thanks.

[2016-12-29 16:13] cbeust commented on #1293
Good catch @krmahadevan. Odd that we don't have a test for BeanShell, could you add one?

Thanks!

[2016-12-29 17:33] juherr commented on #1293
@krmahadevan @cbeust In fact the issue is there: https://github.com/cbeust/testng/commit/ff90ec521fb69d41e5c55cce1430440ae3594aeb#diff-9e9bc3b137c68b6d2f626cfa2a8545e5L61
Then the question is: should beanshell be a default or an optional dependency?
I prefer the optional option but it was a default dependency for a while.

[2016-12-29 17:38] juherr commented on #1292
Yes. As I remember `SaxParserFactory.getFeature` always return `false` and the xml was never checked before. But maybe I'm doing it wrong and I didn't think about Android, for sure. :/
BTW, I'm open to another solution which is validating the xml.

[2016-12-29 18:07] cbeust commented on #1293
Yes, I remember now.

I guess optional is fine but then the BeanShell look up code should issue a useful error message if the BeanShell classes can't be found ("add a dependency to org.beanshell... to your build file in order to use BeanShell").

Thoughts?

[2016-12-29 19:52] juherr commented on #1293
Yes, sound good and easy: just have to add a log message in https://github.com/cbeust/testng/blob/5fa5ed7f9fb8428fbc2412321f95f73164222af7/src/main/java/org/testng/internal/BshMock.java#L8

[2016-12-30 06:17] madphysicist commented on #1273
Any plans to regenerate this file? I ask because I am maintaining the documentation package for TestNG in the Arch User Repository and getting it directly from the pre-built version is much easier than building from scratch as I have been doing.

[2016-12-30 06:54] krmahadevan commented on #1293
@juherr and @cbeust Shouldn't we instead be throwing an exception (`IllegalStateException` for e.g.,) if beanshell is not found in the classpath ? If a person is relying on beanshell for method selection, then I feel that we should throw an exception and let the user know that since the beanshell jars are not found in the classpath, their expected method selection via beanshell would not work ? Pl

[2016-12-30 07:00] krmahadevan commented on #1273
@madphysicist - The javadocs are available for 6.10 in maven central.
Wouldn't that work for you ?

http://repo1.maven.org/maven2/org/testng/testng/6.9.10/

[2016-12-30 07:05] Prakash-Saravanan opened #1294 "Feature request: selecting overloaded test methods (suite file and/or eclipse plugin)"
### TestNG Version

6.10

### Expected behavior
Having more than one methods in a class with same name and different signature (method overloading) and selecting (by double clicking the method name) and running one test method, it should run the selected method alone.

### Actual behavior
It executes all the methods with that name.

### Is the issue reproductible on runner?

- [x] Eclipse

### Tes

[2016-12-30 07:08] madphysicist commented on #1273
@krmahadevan Unfortunately "testng-6.10-javadoc.jar" under http://repo1.maven.org/maven2/org/testng/testng/6.10/ appears to be the same 166-byte nearly-empty file, but thanks for pointing me to that site.

[2016-12-30 07:10] krmahadevan commented on #1273
@madphysicist - I see the following
[code]
In http://repo1.maven.org/maven2/org/testng/testng/6.9.10/

Can you please check once again ?

[2016-12-30 07:10] Prakash-Saravanan commented on #1294
When running as an XML file, it will run all the methods.
Is this an expected behavior with Eclipse runner too?

[2016-12-30 07:12] krmahadevan commented on #1294
@Prakash-Saravanan - I think that's the expected behaviour. TestNG resorts to reflection to find methods, but it doesn't differentiate methods based on their signatures, but resorts to finding methods based on ONLY names. So IMO this is not an issue but TestNG is working as designed.

[2016-12-30 08:40] juherr commented on #1293
@krmahadevan @cbeust +1 for an exception when a beanshell script is provided without the dependency.

[2016-12-30 08:56] juherr commented on #1294
Could be an improvement on test selection or, at least, testng may warn if it found many methods with the same name.

@krmahadevan @cbeust What do you think?

[2016-12-30 09:00] juherr commented on #1273
Same issue for me with http://repo1.maven.org/maven2/org/testng/testng/6.10/

[code]

[2016-12-30 09:05] juherr commented on #1273
@cbeust Something looks wrong in the release script

@madphysicist

No, because it is not possible to override files on maven central.
We will try to fix it in the next release.

[2016-12-30 15:42] madphysicist commented on #1273
@juherr Makes sense. Thanks for looking into it.

[2016-12-30 16:59] cbeust commented on #1293
Yes, it should interrupt TestNG right there.

--
Cédric

On Fri, Dec 30, 2016 at 12:40 AM, Julien Herr <notifications@github.com>
wrote:

[2016-12-30 19:08] cbeust commented on #1273
Yes, I'm aware of the problem.

Note that it's possible to override files on JCenter, but not Maven Central.

[2016-12-30 23:05] juherr commented on #1291
@vguna Your expectations look legit but due to dependencies between methods the order may change. So, the order depends on the context and that's why it is unspecified.
We can imagine having a default dependency between methods from the same class.

[2017-01-01 03:31] krmahadevan commented on #1294
@juherr - I think that makes sense to add a warning (at-least) informing the user of multiple overloaded versions of the same test method.

[2017-01-02 20:45] juherr commented on #1287
In fact, TestNG is supposed to wait for the **end** of the method before running a dependent method.
The issue comes from https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/internal/DynamicGraph.java#L104-L111 where, sometimes, we ignore a dependency and run a method.

I've already a wip fix for the issue but it generates important performance issues for the moment.

[2017-01-04 07:48] mikimrozowski opened #1296 "Listeners method run multiple times - testng 6.10"
Hi,
When I updated testng from 6.9.10 to 6.10 my listeners method run multiple times.
Here is first notification https://groups.google.com/forum/#!topic/testng-users/pTFJSmPfuzc

### TestNG Version
Tested on testng 6.10 and 6.9.10

### Expected behavior
Listener method should run once.
Output:
[code]

### Actual behavior
Listener method run multiplie times.
Output:
[code]

### Is the issue reprodu

[2017-01-04 08:53] krmahadevan commented on #1296
@mikimrozowski - I cannot seem to be able to reproduce this problem.

Please see my response here : https://groups.google.com/d/msg/testng-users/pTFJSmPfuzc/ol2AfA8pEgAJ

[2017-01-04 11:08] mikimrozowski commented on #1296
I run your modify code and still is wrong.
Output from testng 6.10:
[code]

And output from testng 6.9.10:
[code]

[2017-01-04 11:18] krmahadevan commented on #1296
@mikimrozowski - I am kind of confused here. If you basically used all the artifacts that i shared (test code and listener code), how is it possible that it would give two different outputs when run by two people ? Can you please help call out the set of steps you are following when you executed the test code that i shared ?

I basically created a suite xml file like the one you created and shared

[2017-01-04 11:43] mikimrozowski commented on #1296
Here is my pom.xml
[code]
I run this code via maven from Intellij by add "clean test" parameters.

[2017-01-04 12:18] mikimrozowski commented on #1296
Here, sample project.
[Test.zip](https://github.com/cbeust/testng/files/684585/Test.zip)

[2017-01-04 14:15] praveen133t opened #1297 "testng-failed.xml includes setup and tearDown (before and after annotations) of passed tests"
### TestNG Version
6.10

### Expected behavior
testng-failed.xml should only include before and after annotation and `@test` of failed test class

### Actual behavior
testng-failed.xml includes setup and tearDown (before and after annotations) of passed tests

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

###

[2017-01-04 14:19] praveen133t commented on #1297
[https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/reporters/FailedReporter.java#L153](url) ---> was not getting all the tests in one of the older testng versions. But now it's getting all the tests. Is that how it's supposed to be?

[2017-01-04 14:19] krmahadevan commented on #1297
@praveen133t - I don't think this is an issue.
Your FailedReporterTest1 is declared as below

[code]

And in your suite xml file, you have included this class as part of the same `<test>` tag.
So the `@BeforeTest` and `@AfterTest` are bound to be executed for any failed test classes that are part of the same `<test>` tag which explains why you are seeing

[code]
Remember  that `@BeforeTest` are go

[2017-01-05 04:45] #1293 closed

[2017-01-05 18:25] cbeust commented on #1273
I fixed testng-6.10-javadoc.jar on JCenter:

http://jcenter.bintray.com/org/testng/testng/6.10/

[2017-01-05 18:25] #1273 closed

[2017-01-05 19:08] madphysicist commented on #1273
Thanks.

[2017-01-10 09:06] mathias21 commented on #1185
Hi @juherr

Any update on this? I'm facing the same problem due to parallel execution with dependsOnMethod. I had a look to graph/GraphThreadPoolExecutor.java but it looks like my basic knowledge won't be enough here.

Thank you!

[2017-01-10 09:38] juherr commented on #1185
@mathias21 Nope, nothing new for the moment. Sorry.

[2017-01-10 09:59] mathias21 commented on #1185
Hi @thibaut-sticky

I think I've found a workaround to solve this problem. It takes 2 dependencies: with the max amount of devices you are going to use at the same time, and also forcing you to release the session during @AfterClass method, but apparently it works. If you specify in your suite XML file "thread-count='2'", then you can define your suite as following:

<suite name="SmokeTest" config

[2017-01-10 13:41] thibaut-sticky commented on #1185
@mathias21 Thx you for your workaround, but sadly in my case I cannot apply it. But at least I can see I'm not the only one using parallel and dependsOnMethod features 👍

[2017-01-10 17:48] juherr opened #1298 "ITestResult injection is failing in BeforeMethod method"
From https://github.com/cbeust/testng-eclipse/issues/307

[2017-01-10 17:49] juherr commented on #1298
And exception from https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/internal/TestResult.java#L233 should have a message.

[2017-01-10 23:27] missedone commented on #1298
what I observed on my local with TestNG 6.0 is the stacktrack below:
[code]

this happens when runConfigurationListeners, at this phase, the ITestResult is still at initial state, its status is `-1`, so I still think the workaround/fix for this, is to print message rather than throw exception in a toString() method, and normally I think it make sense that make sure calling toString() is alway succ

[2017-01-11 02:31] krmahadevan commented on #1298
Maybe we can classify `-1` as `CREATED` (indicating that an `ITestResult` object has been created for a corresponding TestNG method, but it doesn't have any state yet, instead of classifying it as `UNKNOWN` ). Thoughts @missedone @juherr ?

[2017-01-11 04:22] missedone commented on #1298
👍 , `CREATED=-1` looks good to me.

[2017-01-11 17:37] #1284 closed

[2017-01-11 17:42] #1298 closed

[2017-01-12 17:35] Randgalt opened #1300 "Assert equals for map of byte arrays is broken"
### TestNG Version
6.10

### Expected behavior
given: `Map<String, byte[]>` Assert.assertEquals() should do a deep compare

### Actual behavior
It appears to be doing an ID compare on the byte arrays

### Is the issue reproductible on runner?

- [ ] Shell
- [X] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [X] IntelliJ
- [ ] NetBeans

### Test case sample

[code]

This worked as expected in 6.8.8

[2017-01-12 19:42] juherr commented on #1300
The behavior changed with #870
And the related test is there https://github.com/cbeust/testng/blob/master/src/test/java/test/asserttests/ArrayEqualityAssertTest.java#L88

[2017-01-12 19:44] Randgalt commented on #1300
In that case it would be nice to have an Assert.assertEqualsDeep() or something. I was very surprised that working tests started failing when I updated to the latest version.

[2017-01-12 19:50] juherr commented on #1300
Sure. Maybe could you propose something? :)

[2017-01-13 14:49] DzmitryHumianiuk commented on #914
reference.
blocker for https://github.com/reportportal/client-java-core/issues/6

[2017-01-17 21:43] sbabcoc commented on #1296
I haven't examined the code, but this may be a class loader issue. Your testng.xml suite is bringing in the same test class 3 times, and a new instance of your listener is being hooked in each time. By the third iteration, you have 3 copies of your listener running simultaneously.

[2017-01-19 02:06] toutoudnf commented on #1185
i have the same problem with parallel=classes & using dependsOnMethod in one classe, and i do some prepare work using localThread var :(. it takes me a long time to find out the thread change. hope this bug could be fixed soon :)

[2017-01-19 13:46] apreg commented on #549
@krmahadevan Could you try to include  method2 too like this:
`<groups>
            <run>
                <include name="method1"/>
                <include name="method2"/>
            </run>
        </groups>`
Does it work this way too for you?

[2017-01-20 08:53] gjuillot opened #1303 "Not all listeners are taken into account if one of them is a factory"
TestNG Version 6.9.13.8 and 6.10.1-SNAPSHOT

When we declare multiple listeners either via annoatation or via suite file, if one of them is a factory then not all listeners are taken into account

### Test case sample

For example, here are my listeners and factory

`
public class MyMethodInterceptor implements IMethodInterceptor {

  @Override
  public List<IMethodInstance> intercept(List<IMethod

[2017-01-20 08:56] juherr commented on #1303
Thanks for the report.

[2017-01-20 09:31] machiev opened #1304 "Error in DataProvider does not fail test"
### TestNG Version
6.10

### Expected behavior
Failure to create test data via DataProvider should mark test as failed.

### Actual behavior
Test is marked as skipped.

### Is the issue reproductible on runner?
- [v] Maven
- [v] IntelliJ

### Test case sample
[code]

The problem is in the code of Invoker class (line 1115):
[code]
I can see that `throwable` above is RuntimeException instance and th

[2017-01-20 10:09] juherr commented on #1304
It works as designed. :)

The test itself didn't fail and the data provider is not part of the test.
In fact, the test didn't run at all, so its status cannot be `FAILURE`.

Maybe something could be improved but `SKIP` looks logical IMO.

@cbeust Could you confirm?

[2017-01-20 10:09] #1304 closed

[2017-01-20 10:11] juherr commented on #1304
@machiev BTW, why did you expect `FAILURE`? Maybe we can find a compromise depending on your needs ;)

[2017-01-20 20:59] cbeust commented on #1304
@juherr's interpretation is correct.

The right status here is a `SKIP`, not a `FAILURE`, which would indicate that something might be broken in your project, which is not the case (it's the test that's broken, not the functionality you're testing).

Hope this makes sense.

[2017-01-21 11:30] shaburov commented on #772
testng 6.9.13.3
[code]

[2017-01-21 11:56] juherr commented on #772
@shaburov Do you have a way to reproduce it every time?

[2017-01-21 12:13] shaburov commented on #772
@juherr
Absolutely floating defect.
But since my tests are performed continuously in the monitoring mode, the reproduced defect in the interval 2-24 hours.

But I can guarantee that it is reproduced with the following settings:
testNG.setSuiteThreadPoolSize (<equal to the number launched suites>);
XmlSuite.setThreadCount (<5 and more>);

The error is not difficult to find.
![image](https://cloud.g

[2017-01-21 12:32] juherr commented on #772
`Collections.synchronizedList()` on https://github.com/cbeust/testng/blame/master/src/main/java/org/testng/internal/thread/graph/GraphThreadPoolExecutor.java#L29 is smarter IMO.

Is the fix resolving your issue?

You made the most difficult part of the job, why not proposing a pull request then? :)

[2017-01-21 14:53] shaburov commented on #772
@juherr
Pull request https://github.com/cbeust/testng/pull/1305

[2017-01-21 16:35] juherr opened #1306 "Potential NPE"
Memento issue:
TestNG is supposed to validate xml since 6.9.10 but I think we have no tests with `suite-files`.

[code]

with

[code]
[code]

From: http://stackoverflow.com/q/41754120/4234729

[2017-01-21 18:40] #772 closed

[2017-01-22 11:16] dr29bart commented on #1185
The similar problem happens when using priority. Described in #1066

[2017-01-23 12:07] michaelcowan opened #1307 "TestNGException when using an anonymous class in Factory"
### TestNG Version
Latest master (6.10)

### Expected behavior
`TestNGClassFinder` should not try and instantiate an anonymous class within a Factory.

### Actual behavior
An exception is thrown:
[code]

### Is the issue reproductible on runner?

- [X] Shell
- [X] Maven
- [X] Gradle
- [ ] Ant
- [ ] Eclipse
- [X] IntelliJ
- [ ] NetBeans

### Test case sample

[code]

[code]

I have a sample of the

[2017-01-23 15:16] sylvainbouxin commented on #1185
@juherr
I am quite impacted by this issue as well, and saw you self-assigned the ticket.
Does that mean you're actively working on a resolution? What kind of priority is this for you?
This rather high for us...
Thanks

[2017-01-23 15:40] mathias21 commented on #1185
Hi all

Do we know if this is not happening in a concrete version? I'm also using 6.9.12. I believe this is a structural issue, not a punctual bug or typo, am I right?

[2017-01-23 15:40] slipwalker opened #1309 "Classes in testNg xml within <classes></classes> tag running depending on tests orders but not class orders"
I have a TestNG file looks something like that:

[code]
In each test class I have test methods marked with Test annotation, starting with priority 1 and so on. When the tests were running, it turned out that TestNG executed all the tests with priority 1, then 2, etc and even didn't respect order of the classes within `<classes></classes>` tag. In my case, it looked like that : test with priority 1

[2017-01-23 16:00] juherr commented on #1185
@sylvainbouxin "actively" is not the good word but it is on the top of the list and I planned to work on it unless someone has enough motivation.
And I'm open to any help! 😉

@mathias21 Exactly! There are some similar issues and the root cause is often `DynamicGraph` which manages the order of methods and the group of methods when parallel is used. So, just one of the most important part of TestNG

[2017-01-23 16:38] sylvainbouxin commented on #1185
@juherr nice challenge, indeed...
I'm currently looking into this: I really need this fixed or write my own framework to manage the order of methods and classes with parallel execution.

[2017-01-23 16:54] juherr commented on #1185
@sylvainbouxin Nice! Feel free to send me emails if you need to exchange some extra things.

[2017-01-24 00:21] rishabh-hs opened #1310 "Getting error The method getEscapeHtml() is undefined for the type Reporter"
### TestNG Version

### Expected behavior

### Actual behavior

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample

[2017-01-24 05:47] krmahadevan commented on #1310
@rishabh-hs - The method has been there for atleast 5 years now. Please see [here](https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/Reporter.java#L68-L70)

Can you please add more information on what you are doing to trigger this error ? You have not included any information related to that.

[2017-01-24 06:55] p00j4 opened #1312 "query: any pointers to easy issues to fix"
i'm willing to contribute to the project. However start is the difficult phase for newbies like me. It would be great help if can we have "easy" label tagged to few real easy issues to start with.

[2017-01-24 08:33] machiev commented on #1304
Guys, I see your point and understand that `FAILURE` is not very suitable in this case as the test per se hasn't been executed. `SKIP` however is something one can miss (some junior guys do it, believe me) as by default it doesn't fail a build. Additionally `SKIP` is a state for an ignored test so when an error happens (in data provider) and a test gets skipped I cannot see the cause immediately.

[2017-01-24 08:57] juherr commented on #1304
In fact, like configuration methods, a data provider method could be reported as a failure method in case of exceptions.

@machiev Does it fit your needs?
@cbeust WDYT?

[2017-01-24 09:03] juherr commented on #1304
`INCONCLUSIVE` is already a general term which describes a test state and sounds better IMO.
@cbeust WDYT?

[2017-01-24 15:15] cbeust commented on #1304
I'm not a fan of the idea of introducing a new state. It will introduce a lot of complications in the code base and also at the concept level. JUnit made a similar mistake when they introduced the distinction between failures and errors, and nobody could really remember the difference between those.

At the end of the day, when you run your tests, you look at the final result. If it's not SUCCESS,

[2017-01-24 15:24] juherr commented on #1304
@cbeust And what about the first point and the rule "user issue = crash"? We already have it at loading time when user wrote bad tests but not yet at runtime. I can't say if it is a good or bad idea.

[2017-01-24 17:14] juherr commented on #1312
Done! We will just have to determine if the fix could be easy or not and that's not always easy :p

[2017-01-24 17:14] #1312 closed

[2017-01-24 17:19] juherr commented on #1309
Do you have any other dependency?
Even if it should be `true`by defualt, did you try the `preserve-order="true"` attribute?
Even if it should not impact anything, could try the `group-by-instances="true"` attribute too?

[2017-01-24 17:58] slipwalker commented on #1309
No, I don't. Given TestNG file is very simple example where the issue can be easily reproduced. Test classes contain only two methods each without any dependency.
I tried setting `preserve-order="true"` and `group-by-instances="true"`, but it wouldn't help me.

[2017-01-24 21:00] juherr commented on #1309
@slipwalker I've just tried your suite file on the master branch and it is working as expected without any modification.

Could you try with TestNG 6.10 and 6.10.1-SNAPSHOT (from https://oss.sonatype.org/content/repositories/snapshots/)?
If it is still failing, could you share a full project?

[2017-01-25 10:15] p00j4 commented on #1312
very true @juherr , I understand and second your thoughts on it.
`
probably as an example, docs updation related issues might fall in easy category because in the same process to find out right content or links, I might learn the complete flow of the feature of this beautiful tool.
`
Thank You,
eager for the notifier :D

if ( len(getListOfOpenIssues([fix-easy](https://github.com/cbeust/testng/labe

[2017-01-25 22:47] ndrez93 opened #1314 "timeOut not working as expected programmatically"
### TestNG Version
Built from source 2017-01-19, occurs in earlier builds

### Expected behavior
TestNG kills unit tests that exceed the timeout.

### Actual behavior
Infinite loops continue running, TestNG won't kill the running thread. This happens when invoking TestNG from custom code.

### Is the issue reproductible on runner?

- [x] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [ ]

[2017-01-26 10:15] slipwalker commented on #1309
@juherr So, my test classes are very straightforward to eliminate possible impact of any dependency:

MyTests1 class:

[code]

MyTests2 class:

[code]
I've got following output from different TestNG version:

6.10.1-SNAPSHOT version. Wrong tests order:

[code]

6.10 version. Wrong tests order:

[code]

6.9.8 version. Need to a bit change xml file - instead of  `parallel="none"` use  `parallel="fal

[2017-01-26 11:35] juherr commented on #1309
Ok, I didn't catch the priority part at the first read. I will try on my side asap. Thanks for the sample!

[2017-01-26 11:41] juherr commented on #1309
Well, in fact, the order you are showing is the new expected one.
Now, there is a different priority on ordering features. In your case, `priority` is more important than `preserve-order` then `priority` is respected first.

As I know, `priority` is not scoped in a class and that's why TestNG uses it in the global context (@cbeust Could you confirm?).

[2017-01-26 11:44] juherr commented on #1309
BTW, the fix is pretty easy: use `dependsOnMethods` feature.

I really recommend using `dependsOnMethods` instead of `priority` when possible.

[2017-01-26 11:44] #1309 closed

[2017-01-26 13:10] slipwalker commented on #1309
It is not very convenient solution for me (and for other folks I suppose too). In case `priority` your tests can continue running when some tests before failed. But in case `dependsOnMethods` your tests will be skipped if dependent from test failed (what if I would like to have them run?). Also, that puts a restriction on each test method to have `dependsOnMethods` when I wanna keep some test orde

[2017-01-26 13:58] juherr commented on #1309
I agree that changes are always a pain but it is much more easy to explain test orders now:

https://github.com/cbeust/testng/blob/master/CHANGES.txt#L38

Again, you are right when you say that `priority` and `dependsOnMethods` don't have the same exact behavior but they are currently working as expected (I hope so!).

We can't swap `preserveOrder` and `priority` importance because it will break `

[2017-01-26 17:47] cbeust commented on #1309
@juherr is right, `@Priority` is global. As you point out, `dependsOnMethods` and `dependsOnGroups` should be the preferred way to order things within a class.

[2017-01-27 18:56] BrandonDude commented on #326
Just trying to keep this alive...
It would be nice to run multiple threads and have each one be "grouped by instance".

[2017-01-27 19:15] juherr commented on #326
@BrandonDude Do you confirm the issue still exist with 6.10 and 6.11-SNAPSHOT?

[2017-01-28 19:46] #1197 closed

[2017-01-28 19:47] #1307 closed

[2017-01-28 23:29] juherr commented on #1314
It's a common concurrent exception that you can reproduce easily:

[code]

TestNG is using a ThreadPoolExecutor for its timeout feature and has no way to stop the run of the method.
But a test is not supposed to loop forever, isn't it?
If you really really want it, check status with `Thread.currentThread().isInterrupted()`.

[2017-01-28 23:29] #1314 closed

[2017-01-29 03:42] krmahadevan commented on #1314
Extending what @juherr  said, here's what you should be altering your test method to

[code]

[2017-01-31 12:19] acikojevic opened #1318 "Jenkins throws NumberFormatException in TEST-TestSuite.xml"
### TestNG Version
v6.9.10

### Actual behavior
For longer test runs Jenkins is throwing **NumberFormatException** after all tests are executed because time data in **TEST-TestSuite.xml** is in weird format (for example, "8,926.953"). This results in red fail icon on my jenkins job although it says "Finished: SUCCESS" which is correct, but it goes in "failed" because of this exception.
Exception e

[2017-01-31 13:38] juherr commented on #1318
Thanks for the report.

Where are located weird data? Could you share your `TEST-TestSuite.xml` or some parts of it?

[2017-01-31 13:45] juherr commented on #1318
It looks the issue is fixed in Jenkins JUnit plugin since its 1.13 version: https://github.com/jenkinsci/junit-plugin/pull/43

Coud you upgrade your junit plugin and try again?

Feel free to reopen the issue if the problem still exist.

[2017-01-31 13:45] #1318 closed

[2017-01-31 14:41] acikojevic commented on #1318
Ok, I won't attach my file because this junit plugin issue seems to be it. I'm not jenkins admin so I will check it out with them, but tnx for info. :)

[2017-01-31 20:32] juherr commented on #1306
Malformed XML.

[2017-01-31 20:32] #1306 closed

[2017-02-02 07:22] Rameshwar-Juptimath commented on #151
What If I have a scenario as below:

	@Test(groups = { "regression", "smoke" }, dependsOnGroups = { "Creation" })
	public class EditName {

		@Test(dataProvider="SomeTestData",dataProviderClass=SearchData.class)
		public void TC_1(String Msg) throws Exception{
			System.out.println(Msg);
		}

		@Test(dataProvider="SomeTestData",dataProviderClass=SearchData.class, dependsOnMethods = { "TC_1" }))

[2017-02-02 08:37] juherr commented on #151
@Rameshwar-Juptimath What is the relation between you sample and this issue?

[2017-02-02 12:33] juherr opened #1319 "ITestResult#getInstance() method returns null for IConfigurationListener"
### TestNG Version
6.10

### Expected behavior
Not null

### Actual behavior
Null

### Test case sample
[code]

[code]

From: http://stackoverflow.com/q/41998960/4234729

[2017-02-02 12:35] krmahadevan commented on #1319
@juherr - I been off for quite a while :) I will pick this up and see if I can raise a PR on this.

[2017-02-02 12:46] juherr commented on #1319
Ok, great! 👍

@cbeust Could you gives more rights to @krmahadevan? I'm not able to assign him issues. I suppose it only works for `Collaborator`. Or if it works, maybe you can provide some rights to the `@testng-team/testng` team, I've just added him into.

[2017-02-03 18:44] #1319 closed

[2017-02-04 22:13] #1296 closed

[2017-02-05 08:11] juherr commented on #1292
I dug a bit and in fact, according to the documentation, [`SaxParserFactory#setValidating(boolean)`](http://docs.oracle.com/javase/8/docs/api/javax/xml/parsers/SAXParserFactory.html#setValidating-boolean-)  is not supposed to throw exceptions.
At the opposite, `SAXParserFactory#getFeature("http://xml.org/sax/features/validation")` is supposed to throw an exception if the parser doesn't know the fe

[2017-02-05 08:11] #1292 closed

[2017-02-05 18:57] #1300 closed

[2017-02-06 07:28] nidhitri opened #1323 "Unable to use dependsOnMethods Capability of TestNG for sharing data between two methods"
### TestNG Version

### Expected behavior
On using `dependsOnMethods`, we should be able to use the variable defined in `method1` inside `method2`.

### Actual behavior
But I'm getting the error as variable not defined. Eclipse states to create such variable.

### Is the issue reproductible on runner?
No

### Test case sample

[code]

Trying to use the result variable defined in login method insid

[2017-02-06 08:53] juherr commented on #1323
It's java, no magic: an undefined variable will be always undefined.

And test methods are not supposed to return something and TestNG will ignore it.

If you want to share information between method, just declare a class attribute:

[code]

[2017-02-06 08:53] #1323 closed

[2017-02-06 14:29] slipwalker opened #1324 "Possibility to add priority on a class in TestNG xml"
Following by #1309 it would be helpful to have possibility to add priority on a class in TestNG xml file in case we have several classes within `<classes></classes>` tag. What I mean:

[code]
It's would be some kind of improvement and could help to avoid appearing similar issues (#1309) in the future. Is it real/doable to do like that?

[2017-02-06 15:20] juherr commented on #1324
Everything in an annotation is supposed to be doable in xml too.

So, the request seems legit IMO ;)

[2017-02-06 15:21] juherr commented on #1324
@krmahadevan This request could be easy if you want to have a look on it ;)

[2017-02-07 19:10] BrandonDude commented on #427
+1

This is needed!

[2017-02-08 02:54] krmahadevan commented on #1324
@juherr - I will take a look at this one. I was away for a couple of days due to a personal emergency.

[2017-02-09 02:15] artgo opened #1325 "Specifying a listener will disable @BeforeMethod annotation to be considered"
### TestNG Version
6.10
### Expected behavior
Create an integration test class MyTestIT and create a setup() method annotated with ```@BeforeMethod(alwaysRun = true)```
When test is executed by maven-failsafe-plugin, setup method is executed before every test.

Now create any implementation of ITestListener interface and specify it in configuration properties of maven-failsafe-plugin.

Both ITestL

[2017-02-09 08:22] howardzeng commented on #279
I dont unterstand about Guice dependency injection,could you give me some easy sample!

thanks very much

[2017-02-09 08:36] juherr commented on #279
@howardzeng

http://testng.org/doc/documentation-main.html#guice-dependency-injection
http://biggerwrench.blogspot.fr/2014/02/testng-using-guice-for-dependency.html

[2017-02-09 08:37] juherr commented on #1325
Strange. Do you reproduce the issue in a IDE like eclipse or intellij?

[2017-02-09 14:28] anand853 commented on #1168
still i hit the same problem with testng 6.10. can you please share the workaround on this?

[2017-02-09 14:29] juherr commented on #1168
@anand853 Could you share your stacktrace? I bet the issue is not the same but a similar one.

[2017-02-09 14:51] anand853 commented on #1168
@juherr ,please find the logs

Tests run: 331, Failures: 5, Errors: 0, Skipped: 0, Time elapsed: 1,082.119 sec <<< FAILURE!
test62(test.com.t.test.com.t.AppRoombaHelpTest)  Time elapsed: 0.01 sec  <<< FAILURE!
java.util.ConcurrentModificationException: null
	at java.util.ArrayList$Itr.checkForComodification(ArrayList.java:901)
	at java.util.ArrayList$Itr.next(ArrayList.java:851)
	at com.relevantco

[2017-02-09 15:01] krmahadevan commented on #1168
@anand853 - This is not a problem from TestNG. Looks like you are facing this problem from extent reports, to be specific [this method](https://github.com/anshooarora/extentreports-java/blob/2.41.2/src/main/java/com/relevantcodes/extentreports/model/Test.java#L388-L396). I would suggest that you please file a bug [here](https://github.com/anshooarora/extentreports-java/issues)

[2017-02-09 15:03] anand853 commented on #1168
@krmahadevan ,
can you please provide me any workaround on this?

[2017-02-09 15:07] krmahadevan commented on #1168
@anand853 - There are no work arounds for this. Extent Reports needs to fix itself so that it doesn't try to modify and iterate a List at the same time without any sort of synchronization mechanism that wraps access to the list. That would ensure that you don't see this exception from extent reports. Not much can be done, apart from fixing the problematic code.

[2017-02-09 15:17] juherr commented on #1168
For reference: https://github.com/anshooarora/extentreports-java/issues/769

[2017-02-09 16:14] artgo commented on #1325
Of course! And yes, I also was surprised - couldn't find in the code why that would be...

[2017-02-09 16:24] juherr commented on #1325
Strange, because I'm not able to reproduce the issue on my side with intellij.

Could you try with `6.10.1-SNAPSHOT`?
Maybe you can share the full project too?

[2017-02-09 17:51] artgo commented on #1325
OK, when I was creating a sample project and couldn't reproduce it anymore...
I guess something might have cached in my system causing it to behave weirdly. I guess we can close this bug.
If I ever be able to find conditions to reproduce I will request to re-open it again with reference to repro repository.

[2017-02-09 17:51] #1325 closed

[2017-02-09 18:24] juherr commented on #1325
Ok, thanks for the update :)

[2017-02-10 03:11] krmahadevan commented on #1324
@slipwalker

If you remove the `priority` attribute from your `@Test` method, then your test classes will run in the order in which you specify them.  Please see details below. Is that what you are expecting ?

#### Scenario : Test classes have one or more `@Test` methods defined with priorities

[code]

[code]

[code]

The output

[code]

#### Scenario : Test classes have one or more `@Test` meth

[2017-02-10 03:17] krmahadevan commented on #1324
@juherr - I would like to understand the expectations of this fix. Currently when `parallel=none` (parallelism is disabled), TestNG resorts to preserving order of the test classes. But the only time when this does not happen is when the test classes have one or more `Test` methods that contain `priority`. So how should we approach this fix ?

Should we change TestNG to start honouring the newly pr

[2017-02-10 04:15] krmahadevan commented on #549
@apreg - If I do what you suggested above, then yes I can re-create what you are seeing.

@juherr - Do you think that this is an issue ? I am a bit confused on this.

Here's what TestNG is currently doing :

When user chooses to run by 1 or more groups, TestNG ends up invoking all the `@BeforeMethod` methods that belong to the groups chosen, for all the tests, instead of selectively running only t

[2017-02-10 09:48] juherr commented on #1324
In fact, I understand the need to override compiled things, like `priority`, at runtime.

So, my first idea was to add `priority` in XML and override Java configuration, where:
`<class name="..." priority="2"/>` == `@Test(priority = 2)` on a class (and overrides the value if one exists)
`<include name="..." priority="2"/>` == `@Test(priority = 2)` on a a method (and overrides the value if one exis

[2017-02-10 10:00] juherr commented on #549
Currently, it is how `groups` is working.
In fact, `groups` is just a way to select methods but there is no relation between methods with the same `groups`.

If you choose `method1` group, then every method with `method1` will be selected and run. If you choose `method1` and `method2` groups, then every method with `method1` or `method2` will be selected and run.

So, it is not a bug.

But many pe

[2017-02-10 17:38] cbeust commented on #1324
Intuitively, I think I'd expect `priority` to be above `preserve-order`. Any test failure if you make it so?

[2017-02-10 17:39] cbeust commented on #549
@juherr What is not logic about the current behavior?

[2017-02-10 17:47] juherr commented on #1324
What do you mean by:

Currently, `priority` is only available with `@Test` and `preserve-order` is only available in xml.
If `priority` is more important than `preserver-order` then it won't be possible to override order with xml.
if `priority` is less important than `preserve-order` then the default value must change to `false` otherwise it will break `priority` when xml is used (maybe more, but

[2017-02-10 17:53] juherr commented on #549
@cbeust In fact, many users expect to have groups activated when they select a test.

For example, if they run `@Test(groups="a")`, they expect `@BeforeMethod(groups="a")` will be run without specify any group in the test selection.

Another example: if the run `@Test(dependsOnGroup="a"), they expect `@Test(groups="a")` will be run first.

I'm not saying the current behavior is bad but it is not t

[2017-02-10 18:41] cbeust commented on #549
Isn't this what `alwaysRun = true` is for?

[2017-02-10 18:58] juherr commented on #549
No, it is not exactly the same goal IMO.

`alwaysRun` will be always invoked when `groups` will be only invoked if a method has one of the groups.

And if you check the sample of this issue, it goes a step further: it expects the group is only activated for the context of the test.

[2017-02-11 03:11] krmahadevan commented on #1324
@juherr and @cbeust - I will wait to hear a conclusion on this one before fixing this :)

[2017-02-12 10:28] juherr commented on #1324
@cbeust What do you prefer?

1. add `priority` in xml?
2. set `preserve-order=false` by default and change importance between `preserve-order` and `priority`, aka "I know what I'm doing with my xml order"
3. Both
4. None
5. Something else

[2017-02-12 13:30] juherr opened #1329 "Use GitHub as an up2date source for the documentation"
[ ] Configure github custom domain (testng.org): https://help.github.com/articles/adding-or-removing-a-custom-domain-for-your-github-pages-site/
[ ] Configure DNS www.testng.org: CNAME to cbeust.github.io
[ ] Configure DNS testng.org: A to 192.30.252.153 + A to 192.30.252.154 (from https://help.github.com/articles/setting-up-an-apex-domain/)

https://help.github.com/articles/setting-up-an-apex-dom

[2017-02-13 06:52] cbeust commented on #1324
2) might break existing users.

In doubt, and since this problem has been pretty rare so far, I'm inclined to do nothing.

[2017-02-13 08:44] juherr commented on #1324
ok

[2017-02-13 08:44] #1324 closed

[2017-02-13 15:54] jatheisenii commented on #1287
Any planned release for this fix yet?

[2017-02-13 17:31] cbeust commented on #1329
Why would I want to do this?

[2017-02-13 17:35] #1297 closed

[2017-02-13 17:43] cbeust commented on #1287
The tests are clean and the change log looks big enough.

I think we're ready for 6.11. @juherr @krmahadevan, any objections?

[2017-02-13 17:49] krmahadevan commented on #1287
@cbeust none from me.

[2017-02-13 17:50] juherr commented on #1329
Since I succeed to remove PHP pages and local Javadoc, there is no more dependency on a 3rd party server or post production things.
I think everything is static and run as expected now (check http://cbeust.github.io/testng/)

So, it will avoid manual update of the site and it will reduce the time between a doc contribution and its deployment (== less work for you, just merge).

[2017-02-13 17:52] juherr commented on #1287
@cbeust We can make a release, but I won't fix this specific issue because it is not fixed yet. I worked on it but I don't have a fix for the moment (and less free time).

[2017-02-13 17:53] cbeust commented on #1329
Ah so just updating the doc and pushing it will update the web site?

That'd be nice. I'm a bit nervous mucking with the DNS though but I'll look into it.

[2017-02-13 17:54] cbeust commented on #1287
@juherr Noted. Leaving this issue open then.

[2017-02-13 18:59] juherr commented on #1329
I got it.
But take your time.

A first step could be use a temp subdomain like gh.testng.com but the configuration is not exactly the same than root or www.

[2017-02-14 00:25] cbeust opened #1331 "ConcurrentModificationException when running the tests"
### TestNG Version

6.10

### Expected behavior

No exception.

### Actual behavior

Running the tests produces:

[code]

[2017-02-14 03:19] krmahadevan commented on #1331
@cbeust - I am just curious.. Was this in TestNG 6.10 ?

The stack trace suggests that it originated from `getNextConfiguration()` method `line 220` but when I see the source code for `JUnitReportReporter` the method `getNextConfiguration()` is within the lines [250-266](https://github.com/cbeust/testng/blob/6.10/src/main/java/org/testng/reporters/JUnitReportReporter.java#L250-L266)

[Line 220](ht

[2017-02-14 03:59] cbeust commented on #1331
Mmmh, indeed, let me try again when I'm back at that computer.

--
Cédric

On Mon, Feb 13, 2017 at 7:19 PM, Krishnan Mahadevan <
notifications@github.com> wrote:

[2017-02-14 04:09] krmahadevan opened #1332 "Make EmailableReport name configurable"
### TestNG Version

### Expected behavior
Emailable report file name should be configurable.

### Actual behavior
Its currently hard-coded to emailable-report.html

### Is the issue reproductible on runner?

- [X] Shell
- [X] Maven
- [X] Gradle
- [X] Ant
- [X] Eclipse
- [X] IntelliJ
- [X] NetBeans

### Test case sample

Question arises from this SO post : http://stackoverflow.com/a/42188021/679824

[2017-02-14 04:10] krmahadevan commented on #1332
@juherr - I saw your response on SO http://stackoverflow.com/a/42188021/679824
Just curious do you think we should support this via a JVM argument (or) do you think it should go via the TestNG command line parameters ?

The JVM argument would be an easy change. Just thought I would get your inputs on this.

[2017-02-14 09:02] juherr commented on #1332
@krmahadevan Why not both? :)

I think it is not documented but you can pass params to reporters from command line or xml thanks to https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/ReporterConfig.java (used in `TestNG` class)
But JVM args could be used too and override params.

[2017-02-14 16:13] yardening2 opened #1333 "testng executes the @BeforeClass and every @Test at a different thread"
### TestNG Version
6.10

### Expected behavior
The whole `<test>name</test>` should run on one thread

### Actual behavior
each @Test inside the class is executed on a different thread

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample

So this is the test class. 1 `@BeforeClass` and 2 `@Test`

[2017-02-14 19:48] juherr commented on #1333
Duplicate of #1185

Feel free to reopen if you think it is a different issue.

[2017-02-14 21:30] cbeust commented on #1185
@juherr, you said:

Can you elaborate on what the problem is exactly?

[2017-02-14 23:11] pcl commented on #309
@cbeust : this is biting us when we use TestNG together with Jenkinsfile-based builds. Any thoughts about how hard it'd be to fix, or appetite for accepting a PR?

[2017-02-14 23:39] cbeust commented on #309
Always happy to accept a PR, Patrick!

[2017-02-15 05:31] juherr commented on #1185
@cbeust due to the edge between methods, dependsOn* methods are no more together in the free nodes list. Now, they are free one by one.

[2017-02-15 09:00] Jesse1321 opened #1334 "parallel="classes" does not work if class extends abstract class ,but works fine parallel="tests""
### TestNG Version:6.10

### Expected behavior
should work

### Actual behavior
does not work. stopped at abstract class method.

### Is the issue reproductible on runner?

- [ ] Shell
- [X] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [ ] IntelliJ
- [X] NetBeans

### Test case sample

====testng.xml====

[code]
parallel mode works fine if specify parallel="tests" in testng.xml:

[code]

[2017-02-15 09:09] yardening2 opened #1335 "testng executes the @BeforeClass and every @Test at a different thread"
### TestNG Version
6.10

### Expected behavior
The whole `<test>name</test>` should run on one thread

### Actual behavior
each @Test inside the class is executed on a different thread

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample
A reopen of issue #1333
The issue has nothing to do with d

[2017-02-15 12:46] juherr commented on #1335
Duplicate of #1333

[2017-02-15 12:46] #1335 closed

[2017-02-15 12:47] juherr commented on #1333
Comment from #1335

Ok. Do you think it is a duplicate of #1035 in that case?

[2017-02-15 12:51] juherr commented on #1334
@Jesse1321 Thanks for the report.
Does `parallel="classes"` work if you remove the `abstract class`?

[2017-02-15 18:01] yardening2 commented on #1333
@juherr
My case isn't dealing with dependsOn nor the @BeforeClass is not the issue.
Every @Test in the same class gets executed in a different Thread than the previous @Test before it.

In other words, every @Test creates a new thread id.
You can see it in the thread numberings i added to my sample.

This happend to me only after updating my TestNG version from 6.9.10 to 6.10.
It affects my loggin

[2017-02-16 08:01] perwez123 opened #1336 "Parallel test (parallel='tests') does not work when priority is used in Test"
### TestNG Version :6.9.12

### Expected behavior
 When priority is used for all test case in all test class and test are run in parallel using `parallel="tests"` mode from `testng.xml` file.

Then all the test case must run in the same order as priority set for each test case without any issue

### Actual behavior
There are 3 test class and each test class having 3 tests method. And all test meth

[2017-02-16 20:46] juherr commented on #1336
Thanks for the report. Do you think it is similar to #1066?

[2017-02-17 05:37] Jesse1321 commented on #1334
thanks Juherr for your response!
i've spent 2 days on this issue, now i narrow down test scope to only parallel execute 2 tests and observed that if first method failed @Test(priority = 1), then execution order is abnormal , it does not follow up the annotation we defined, it will execute @Test(priority = 6) first, and then execute @Test(priority = 3), the other test methods are dependent on test1

[2017-02-17 06:47] Jesse1321 commented on #1334
if we change testng.xml to below, it works fine with expected execution order.

<suite name="Parallel test runs" parallel="classes" thread-count="3">
    <test name="T_01">
        <classes>
            <class name="com.oracle.civic.test.e2e.testcase.common.test1.Test01" />
        </classes>
    </test>
    <test name="T_02">
        <classes>
            <class name="com.oracle.civic.test.e2e.te

[2017-02-17 07:07] perwez123 commented on #1336
I think it is some what similar to this but not exactly. As in my case I have used parallel="tests" and have put all the test class in one test tag as shown below. But if i create test tag for each class separately then it works fine. And also it works fine when priority is removed from tests.

I think this issue exist in thread pooling. Thread is overlapped to last session after running the first

[2017-02-17 16:52] rromanik commented on #1252
Reproduced with TestNG v6.10 with testng.xml as

[code]

and with test classes as

[code]

[code]

Runing
`mvn clean test` gives output as following

[code]

[2017-02-17 20:28] jcdkount commented on #1166
I have been trying to understand why we would occasionally see a test execute multiple times.  Eventually I happened upon this bug.  In tracking it down, I captured a few pieces of information that are not in the current bug.  All of my conclusions can be checked by my test project: [bug-1166.zip](https://github.com/cbeust/testng/files/784203/bug-1166.zip)

1. Once a data provider test fails on a

[2017-02-19 14:45] yardening2 commented on #1333
@juherr
Ok, so i found the source to this behavior.

Review this example:

[code]

[code]

I get a different thread id for every method although each <test> tag should be 1 thread.

The reason is the `time-out="7200000"`. When I remove this parameter the tests exectute as expected.

Very strange behavior. Any idea why this happens?

[2017-02-19 16:38] juherr commented on #1333
@yardening2 Sure! The timeout feature is done by a thread pool on its own threads.

I'm pretty sure you issue, or a similar one, is already registered: https://github.com/cbeust/testng/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature%3A+timeout%22

[2017-02-20 10:17] juherr commented on #295
Duplicate of #286

[2017-02-20 10:17] #295 closed

[2017-02-20 10:28] juherr commented on #286
Should be fixed with #471

[2017-02-20 10:28] #286 closed

[2017-02-21 07:08] pavetok opened #1338 "BeforeClass doesn't work when BeforeGroup run on Class with excluded tests"
### TestNG Version
6.10

### Expected behavior
BeforeClass should be invoked when BeforeGroup run on Class with excluded tests

### Actual behavior
BeforeClass doesn't work when BeforeGroup run on Class with excluded tests

### Is the issue reproductible on runner?

- [x] Maven

### Test case sample
Minimal [case](https://github.com/pavetok/testng-group-setup)

[2017-02-21 08:51] juherr commented on #1338
Thanks for the report but I'm not sure to understand.
Configuration methods are only run if a test method exists in their own scope.
According to your sample, what is the expected/actual behavior? Which are the methods run?

[2017-02-21 13:16] gjuillot commented on #612
I would also love to be able to use Guice to inject parameters in tests.
DataProvider + IAnnotationTransformer is an interesting workaround but it lack flexibility (for example it is impossible to set the IAnnotationTransformer via @Listeners)

[2017-02-21 20:48] nathanila opened #1339 "ClassHelper.isOverridden() takes a lot of CPU time"
### TestNG Version
6.10

### Expected behavior
The method should run faster

### Actual behavior
The method consumes 38.9% of the time in my profile.

### Is the issue reproductible on runner?

- [?] Shell
- [?] Maven
- [?] Gradle
- [?] Ant
- [X] Eclipse
- [?] IntelliJ
- [?] NetBeans

I only ran the tests from Eclipse.  However, I would imagine this is reproducible on any of these since this is a

[2017-02-22 00:48] juherr commented on #1339
It looks you already have the solution. Why not proposing it in a pull request ?

[2017-02-22 03:57] nathanila commented on #1339
I don't have a solution.  I just have a suggestion on how to optimize the code.

[2017-02-22 05:23] pavetok commented on #1338
Thanks for the response.
Try to run my sample. You will get NPE:

    $ mvn clean test
    ...
    -------------------------------------------------------
     T E S T S
    -------------------------------------------------------
    Running TestSuite
    Tests run: 2, Failures: 1, Errors: 0, Skipped: 1, Time elapsed: 0.305 sec <<< FAILURE! - in TestSuite
    groupSetUp(com.pavetok.testng_group_se

[2017-02-22 06:22] juherr commented on #1339
Ok. Does the suggestion fix the issue as you expect? Could you try? Without a significative test case it will be difficult for us to reproduce ans fix.

[2017-02-22 06:23] bit-cracker007 opened #1340 "Abstract Class implementation shows weird behaviour. Abstract method called twice."
### TestNG Version

### Expected behaviour
The abstract method implementation of a abstract class should not get called without calling in some test method of implementing test class. This is only happening when the child class has defined TestGroup on it else it works as expected.

### Actual behaviour
The overridden method is automatically called after BeforeSuite and also after getting called i

[2017-02-22 06:49] bit-cracker007 commented on #765
Why no response yet?
Is this relatable to: https://github.com/cbeust/testng/issues/1340 ?

[2017-02-22 08:29] juherr commented on #1338
`@BeforeGroups` is run before `@BeforeClass` because a group may have many classes.
And that's why you have the NPE.

[2017-02-22 08:43] juherr commented on #1340
Thanks for the report.

According to your sample, it looks the `download` method is seen as a test method.
If you set a `@Test` on the class, it means all methods of the class are test methods (including `download`).
I suppose it is what you are doing with `@Test(groups = {"abc"})`.

[2017-02-22 08:46] juherr commented on #765
Because nobody had the time to have a look on it.

Not at all.

[2017-02-22 08:51] juherr commented on #612
@gjuillot It could be a feature request. Could you open an issue with that?

[2017-02-22 09:08] gjuillot commented on #612
I'll do. But still, the best ever for me would be to have the possibility to use Guice to inject parameters in tests.

[2017-02-22 09:12] gjuillot opened #1341 "Enable to set the IAnnotationTransformer via @Listeners"
Currently, as stated in the documentation, it is not supported to set the `IAnnotationTransformer` via `@Listeners`

See also #612

[2017-02-22 10:39] pavetok commented on #1338
`@BeforeGroups` was invoked on the `SecondTest` instance because it first in the `testng.xml`.
Would it be possible to invoke `@BeforeGroups` on the `FisrtTest` instance?

[2017-02-22 10:54] juherr commented on #1338
Ok, I got it! I agree the behavior looks stupid but the answer is currently no ;)

Imagine you have a `ThirdTest` with a `@Test(groups = {"group2"})`: on which instance should we invoke the `@BeforeGroups`? `SecondTest` instance or `ThirdTest` instance?
And as you understood, TestNG takes the first instance it finds for the moment.

BTW, we are open to any better ideas :)

[2017-02-22 12:22] pavetok commented on #1338
Yet another couple of questions.

If you look at the report, `@BeforeGroups` is run after `FirstTest` instance `@BeforeClass`. Why?
![report](https://cloud.githubusercontent.com/assets/912757/23211160/b864bac6-f911-11e6-9bad-019b221a2702.png)

If TestNG executes methods in `FisrtTest` instance, why it can't invoke `@BeforeGroups` on that instance?

[2017-02-22 13:49] ylemontagner opened #1342 "Assert.assertEquals() broken for multi-dimensionnal array"
Hi,

As of TestNG version 6.9.10, the following test case fails:

[code]

It used to work up to version 6.9.9. The "normal" behavior seems to be the old one, i.e. consider `array1` and `array2` as equals.

[2017-02-22 14:48] juherr commented on #1338
I've just had a look with my IDE this time and I was wrong: before group is run AFTER before class.

@cbeust Could you explain why? Is it expected? As a group is defined on a `<test>`, I think it is more logic to have `@BeforeTest` -> `@BeforeGroup` -> `@BeforeClass`. WDYT?

@pavetok I reproduced the issue and we can expect to have "the first instance involved in the suite" instead of "the first i

[2017-02-22 15:45] juherr commented on #1342
Duplicate of http://github.com/cbeust/testng/issues/1300

The behavior changed in 6.9.10 with https://github.com/cbeust/testng/pull/870
The previous behavior will be available with `assertEqualsDeep` in the next release (you can already try it with 6.10.1-SNAPSHOT).

[2017-02-22 15:45] #1342 closed

[2017-02-22 15:55] ylemontagner commented on #1342
Thank you.

[2017-02-23 01:38] cbeust commented on #1338
@juherr Sounds reasonable, but there might be reasons I forgot. If the
behavior is easy to change, go ahead and change it and let's see what tests
break...

--
Cédric

On Wed, Feb 22, 2017 at 6:48 AM, Julien Herr <notifications@github.com>
wrote:

[2017-02-23 04:13] krmahadevan commented on #1336
@juherr - I think I can recreate the problem. I also have a hunch of what might be going wrong. I think its related to our `GraphThreadPoolExecutor` which picks up freenodes for execution. But the issue here is that it keeps submitting new tasks from the ready list, after a method has completely run to completion. This is very evident in cases, wherein a TestNG test is making use of Selenium where

[2017-02-23 09:21] juherr opened #1346 "Try to change order of @BeforeGroup/@AfterGroup"
From: #1338

Current behavior: `@BeforeTest` -> `@BeforeClass` -> `@BeforeGroup`
Expected behavior: `@BeforeTest` -> `@BeforeGroup` -> `@BeforeClass`

To check: a group may be declared on a suite too.
In that case, the expected behavior could be:  `@BeforeSuite` -> `@BeforeGroup` -> `@BeforeTest`

[2017-02-23 11:08] juherr commented on #1329
@cbeust Did you already change something? Some issue on the documentation ("table of content" or http://testng.org/doc/dtd/) on  http://testng.org/doc/documentation-main.html

[2017-02-23 13:30] #1338 closed

[2017-02-23 13:37] cbeust commented on #1329
Indeed, the js and css files are no longer there. I don't see them on the testng-team either, weird. Looking.

[2017-02-23 13:40] juherr commented on #1329
Strange! But maybe it is the perfect time to move to github :p

[2017-02-23 13:45] cbeust commented on #1329
Fixed:  https://github.com/testng-team/testng-team.github.io/commit/9b948ae3e088141aa79cab8c2c1f652bc8efde49

Not sure how this ever worked, these files were never checked in the testng-team repo.

As for github,  I don't think I'm going to do this: I'm not comfortable tying the documentation to an external service, even if that service is github.

[2017-02-23 13:45] #1329 closed

[2017-02-23 13:49] juherr commented on #1329
No prob. But in that case, why not removing the folder from here and remove the duplication?

[2017-02-23 13:54] cbeust commented on #1329
Indeed. Done.

[2017-02-23 14:16] dpawson opened #1347 "Build failure?"
### TestNG Version

### Expected behavior
jar to be available in target directory.

### Actual behavior
From
http://testng.org/doc/download.html

I tried

Build TestNG from source code

TestNG is also hosted on GitHub, where you can download the source and build the distribution yourself:

$ git clone git://github.com/cbeust/testng.git
$ cd testng
$ ./build-with-gradle

1452 tests completed, 1 fai

[2017-02-23 16:06] prasanta-biswas opened #1348 "Unable to run before/after methods residing in different class with groups"
### TestNG 6.9.10
TestNG is not able to run before/after methods from different class when some specific groups are run from commandline.

### Expected behavior
It should be able to run before/after method of any test method if the test method is invoked by a group. It works if we the before/after methods are assigned that particular group.

### Actual behavior
It is not running the before/after m

[2017-02-23 16:24] krmahadevan commented on #1347
@dpawson - Can you please help attach the file `file:///files/java/crypto/testng/build/reports/tests/test/index.html` ? That would tell us which of the tests failed.

PS : Sometimes I have seen some tests fail sporadically. Re-running the build locally goes through on the second attempt. So maybe you can try it once again and post back your results ?

[2017-02-23 16:29] krmahadevan commented on #1348
@prasanta-biswas - That's not how it works. If you would like the `@BeforeMethod` to be executed all the time irrespective of which group was picked up for execution, then you should be adding `alwaysRun=true`.

Quoting the [documentation](http://testng.org/doc/documentation-main.html)

For after methods (afterSuite, afterClass, ...): If set to true, this configuration method will be run even if o

[2017-02-23 16:43] #1332 closed

[2017-02-23 16:54] #1348 closed

[2017-02-23 16:57] juherr commented on #1347
+1 As @krmahadevan we have some random issues with parallel tests.

You can check the build status on Travis: https://travis-ci.org/cbeust/testng

[2017-02-23 16:57] #1347 closed

[2017-02-23 18:36] dpawson commented on #1347
Not met 'travis' before, wouldn't know how?
Found a jar file which is all I wanted.
regards

On 23 February 2017 at 16:57, Julien Herr <notifications@github.com> wrote:

--
Dave Pawson
XSLT XSL-FO FAQ.
Docbook FAQ.
http://www.dpawson.co.uk

[2017-02-24 07:56] perwez123 commented on #1336
Sorry for late update , This is can be reproduced without parallel test also following the same steps as mentioned above.

[2017-02-24 12:49] krmahadevan commented on #1334
@Jesse1321 - I am not able to understand what is the problem here. The classes are getting invoked in parallel.

Here's the samples

**TestBase.java**
[code]

**Test01.java**
[code]

**Test02.java**
[code]
Now with the suite xml as below
[code]

Here's the output (trimmed version)
[code]

Now when using the below xml
[code]
Here's the output (trimmed version)
[code]

I can for sure say that the ab

[2017-02-24 13:30] juherr commented on #1252
In fact, it is the expected behavior: priority > group-by-instances

See my answer on http://stackoverflow.com/a/42438870/4234729

[2017-02-24 13:30] #1252 closed

[2017-02-24 16:31] krmahadevan commented on #1340
@juherr - This is just a hunch. Would it have anything to do with the `@Slf4j` annotation causing the logger to duplicate logging ?

The reason why I ask is because, when I removed off the logger and replaced it with a `System.out.println` here's what my output looked like (which matches what @bit-cracker007 is expecting as well)

[code]

[2017-02-24 16:52] elbaloo commented on #1331
@krmahadevan, @cbeust on 6.9.13 [line 220](https://github.com/cbeust/testng/blob/6.9.13/src/main/java/org/testng/reporters/JUnitReportReporter.java#L220) corresponds to a for loop iterating `List<ITestResult> confResults`, which is modified on every iteration. Seems like a visual error when the `removeAll(Collection<?> c)` call was left there on [6b7e679](https://github.com/cbeust/testng/commit/6b

[2017-02-24 17:05] krmahadevan commented on #1331
@elbaloo - That was fixed as part of [this](https://github.com/cbeust/testng/commit/ee78cc319f57dfb175755acecc400a7686a51339) commit and is part of the latest released version of TestNG (6.10)

[2017-02-24 20:13] juherr commented on #1340
@krmahadevan I think so too. If you want to test with `@Slf4j`, it comes from https://projectlombok.org/features/Log.html

[2017-02-24 20:15] juherr commented on #1340
@bit-cracker007 Could tell us what is your slf4j logger engine and could you share its configuration?

[2017-02-25 01:29] ghost opened #1351 "configFailurePolicy not working when using YAML instead of XML"
### TestNG Version
6.10

### Expected behavior
I am in the process of converting my TestNG XML files to YAML, but when I add the configFailurePolicy to my YAML file and I try to run it from maven I am getting the following:

[code]

Maven Command:
[code]

### Actual behavior

### Is the issue reproductible on runner?

- [ ] Shell
- [X] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [ ] IntelliJ
- [

[2017-02-25 02:31] Jesse1321 commented on #1334
Thanks krmahadevan for your analysis!
the problem is execution order is not as expected with the suite xml as below
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="1334_Suite" verbose="2" parallel="classes" thread-count="10">
    <test name="1334_Tests">
        <classes>
            <class name="com.rationaleemotions.github.issue1334

[2017-02-25 17:02] #1351 closed

[2017-02-25 17:58] juherr opened #1357 "Set topics"
I've not enough rights to add them but you can add topics to the main page.
See https://github.com/blog/2309-introducing-topics or https://github.com/testng-team/testng-team.github.io

[2017-02-25 22:03] cbeust commented on #1357
Done. Any other you can think of?

[2017-02-25 22:03] #1357 closed

[2017-02-25 22:10] juherr commented on #1357
`test-framework` maybe

[2017-02-25 22:54] bit-cracker007 commented on #1340
@juherr 👍
The 1st reason was correct. I had already figured out.

[2017-02-25 22:56] bit-cracker007 opened #1358 "[TestNG] TestNG Assert messages not getting published."
### TestNG Version
6.10

# Issue
I have few assert conditions for test success/failure verdict like:
`Assert.assertTrue(condition, "message"); // Assert comes from org.testng.assert`
Here, on failure "message" is not getting published.

**I am using Slf4j logger built on top of log4j2.**

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [x] Ant
- [x] Eclipse
- [ ]

[2017-02-26 06:36] juherr commented on #1340
:+1: for @krmahadevan instead ;)

[2017-02-26 06:37] #1340 closed

[2017-02-26 07:29] juherr commented on #1358
What is the current string?

[2017-02-26 18:54] krmahadevan opened #1360 "TestNG does not distinguish between methods of different priorities"
### TestNG Version

TestNG 6.10

### Expected behavior
Lets say there are 3 test classes in which each of them has 3 methods with priorities set as 1,2,3.
The expectation would be that TestNG first executes 3 methods with priority 1, followed by the next 3 methods with priority 2 and finally the 3 methods with priority 3.

### Actual behavior

Currently TestNG first executes 3 methods with priorit

[2017-02-26 19:39] ghost opened #1362 "AfterGroups does not get executed when MethodInterceptor is involved."
### TestNG Version 6.10

Absolutely similarly to the issue:
https://github.com/cbeust/testng/pull/525
AfterGroup is ignoring the output of MethodInterceptor when it removes several methods from group. This led to AfterGroups methods not getting executed at all.

[2017-02-27 05:08] #1339 closed

[2017-02-28 04:12] krmahadevan commented on #1362
@alek-gulin - Can you please help share a sample test, which can be executed to recreate the problem ?

[2017-02-28 10:38] sajalsinghji opened #1364 "Error while using TestNg DataProvider must return either Object[][] or Iterator<Object>[], not class [[Ljava.lang.Object;"
### TestNG Version:6.10

### Expected behavior
Testcase Should run using DataProvider data

### Actual behavior
Getting error : **Error while using TestNg DataProvider must return either Object[][] or Iterator<Object>[], not class [[Ljava.lang.Object;**

### Is the issue reproductible on runner?

[ Yes] Maven
[ Yes] Eclipse
[ Yes] IntelliJ

[http://stackoverflow.com/questions/42505444/error-while-

[2017-02-28 10:51] krmahadevan commented on #1364
@sajalsinghji - Can you also please include the spreadsheet with which you are working ? that way it would be a bit more easy to run your sample and reproduce the issue.

[2017-02-28 11:15] sajalsinghji commented on #1364
[Testdata.xlsx](https://github.com/cbeust/testng/files/806550/Testdata.xlsx)

[2017-02-28 12:00] jankowskirobert commented on #1364
There is nothing wrong with testng. You have bug in your Excel parser but it's not domain of this repository and topic.
The simplest way to check if it's a testng bug or not:
`import org.testng.annotations.AfterTest;
import org.testng.annotations.Test;

public class LoginTest {

	@Test(dataProvider = "ExcelDataProvider", dataProviderClass = TestDataProvider.class)
	public void Logintest(String use

[2017-02-28 12:10] #1364 closed

[2017-02-28 12:32] ChristiKh opened #1365 "Custom parser is not used for .xml"
Custom parser for .xml test script does not work - the default parser is processed. For other then .xml extension custom parser works fine.
Reproduced here:
https://github.com/ChristiKh/testng-custom-parser-failure

[2017-02-28 13:13] juherr commented on #1365
The feature was not designed to allow to override the default xml/yaml parsers.
It just allows adding new kind of formats.

Could you tell us what are you trying to do and why? :)

[2017-02-28 13:25] juherr commented on #1364
@jankowskirobert I'm not sure it is a parser issue. The error message is provided by TestNG (https://github.com/cbeust/testng/blob/15a824bd8d3658e7070b7cf105f2adc011d07000/src/main/java/org/testng/internal/MethodInvocationHelper.java#L136) and the java compiler should have checked type.
I'd like to understand how it is possible to reach this unexpected issue and that's why I asked to open the issu

[2017-02-28 13:26] ChristiKh commented on #1365
Hi, I want to have an .xml test script of my own format.

[2017-02-28 13:36] ChristiKh commented on #1365
Thank you!

[2017-02-28 13:36] sajalsinghji commented on #1364
@jankowskirobert  i am still facing the issue, but it really seems something is wrong with my excel return type, i am still trying to debug it.

[2017-02-28 13:44] krmahadevan commented on #1364
@juherr - I haven't yet reproduced it. Still at work. Will give it a try once I go home.

[2017-02-28 16:20] juherr commented on #1364
@sajalsinghji Ok, let us know

@krmahadevan Ok, no prob :)

[2017-02-28 17:48] #1360 closed

[2017-02-28 17:53] cbeust commented on #1365
Like @juherr said, this fix is still not going to allow you to do what you are asking for (having your own custom XML format). You'd have to write some transformation layer that will take your input and turn it into `XmlSuite`, `XmlTest`, etc...

[2017-02-28 17:55] cbeust commented on #1364
My suggestion to track this down: first of all, remove Excel out of the equation and return a hardcoded version of what your code should return.

Once you got this working, compare that return value with the one you are returning when calling the Excel API. I bet you'll find these two are not exactly the same type.

And yes, it's a bit tricky to manipulate `Object[][]` but it's the only way to ach

[2017-02-28 18:05] krmahadevan commented on #1364
@juherr - This is not a problem with TestNG. I tracked the problem. It was indeed an issue with the `ExcelParser`

@sajalsinghji - Please use the below version for your test (and it should work fine)

[code]

[2017-02-28 18:05] alek-gulin commented on #1362
Class:

[code]

Suite:

[code]

If we run tests, we'll see "test 1" and "test 3" only. If we replace intercept body by "return metods;" we'll see everything: "test 1", "test 2", "test 3" and "clear".

[2017-02-28 18:33] krmahadevan commented on #1334
@juherr My PR https://github.com/cbeust/testng/pull/1361 fixed this issue. But I have still gone ahead and raised a new PR (https://github.com/cbeust/testng/pull/1354)  that merely adds tests to validate this issue

[2017-03-01 21:53] #1334 closed

[2017-03-02 03:15] krmahadevan commented on #1334
@Jesse1321 - The issue should be fixed now. Please try using the latest snapshot for TestNG and confirm.

[2017-03-02 04:41] ChristiKh commented on #1365
Hi Cedric,
yes, my custom parser returns XmlSuite built from xml data
thank you

[2017-03-02 10:45] prasanta-biswas opened #1368 "Is there any way to stop further test execution when a test fails?"

[2017-03-02 12:29] amedvedjev commented on #1368
@Test(dependsOnMethods = "testThatFails")

[2017-03-02 12:56] prasanta-biswas commented on #1368
This is not what I meant. Suppose there are 100 test methods, and for some condition any test method out of 100 fails, then I want to stop execution of tests. The failed method is not a particular method.

[2017-03-02 15:52] gjuillot commented on #1144
It looks to me that `Constructor` is in fact [already supported](https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/internal/MethodInvocationHelper.java#L152)

[2017-03-02 19:14] juherr commented on #1368
Please, use StackOverflow or the mailing list for questions.

[2017-03-02 19:14] #1368 closed

[2017-03-02 19:39] juherr commented on #1144
@gjuillot Ok, thanks! But when I tried it didn't work.
Could you check we already have a test which covers that case? And if not add one (could be the one from the stackoverflow question)?

[2017-03-02 21:38] #1365 closed

[2017-03-03 07:42] onacit opened #1369 "dependency broken: com:beust:jcommander:1.64"
### TestNG Version
6.11

### Expected behavior
`com.beust:jcommander:1.64` should be available on the central.

### Actual behavior
mvn can't find `com.beust:jcommander:1.64`.

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample

[2017-03-03 11:48] krmahadevan commented on #1369
@cbeust - Can you please advise on whether `jcommander` is published to Maven central ?

[2017-03-03 13:56] juherr commented on #1369
@onacit We don't use any new jcommander api, so you can force a previous JCommander version.

[2017-03-03 15:03] Stephan202 commented on #1369
(Though that solution is not so nice when [`RequireUpperBoundDeps`](https://maven.apache.org/enforcer/apidocs/org/apache/maven/plugins/enforcer/RequireUpperBoundDeps.html) is enabled. :).)

[2017-03-03 17:38] juherr commented on #1369
@Stephan202 Sure! Another option: you can add jcenter as maven repository where every jcommander versions are available.
https://bintray.com/cbeust/maven/jcommander

[2017-03-03 21:08] marcmyers commented on #1369
@juherr is basically asking you to add this to your pom.xml
[code]

[2017-03-03 21:13] juherr commented on #1369
Yes, or even the whole https://jcenter.bintray.com/

[2017-03-03 23:32] cbeust commented on #1369
I just synced JCommander 1.64 to Maven Central, it should appear there shortly. Please reopen if it doesn't.

[2017-03-03 23:32] #1369 closed

[2017-03-03 23:33] cbeust commented on #1369
And as @juherr suggested, you might as well add JCenter as another repo in your build files anyway.

[2017-03-03 23:35] #1336 closed

[2017-03-04 13:40] Stephan202 commented on #1369
@cbeust, thanks for syncing! Can confirm it worked.

(Indeed, I could have our company Nexus proxy to an additional repo, but prefer to keep its configuration as simple as possible. So thanks again!)

[2017-03-04 21:54] juherr opened #1375 "Define/Use a code convention for new/updated code"
I think we should define a code convention for new & updated code in order to have the same IDE configuration everywhere and avoid syntax typo in pull requests.

Usually, I use [the google convention](https://google.github.io/styleguide/javaguide.html) because they provide [the idea and eclipse configuration file](https://github.com/google/styleguide).

@testng-team WDYT?

[2017-03-05 03:39] krmahadevan commented on #1375
I agree. We could also perhaps include a `editorConfig` file. In case of the formatter and user would still need to import it into their IDE for it to take effect. But in the case of editorConfig, it comes bundled with IntelliJ. Please see complete list [here](http://editorconfig.org/#download)
They also have a plugin for eclipse that can be downloaded. Am not trying to compare this against that,

[2017-03-05 08:55] wentaliu opened #1377 "jdk7 user getting compile error when use testNG 6.11"
### TestNG Version
6.11
### Expected behavior
TestNG should support jdk7

### Actual behavior
JDK7 user getting Unsupported major.minor version 52.0  when compile their code that depends on testNG 6.11.

Java complaining about com.beust:jcommander:1.64, that is a jdk8 only lib after v1.58 (or so).

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Ecli

[2017-03-05 09:16] juherr commented on #1375
Yes, EditorConfig is another option. But we need to determine the rules before. And I think we should not apply it to the current code quickly because the diff will be too huge.

We can discuss on rules but I don't want to spend to much time because I don't care to follow rules I don't like (once they are defined).
The google convention could be a good start and we can customize it according to op

[2017-03-05 14:10] krmahadevan commented on #1377
@wentaliu - What happens when you exclude this version and switch over to using a previous version that works with JDK7 ? From [this](https://github.com/cbeust/testng/issues/1369) issue I understand that TestNG does not use any of the newly introduced APIs from JCommander. So I guess you should be good to work with an older version of JCommander.

[2017-03-05 14:21] cbeust commented on #1375
Agreed, it would be nice to have formatting rules for IDEA and Eclipse included in the project, but in my experience, it's not always easy without specifying preferences for a lot of other things in the IDE (not sure if it's still true). If it's possible to commit a file that only specifies code formatting and nothing else, great.

Also, that file should ideally define import orders so we never se

[2017-03-05 14:53] cbeust commented on #1377
@wentaliu You are correct, this is a problem.

I just modified JCommander to compile to 1.7 and I uploaded it to JCenter (version 1.66). I also modified TestNG to depend on 1.66.

However, you won't benefit from this until the next version of TestNG, so if you are stuck with 1.7, I suggest you stay with the previous version of TestNG for now.

[2017-03-05 14:53] #1377 closed

[2017-03-05 19:29] juherr commented on #1375
@cbeust And WDYT about the google style?

[2017-03-06 00:34] kevinoid opened #1379 "dependsOnMethods not respected with parallel="methods""
### TestNG Version

6.11

### Expected behavior

Tests are run only after the tests on which they depend (via `dependsOnMethods`) have finished, even when running tests in parallel.

### Actual behavior

When running in parallel and a test runner thread becomes free, it always runs another test, even if the only unfinished tests are ones where not all dependencies have completed.

### Is the issue

[2017-03-06 05:09] kevinoid commented on #1379
I just came across #1287.  Looks like this issue is a duplicate of that one.  My mistake.  Closing in favor of that issue.

[2017-03-06 05:09] #1379 closed

[2017-03-06 08:57] Jesse1321 commented on #1334
it works fine now. thanks for helping!

[2017-03-06 17:46] #765 closed

[2017-03-06 17:51] cbeust commented on #1375
I'm fine with the Google style.

[2017-03-06 17:54] cbeust commented on #1287
Leaving a note for myself and future fixers: this is an important issue which we should fix as soon as possible.

[2017-03-06 22:22] juherr commented on #1287
@cbeust A fix is ongoing with #1290

[2017-03-06 23:10] juherr opened #1380 "DynamicGraph should manage transitive dependencies"
[code]

`a` and `c` should not be free at the same time: if `c -> b -> a` then an explicit edge should exist from `c` to `a`.
When `b` is finished then `a` should be free first and `c` only once `a` is finished.

From #1290

[2017-03-08 06:10] missedone commented on #1375
This still sucks today, for import order, eclipse has a separate preference and can be exported.
For now, our team uses both Eclipse and Intellij, we use eclipse preference as the source of truth. For Intellij, there is a Eclipse Code Formatter plugin can import the eclipse preference files (including the import order one)

[2017-03-08 11:11] #162 closed

[2017-03-08 16:53] juherr commented on #162
@mduarte Why did you close the issue? Is it fixed?

[2017-03-08 17:34] juherr commented on #1375
@missedone As proposed by @krmahadevan , editorConfig is supposed to fix configuration issues. Do you have any bad experience with it?

BTW, if we follow the google style, they already provide eclipse and intellij configuration files.

[2017-03-09 11:36] slanglois commented on #864
TestNG 6.11 is still built to work with Java 1.7, but it now depends on JCommander 1.64, which doesn't work on it and requires Java 1.8.
Is that expected?

[2017-03-09 12:48] juherr commented on #864
@slanglois See #1377 and #1369

[2017-03-09 13:15] sskorol commented on #864
@juherr @FibreFoX, ok, I got your points.

I have just couple of questions for you. Have you already checked Java 8 features? Have you tried them on any of your active projects?

If not, there's nothing to discuss, and that's a waste of time for all of us.

If yes, just take a look at any class, which currently uses collections, and tell me that it can't be refactored in a more concise and efficie

[2017-03-09 13:32] juherr commented on #864
@sskorol
I'm using Java8 for my projects but I still don't see any good reason to move to Java8 for the TestNG core because we want to continue to support users who didn't move yet, and we had already a bad experience with the drop of the support of Java5/6, and we are too few person to be able to support 2 branches at the same time.

But feel free to propose any API improvements which can help to

[2017-03-09 14:22] missedone commented on #1375
I didn't use editorConfig before, it could be a fun with trying something new, but looks like need to define the editorConfig profile from scratch to fit TestNG...

I would say let's start with google style first.
for the import order, there need to be a separate profile file.

[2017-03-09 21:16] cbeust commented on #864
@sskorol You don't need to convince me the code base would benefit a lot from Java 8, but the reason TestNG is still using 1.7 is because a lot of users are still using it.

[2017-03-10 15:57] anand853 commented on #1168
with the testng also im getting same error, can you please let us know which version of the jar and how to achieve parallel execution with testNG

error
java.util.ConcurrentModificationException
	at test.com.t.social.A.es_(A.java:1049)

Results :

Failed tests:
  AA.es_:1049 » ConcurrentModification

Tests run: 260, Failures: 1, Errors: 0, Skipped: 0

[INFO] ---------------------------------------

[2017-03-10 16:03] juherr commented on #1168
@anand853

It looks the exception comes from the test itself and not TestNG

[2017-03-10 18:51] #1144 closed

[2017-03-10 18:56] #1362 closed

[2017-03-11 12:37] juherr opened #1382 "ITest is not working with DataProvider"
### Expected/Actual behavior

### Test case sample

[code]

From http://stackoverflow.com/q/42726932/4234729

[2017-03-11 15:09] krmahadevan commented on #1380
@juherr  When you say

What does this mean ? Does it mean method `c` directly depends on method `b` and in-directly depends on method `a` whereas method `b` has ONLY a direct dependency on `a`.

[2017-03-11 16:42] krmahadevan commented on #1382
@juherr - So if I understand this problem correctly, what the user here is expecting is to be able to identify one or more parameters from a data provider, which should be used to construct the name ? Is my understanding correct ?

If yes, then we could perhaps consider introducing a new annotation that can be used on the parameters of the data driven test method which would help us identify how t

[2017-03-11 17:44] PeterGabriel2 opened #1383 "testng.org/testng-1.0.dtd should have 'none' instead of 'false' for property 'parallel'"
### TestNG Version
latest version

### Expected behavior

"http://testng.org/testng-1.0.dtd" should be updated or new version of dtd should be published.

### Actual behavior

warning in console:

[XmlSuite] [WARN] 'parallel' value 'false' is deprecated, default value will be used instead: 'none'.:

### Is the issue reproductible on runner?

- [x] Maven
- [x] IntelliJ

### Test case sample
[code]

[2017-03-11 18:52] #1287 closed

[2017-03-11 19:14] juherr commented on #1382
What I understood is: the user expects to be able to customize the test name but TestNG is overriding it.

I didn't test yet and maybe the description of the user is not perfect or even wrong.

But if confirmed, I see 2 problems:
- `ITest` is overridden by the test params: `(TestName2, 2, 2, 4)` -> The behavior should be configurable
Improvement: We can imagine having an `@TestName` on a method wh

[2017-03-11 19:19] juherr commented on #1380
@krmahadevan Yep, you got it.

Sometimes, in complex situations, `b` may be run before `a` and we lost the edge between `c` and `a`, and `c` may be run before `a` in that case.
With the `c` to `a` edge, `a` is supposed to be always run before `c`.

[2017-03-11 20:00] juherr commented on #1383
In fact, TestNG is using the DTD included in the jar and that's why it complains when you pass a "wrong" suite file but not your xml editor which points to the old dtd.

@cbeust Could you add a http redirection from http://testng.org/testng-1.0.dtd to https://raw.githubusercontent.com/cbeust/testng/master/src/main/resources/testng-1.0.dtd ?

[2017-03-11 20:03] juherr commented on #1383
@cbeust In fact, if you synch the site from https://github.com/testng-team/testng-team.github.io it should do the job: https://github.com/testng-team/testng-team.github.io/blob/master/.htaccess#L2

[2017-03-12 00:33] krmahadevan commented on #1380
@juherr with your recent changes in DynamicGraph do you think this is still
applicable ?
Ideally speaking TestNG should now be executing tests in batches when there
are dependencies involved. So in batch 1 only `a` would be executed and in
batch 2 `b` would be executed and finally in batch 3 `c` would get
executed.

On Sun, Mar 12, 2017, 00:50 Julien Herr <notifications@github.com> wrote:

--

Tha

[2017-03-12 03:08] krmahadevan commented on #1382
@juherr - I don't think there's any issues with TestNG. Its more of how the Test reports are being constructed.

Consider the below full fledged example

[code]

And here's the output

[code]
As you can see, `getName()` works as intended and it retains the value that was passed to it via the `IHookable` implementation

I think the user's experience is more to do with how the individual reporters a

[2017-03-13 03:49] cbeust commented on #1383
The redirect is in place, but note that the best way to access the DTD is to go to http://testng.org/dtd which displays the correct DTD but with highlighting.

[2017-03-13 03:49] #1383 closed

[2017-03-13 05:16] juherr commented on #1383
@cbeust your link is not good because it uses the old DTD file via the old php page. Instead, it should be http://testng.org/doc/dtd/ but the index.html file is missing.

[2017-03-13 05:49] cbeust commented on #1383
Try http://beust.com/dtd/ again.

[2017-03-13 12:56] juherr commented on #1383
Still not ok: the redirection points to `http://testng.org/testng-1.0.dtd.php/` => 404

And http://testng.org/testng-1.0.dtd.php:

[2017-03-13 12:57] juherr commented on #1383
And you should remove `http://beust.com/dtd/`(or redirect it to http://testng.org/dtd/)  which is really out-to-date ;)

[2017-03-13 16:41] cbeust commented on #1383
Ok, latest changes:

- Removed http://beust.com/dtd
- http://testng.org/dtd points to a colorized version of the DTD
- http://testng.org/testng-1.0.dtd points to the actual DTD

Better?

[2017-03-13 16:46] juherr commented on #1383
Looks good now 👍

[2017-03-13 19:32] juherr commented on #1382
Ok, I saw the answer on StackOverflow and if I understand well your own answer, the "issue" is in the [idea] reporter.

Thanks for the clarification :)

[2017-03-13 19:32] #1382 closed

[2017-03-13 19:43] juherr commented on #1380
My latest changes didn't fix this issue and the `test3` is currently wrong on the master: `a` and `c` will be run together without any defined order between them.
We expect: `c` is only run when `a` is finished.

[2017-03-13 20:12] juherr opened #1384 "Huge performance issue between 6.5.2 and 6.11"
### Expected behavior
Duration of tests (6.5.2): 2sec on IntelliJ

### Actual behavior
Duraction of tests (6.11): 15sec on IntelliJ

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample
Just run https://github.com/ning/compress tests

From @cowtowncoder on Twitter: https://twitter.com/cowtowncode

[2017-03-13 21:07] brtu opened #1385 "TestNG XML not valid with DTD @ http://testng.org/testng-1.0.dtd"
Please see stackoverflow link here:
http://stackoverflow.com/questions/42772424/testng-xml-not-valid

I am getting issues with the XML not meeting the DTD.

### TestNG Version
Tried on 6.11 and 6.9.11

### Expected behavior
XML should be valid with DTD.

### Actual behavior
Getting the error: 1:  3   The markup declarations contained or pointed to by the document type declaration must be well-form

[2017-03-13 22:32] ben-manes commented on #1139
The exception message is out of date, as is the annotation and website's documentation. Can you please update so that this enhancement is more visible?

[2017-03-14 04:10] cbeust commented on #1384
I created two scripts to run the tests with these two versions and the initial results don't reveal anything wrong:

[code]

In order to make sure I'm running the exact same tests, I created a `testng.xml` with the following classes:

[code]

Note that I commented one test, since it fails (missing a file).

What this tells me is that if there's a problem, it might be on the IDEA plug-in side but n

[2017-03-14 05:22] juherr commented on #1384
Strange because I reproduced the problem with maven and @cowtowncoder has it with eclipse.
I will try with cli asap.

[2017-03-14 05:24] juherr commented on #1139
@ben-manes Which exception message?

[2017-03-14 05:26] ben-manes commented on #1139
[code]

[2017-03-14 09:28] juherr commented on #1139
@ben-manes It supposed to be done with #1376 (available in the next release): https://github.com/cbeust/testng/blob/ce05e2779d87f73a445ffb3926119783610b411a/src/main/java/org/testng/internal/MethodInvocationHelper.java#L137

[2017-03-14 09:33] juherr commented on #1139
@ben-manes And I've just added the missing documentation in the todo list: https://github.com/testng-team/testng-team.github.io/issues/16

[2017-03-14 09:40] juherr commented on #1385
@brtu
It is saying that DTD https://raw.githubusercontent.com/cbeust/testng/master/src/main/resources/testng-1.0.dtd is not valid but I don't see why.

Ping @cbeust @krmahadevan

[2017-03-14 12:51] cbeust commented on #1385
What's the error message?

[2017-03-14 13:05] juherr commented on #1385
From http://www.xmlvalidation.com/

From TestNG it should not happen because it uses the DTD included into the jar.

@brtu What is the message from SAXParser?

[2017-03-14 14:17] krmahadevan commented on #1384
@cbeust - Here are my test results

* Using 6.8.21
`mvn clean test` takes ~1 Minute.

[code]

* Using TestNG 6.11
`mvn clean test` takes ~22 seconds more.

[code]

[2017-03-14 14:45] ben-manes commented on #1139
Thanks!

[2017-03-14 14:46] brtu commented on #1385
@juherr @cbeust updated the issue with the SAXParser message.  I'm afraid it is pretty vague and not very helpful.

I think that the https://raw.githubusercontent.com/cbeust/testng/master/src/main/resources/testng-1.0.dtd is correct, because when I change the DTD reference in the XML from the external reference

`<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">`

to a local reference

`<

[2017-03-14 14:50] krmahadevan commented on #1384
@cbeust - But when I tried with only the TestNG CLI approach, I noticed that my test results were pretty much the same across both the versions.

[code]

[code]

[code]

[code]

[code]

@juherr - I think the issue is perhaps not with TestNG but with something else.

[2017-03-14 15:18] juherr commented on #1385
Yes, it looks like xerces doesn't follow redirection.
But you can use your own dtd resolver: https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/xml/TestNGContentHandler.java#L89-L116

BTW, what are you trying to do? If you need to access to `XmlSuite` from your code, you may create an `ISuiteListener` which store the `XmlSuite` in a static variable and you will be able to use it

[2017-03-14 15:24] juherr commented on #1384
@krmahadevan
It's strange because the behavior changes when we only change the TestNG version.
Could you check what is the `suite.xml` generated by IntelliJ and retry with this one?

[2017-03-14 15:27] krmahadevan commented on #1384
@juherr - I didn't run any tests from within an IDE. It was only via maven and then using TestNG CLI.

[2017-03-14 15:28] brtu commented on #1385
Ah, I see.  This problem arose when I was using the https://github.com/saikrishna321/AppiumTestDistribution library to run Appium tests in parallel.  My quick workaround was just removing the DTD reference from the xml file so it wouldn't throw a parsing exception.  I'll look into using another dtd resolver/ISuiteListener.

[2017-03-14 15:37] juherr commented on #1385
@brtu In fact, I proposed 2 different solutions: `ISuiteListener` should avoid parsing the suite and a custom dtd resolver should allow to parse the suite without problem.

[2017-03-14 19:41] jawlitkp opened #1387 "Custom annotation inside @Test annotation"
Hello,

is there any way i can create custom annotation which i can call inside `@Test` annotation method.my purpose is to log each step description in page object framework

below is what i want to achive,i want to create `@Step` annotation which i can call inside `@Test` annotation and print all steps details in the report

[code]

[2017-03-14 19:52] juherr commented on #1384
@krmahadevan The suite generated by IntelliJ is same as yours:

[code]

[2017-03-14 20:11] juherr commented on #1384
The biggest perf issue comes from `TestLZFRoundTrip` and especially `testLZFCompressionOnTestFiles`.

[2017-03-15 02:35] krmahadevan commented on #1387
@jawlitkp - I don't think you can do this yet. This is not a limitation of TestNG but this is yet to be supported in JDK.

But here's one way in which you can get this done

* Put the `@Step` annotation on all the methods definitions (for e.g., on `launchConcept()`)
* For your logging purposes, I think you can use AOP wherein you define point-cuts and have your advice inspect if there was an annot

[2017-03-15 03:40] krmahadevan commented on #1380
@juherr - Can you please check if the below sample basically captures the example you called out in this issue ?

[code]

Suite xml looks like below

[code]

When I ran this suite file with some `sys out` in `org.testng.internal.thread.graph.GraphThreadPoolExecutor#runNodes` I saw the following

[code]

As you can see from the output, the order is properly maintained.

From the above output you ca

[2017-03-15 16:15] juherr commented on #1387
As @krmahadevan said, what you are asking for is not possible in Java.

But you should have a look at a BDD framework like:

- JBehave - http://jbehave.org/
- Cucumber - http://cukes.info/
- Concordion - http://www.concordion.org

[2017-03-15 16:15] #1387 closed

[2017-03-15 16:25] juherr commented on #1380
@krmahadevan Your sample is not equivalent to the graph test of the issue.

In your case, the first finished test is `a` but it should be `b`. If you want to reproduce the sample, you need add a `priority` dependency between `a` -> `b`.
Or maybe (not tested yet) a `dependsOnMethods` dependency between `a` -> `b` + a priorit dependency between `c` -> `b` and `b` -> `a`.

[2017-03-15 16:29] krmahadevan commented on #1380
@juherr - May I request you to please modify the sample and share it so that I can understand the use-case ? That would be a lot more clearer for me.

[2017-03-15 16:40] cbeust commented on #1385
I just removed the redirect and restored the actual `testng-1.0.dtd` file at `http://testng.org/testng-1.0.dtd`. Let's see if this fixes the problem.

[2017-03-15 16:46] krmahadevan commented on #1385
@cbeust - I can confirm it works fine. I just now removed the `testing-1.0.dtd` from `src/main/resources` in the TestNG codebase and ran a suite xml test. It successfully retrieves the DTD from the URL and works with it. Doesn't complain any more. So I guess we should be good now.

[2017-03-15 16:46] brtu commented on #1385
@cbeust Thanks, I believe that this fixes the problem.  When I plug the sample xml into www.xmlvalidation.com there are no errors that are found.

[2017-03-15 16:48] cbeust commented on #1385
I also noticed that by default, the server sets the MIME type as `application/html` for the DTD, which might have been a reason for the errors (although we would have seen them when we were serving the local file too).

I am now returning `application/xml-dtd` for the DTD file, which I guess can't hurt:

![image](https://cloud.githubusercontent.com/assets/92322/23960183/78c8e88e-0964-11e7-9449-2d9

[2017-03-15 17:15] krmahadevan commented on #1380
@juherr

Tried this with the below test class and it works fine

[code]

output
[code]

[2017-03-15 17:18] krmahadevan commented on #1380
@juherr

This is an impossible scenario. if a() depends on b() then b() cannot have a priority dependency on a() because that will be termed as a cyclic dependency.

But here's another modified version

[code]

output
[code]

[2017-03-15 17:58] juherr commented on #1380
Cyclic dependency is possible since I introduced weight on priority feature.
In case of cycle, TestNG is supposed to follow the more important feature.

This current graph issue occurs in that specific situation.

I will try to have a look on it soon.

[2017-03-15 21:12] juherr commented on #1380
@krmahadevan

The equivalent sample for the issue is:

[code]

(the current master fails but I've already a fix).

The expected output is "BAC".
Currently, in the case of `parallel=methods`, the output is "BCA".

[2017-03-15 23:29] juherr commented on #1380
@krmahadevan Could you have a look on https://github.com/juherr/testng/commit/6cbd3fb2f473dc7e71745d4bf7ab8fe6ae9a5de9 and share your mind?

[2017-03-16 03:36] krmahadevan commented on #1380
@juherr, Will do later today.. It’s a morning rush at work ☺

~ Krishnan

[2017-03-16 09:19] juherr opened #1388 "Retry test case using DataProvider while using ITestContext with test method"
For the record.

From: http://stackoverflow.com/q/42804755/4234729

[2017-03-17 23:19] nathanila opened #1390 "Optimize Graph.Node.removePredecessor()"
### TestNG Version
6.11

### Actual behavior
Here's the code for `Graph.Node.removePredecessor()`.

[code]

This method calls `m_predecessors.get(o)`.  From the profile, I can tell it returns null most or all of the time since `m_predecessors.remove(o)` doesn't show up in the profile.  In fact, I instrumented the code and found that `m_predecessors` is empty 99.99998913091772% of the time.

`m_pre

[2017-03-17 23:20] nathanila commented on #1390
Here's a screenshot of the profile before making the change.

![image](https://cloud.githubusercontent.com/assets/1236594/24066199/f8ec9f24-0b35-11e7-8099-094a5f4f3829.png)

[2017-03-17 23:46] nathanila opened #1391 "Optimize Graph.removeFromNodes()"
### TestNG Version
6.11

### Actual behavior
After fixing issue #1390, Graph.removeFromNodes() consumes 60% of the time for TestRunner.initMethods().  Here's the current code.

  private void removeFromNodes(List<Node<T>> nodes, Node<T> node) {
    nodes.remove(node);
    for (Node<T> n : nodes) {
      n.removePredecessor(node.getObject());
    }
  }

### Expected behavior
Graph.removeFromNodes()

[2017-03-18 02:57] krmahadevan commented on #1390
@nathanila - Why not wrap this up with a pull request as well ? since you have taken so much time to pin-point the problem ?

[2017-03-18 04:27] cbeust commented on #1390
The fix looks harmless enough but I'm having a hard time believing that a `.get` on a hash map (which is constant time) is such a big deal that skipping it saves considerable amounts of time, even on a huge test suite.

Is there any way you could create (programmatically) such a huge suite to demonstrate that and include it in a pull request?

By the way, I really appreciate you going down to this

[2017-03-18 09:22] juherr commented on #1390
`m_predecessors.get(o)` should not take times but `o.hashCode()` may.
And as I remember, computing hashCode on a TestMethod is taking a lot of time.

[2017-03-18 09:25] juherr commented on #1391
@nathanila You've made the harder part of the job. Why not proposing a pull request?

[2017-03-18 13:27] rhencke opened #1392 "http://testng.org/ returns 403 Forbidden"
I wasn't sure where else to report this.

If you visit http://testng.org/, it currently shows:

[code]

However, links _within_ testng.org seem to be alright.  For example http://testng.org/doc/ works just fine.

[2017-03-18 13:28] krmahadevan commented on #1392
ping @cbeust - I can confirm this is a problem.

[2017-03-18 16:30] nathanila commented on #1390
If you look at the profile `HashMap.get()` isn't taking the time but `HashMap.hash()` is.  Another proof is when I run with and without the code change, I see a noticable change in wall clock time from calling `TestNG.main()` to when `IMethodInterceptor,intercept()` is called.

I'll see if I can create a reproducing simplified test case.

As for pull requests, I don't know how yet.  If there is so

[2017-03-18 16:31] nathanila commented on #1391
I don't know how to do a pull request.  Is there some documentation you can point me to on how to do this in Eclipse?

[2017-03-18 17:57] cbeust commented on #1392
Should be fixed, thanks for the notice!

[2017-03-18 17:57] #1392 closed

[2017-03-19 04:49] nathanila commented on #1390
I am struggling to produce a reproducing simplified test case.  I can reproduce a situation where Graph.topologicalSort() takes a long time but not because of Graph.removeFromNodes().  Instead, Graph.isIndependent() and Graph.initializeIndependentNodes() are taking the time.  Any suggestions on how to get Graph.removeFromNodes() to execute more?

[2017-03-19 07:13] talgreen1 opened #1393 "How to fail a test from onTestStart method"
### TestNG Version
6.11

### Expected behavior
I would like to be able to fail a test from the "**onTestStart**" method (of the TestListenerAdapter).
I tried to throw runtime exception or SkipException but the test always pass OK.
I also tried to set the test status by using this line:

`testContext.setStatus(ITestResult.FAILURE);`

### Actual behavior
The test passed OK.

### Is the issue reprodu

[2017-03-19 13:35] krmahadevan commented on #1393
@talgreen1

You can currently do this by throwing a `SkipException` from within an `IInvokedMethodListener` implementation.. Pls see if the below sample would work for you.

[code]

[2017-03-19 18:45] nathanila commented on #1391
Here's the diff of the changes necessary.  These changes eliminates `Graph.removeFromNodes()` from the profile.  The start up time is a lot faster!

[Diff.pdf](https://github.com/cbeust/testng/files/853447/Diff.pdf)

[2017-03-20 00:13] nathanila opened #1394 "Optimize ClassHelper.getAvailableMethods()"
### TestNG Version
6.11

### Actual behavior
`ClassHelper.getAvailableMethods()` calls `ClassHelper.extractMethods()` which calls `ClassHelper.isOverridden()`.  The numerous calls to `ClassHelper.isOverridden()` amounts to 12 out of 25 seconds to startup TestNG.

Normally, I wouldn't care about 12 seconds since I have bigger fish to catch.  However, 25 seconds every time I need to test some small

[2017-03-20 02:04] krmahadevan commented on #1391
@nathanila - Sometime back I created a blog that talks about the general set of things that you need to do to setup yourself for contributing into open source projects.  You can read [read](https://rationaleemotions.wordpress.com/2016/01/16/contributing-to-open-source-projects-on-github/) here.

For TestNG, after you have added the code, you need to add some tests, and include those tests into htt

[2017-03-20 02:11] krmahadevan commented on #1394
@nathanila - Sometime you had raised #1339  and I had fixed it as part of this [Pull Request](https://github.com/cbeust/testng/pull/1349/files)

Can you please confirm, if this bug takes into account the fix for #1339 ?

[2017-03-20 12:03] yardening2 commented on #878
Hi,

I had this problem when tests that passed on retry where marked as skipped so they where generated again on testng-failed.xml and I rerun them again.
I didn't want to rerun tests that passed when retried.

I created a class that extends TestListenerAdapter and modified onTestSuccess as so:

[code]

and added it as a listener.
no more problems.

How about this fix?

[2017-03-20 15:31] nathanila commented on #1394
Yes, this issue takes into account the fix for #1339.  I am running with the fix for #1339 (i.e. TestNG 6.11).  Now that #1339 is fixed, issue #1394 can be discovered.

**Without** #1339 fixed, `isOverridden()` is being called for every method and would examine all other discovered methods so far.  **With** #1339 fixed, `isOverridden()` is now doing a lot of work on the `java.lang.Object` methods.

[2017-03-21 04:21] talgreen1 commented on #1393
Thank you very much. It works.

[2017-03-21 07:21] juherr commented on #1393
@krmahadevan It looks like a workaround. Do you think we could improve something in TestNG?

[2017-03-21 07:33] krmahadevan commented on #1393
@juherr - Yes. We definitely can.

[2017-03-21 10:40] Brokeneggs opened #1395 "2nd call to same test method in testng.xml ignored"
It seems that testng won't allow to run the same method or class in one test execution multiple times .For example, the last test below which is a second run of the clickBrowserTab1 `@Test`-annotated method is completely ignored.  After Tab2 clicked, i need to rerun clickBrowserTab1. I understand that, as a workaround, I could have two differently-named `@Test` methods which each call the method t

[2017-03-21 12:33] krmahadevan commented on #1395
@Brokeneggs - You should look at using the xml file as way to select methods within a single class but adhering to the rules of Java. If you were to be asked to do this directly in Java, how would you be able to do this ? i.e., lets assume that there was no xml support, and you had to build a test class in java, how would that class look like ? Whatever would be in that Java class is what is expec

[2017-03-21 15:35] rscott231 opened #1396 "Order established by IMethodInterceptor not honored when running with parallel='instances'"
### TestNG Version

6.11

### Expected behavior
Test execution order established by custom `IMethodInterceptor` is honored regardless of parallel execution method.

### Actual behavior
Test execution order established by custom `IMethodInterceptor` is ignored when parallel execution is set to `parallel='instances'`. I believe there are two reasons for this:
* `InstanceOrderingMethodInterceptor` ru

[2017-03-21 15:37] rscot231 commented on #1396
I'm going to spend some time digging into the tests for TestNG today and see if I can write a failing test case. If so, I'll submit a pull request.

[2017-03-21 19:54] juherr commented on #1395
As @krmahadevan said, the suite file is used to select the tests to run and their order (a bit), not to describe the test logic/workflow (which is describe by the java tests).

[2017-03-21 19:54] #1395 closed

[2017-03-21 20:07] juherr commented on #1396
@rscot231 Any test cases will help to understand the issue :+1:

[2017-03-21 20:15] juherr commented on #1394
As `parent` is only `null` for Object, we can remove the null check:

[code]

[2017-03-22 14:36] rscot231 commented on #1396
@juherr Test case and fix added [here](https://github.com/cbeust/testng/pull/1397)

[2017-03-22 16:39] #1396 closed

[2017-03-24 04:18] krmahadevan commented on #1394
@juherr

Partially true. If the method gets called with `org.testng.internal.ClassHelper.getAvailableMethods(Object.class)` (This is happening in the codebase when [TestNGClassFinder.isTestNGClass()](https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/internal/TestNGClassFinder.java#L217-L255) recursively climbs up the hierarchy and invokes the `getAvailableMethods` with a base c

[2017-03-24 13:45] santhosh12992 opened #1399 "Latest testNG not running from command line"
### TestNG Version - 6.11 (org.testng.eclipse_6.11.0.201703011520) I downloaded it on 7/March/2017. It is supposed to be the latest version at that time

### Expected behavior
Tried to integrate with jenkins. So, thought of triggering the xml from command line manually. I had set the class path correctly but the Test cases were failed. But  it was running from eclipse. If we execute a @test which

[2017-03-24 19:07] cbeust commented on #1399
I don't understand the problem, can you show some code or something that fails?

It sounds like you solved that problem?

[2017-03-25 19:09] MartinanderssonDotcom commented on #1222
Test methods in a _public_ abstract superclass are not inherited by a concrete subclass. This causes no tests to be found:

    package one;
    public abstract TonsOfTestMethods {
        @Test
        public void test_one() {}
    }

    package one;
    public ConcreteTest extends TonsOfTestMethods {
    }

To resolve the issue and make the above `ConcreteTest` execute, the abstract superclass

[2017-03-25 19:48] cbeust commented on #1222
Hi @MartinanderssonDotcom,

Inheritance is mentioned a few times in the documentation ("The annotations above will also be honored (inherited) when placed on a superclass of a TestNG class. ") so I'm a bit surprised that inheritance is not working with abstract classes. We'll look into it.

[2017-03-25 21:09] MartinanderssonDotcom commented on #1222
Yeah that's like the only place and it does not refer to inheritance of the `@Test` annotation =) `abstract` classes are also not documented.

Anyways, I forgot to say that a third solution to my former example would be to add an empty disabled test method in `ConcreteTest` .

Thank you for a great test framework! =)

[2017-03-27 06:40] bipo1980 opened #1400 "TestNG, Multiple duplicate listener warnings on implementing multiple listener interfaces"
### TestNG Version

Also refer - [Link to Stackoverflow Comments](http://stackoverflow.com/questions/43037690/testng-multiple-duplicate-listener-warnings-on-implementing-multiple-listener-i)

### Expected behavior
**If** i have a single Listener class that implements multiple listeners eg: IAnnotationTransformer, IInvokedMethodListener, ITestListener and IReporter etc...
**Then** the warning indic

[2017-03-27 07:10] bipo1980 commented on #1388
Is this also related : [http://stackoverflow.com/questions/43025847](http://stackoverflow.com/questions/43025847) ?

[2017-03-27 13:09] MartinKanters commented on #1400
I have seen this issue as well today, while debugging issues with [pitest](https://github.com/hcoles/pitest) versions 1.1.5 and up.
I will make a ticket there as well, but it is related to TestNG, since the pitests are failing because of the error "Ignoring duplicate listener : org.pitest.testng.TestNGAdapter".

As mentioned in the StackOverflow comment by [Robby Cornelissen](http://stackoverflow.

[2017-03-28 02:52] krmahadevan commented on #1400
@MariusVolkhart - You are right about that commit. TestNG was changed to ensure that duplicate listener instances aren't wired in. Can you please elaborate as to what is the issue that you are facing ?

[2017-03-28 03:23] krmahadevan commented on #1400
@bipo1980

That's not how the behavior was expected to be. It should be showing this warning *ONCE* per duplicate instance being injected.
Can you please help share a full fledged sample that I can execute to recreate this problem ?

[2017-03-28 03:54] krmahadevan commented on #1388
@bipo1980 - Yes they are related. I have answered your question on SO.

[2017-03-28 06:40] MartinKanters commented on #1400
@krmahadevan Hm, it seems that the issues are not really related after all. I failed to notice that this issue was about adding one class implementing multiple listeners. [It seems](https://github.com/hcoles/pitest/issues/334#issuecomment-289601689) that pitest is reusing the same TestNG instance for their mutation tests. The owner of pitest is working on it on their side.

[2017-03-28 11:24] bipo1980 commented on #1400
@krmahadevan Done. updated the original sample with the complete code. Hope this will suffice.

[2017-03-28 12:28] krmahadevan commented on #1400
@bipo1980 - This looks like a problem only when the suite xml is executed from within eclipse (using the eclipse TestNG plugin). I have not been able to recreate the problem using either IntelliJ (or) when executing via a command line using Maven.

ping @missedone - Can you please help take a look at this one ?

[2017-03-28 15:25] juherr commented on #1399
@santhosh12992 Feel free to reopen the issue if you have more details to share.

[2017-03-28 15:25] #1399 closed

[2017-03-28 15:27] juherr commented on #1222
@MartinanderssonDotcom Are you talking about junit tests which are the subject of the issue? If no and if want to talk about any improvement, then could you open a new issue?

[2017-03-28 17:01] #1380 closed

[2017-03-28 21:52] fzakaria opened #1401 "Feature: Fail a passing test"
I would like to do something similar to the `successPercentage` & `invocationCount`  through a `IRetryAnalyzer`.

The problem I have now faced is that it is difficult/impossible to mark a test as failed if it has succeeded.

Within `Invoker.java` the retrying of tasks is done through the `FailureContext` which is never passed downstream to any listeners or transformers.

I see `Invoker#handleInvoc

[2017-03-29 10:27] missedone commented on #1400
@krmahadevan, `RetryListener` in the example implements `IReporter`, when launch the suite in Eclipse Plugin, it was added multi times.
1) AbstractRemoteTestNG#run() -> TestNG#run() -> initializeConfiguration() -> add all suite listeners, see code [here](https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/TestNG.java#L969)
2) TestNG#run() -> runSuites() -> runSuitesLocally() -> c

[2017-03-29 13:22] bipo1980 opened #1402 "Feature: TestNG Reporting, how to quickly identify Retry-d Tests?"
### TestNG Version

### Expected behavior
Hello: When a `@Test fails` and a `Retry` happens, is there a direct way in TestNG to distinguish between a Test that has been Retried and a test that has not been retried - such as through a NG context method or variable?

- Case 1: If a Test not been retried then the `1st test` is a test that has not been retried.
- Case 2: If a Test that has been retrie

[2017-03-29 13:38] juherr commented on #1402
Thanks for the report! :)

[2017-03-29 18:24] #1394 closed

[2017-03-29 19:21] prasanta-biswas opened #1403 "Getting unusual error while running parallel tests with data provider"
### 6.9.10

### Expected behavior
All test cases should always pass.

### Actual behavior
Sometimes all test cases pass and sometimes some of them fails due to java.lang.IndexOutOfBoundsException

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample
[code]
[code]

[code]

[code]
[code]

I am runn

[2017-03-30 03:11] krmahadevan commented on #1403
@prasanta-biswas

From the stack trace you shared, it looks like a problem with the IntelliJ TestNG plugin (that piece is not owned by the TestNG project)

[code]

Just to confirm this, can you please let us know if you are seeing this problem surface when you execute via one of the following means ?

* Via eclipse using the Eclipse TestNG plugin
* Via a build tool such as Gradle or Maven

If you

[2017-03-30 05:15] krmahadevan commented on #1402
@bipo1980 - You should be able to do this very easily today. The idea is to basically query the retry analyzer instance associated with a test and check its retry count. If you found a value greater than zero then that method was retried. Here's a sample that shows what I am talking about

[code]

[2017-03-30 08:22] prasanta-biswas commented on #1403
@krmahadevan I tried you suggestion and it did work there. It is problem of IntelliJ TestNG plugin. I will report a bug for this.

[2017-03-30 09:27] krmahadevan commented on #1403
@prasanta-biswas - Can we close off this issue in that case ?

[2017-03-30 09:32] prasanta-biswas commented on #1403
@krmahadevan yes close the issue.

[2017-03-30 09:32] #1403 closed

[2017-03-30 13:58] juherr commented on #1403
@prasanta-biswas For reference, could you provide the link to the JetBrains issue?

[2017-03-30 15:31] prasanta-biswas commented on #1403
@juherr [here](https://youtrack.jetbrains.com/issue/IDEA-170700)

[2017-04-02 02:39] ben-manes opened #1405 "Cannot inject @Test annotated Method [main] with [class [Ljava.lang.String;]."
[code]

[code]

While understandable, I'd argue that the class annotation shouldn't apply to static methods or, at least, to the `main` method. It is easy to work around by configuring each method, but was surprising.

[2017-04-02 03:08] krmahadevan commented on #1405
I think it's because of the fact that a class level @Test annotation causes
TestNG to start treating all public methods (both static and instance ones)
as Test methods and so tries parameter injection (for parameterized methods
) which explains the error because default parameter injection doesn't know
how to deal with a String array.

On Sun, Apr 2, 2017, 08:09 Ben Manes <notifications@github.com

[2017-04-02 03:10] ben-manes commented on #1405
That was my analysis as well. I think either static methods or, at least the `main` method, shouldn't be opted into this. It was surprising but made sense when I thought about it.

[2017-04-02 10:48] slipwalker opened #1406 "Maven's excludedGroups in pom.xml override excluded groups within TestNg xml"
I have TestNG xml file containing excluded group section. It looks like that (just for example):

[code]

My example test class looks like that:

[code]
Also, in pom.xml I have configuration section containing excluded groups field:

[code]

The issue is that in TestNG version 6.11 excludedGroups in pom.xml override excluded groups within TestNg xml. In my case, excluded groups now contain only No

[2017-04-02 16:07] nitishsajnani commented on #669
Check your test annotation it always should be "@Test"

[2017-04-05 10:04] rburgst opened #1407 "TestNG 6.11 no longer works with java 7"
### TestNG Version

### Expected behavior
testng should still work with java 7

### Actual behavior
due to the jcommander 1.64 dependency, it no longer works

### Is the issue reproductible on runner?

- [x] Shell
- [ ] Maven
- [x] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample

Jcommander > 1.59 requires java 8
https://github.com/cbeust/jcommander/issues/257#is

[2017-04-05 10:04] rburgst commented on #1407
FYI this is the exception stacktrace if you try to run with java 7:

[code]

[2017-04-05 13:34] missedone commented on #1407
duplicates with #1377

[2017-04-05 16:14] #1407 closed

[2017-04-06 08:53] debbyzang opened #1408 "Can't get test case name when use testng6.11"
### TestNG Version

testng6.11
### Expected behavior
Get all test case name (test method simple name)
![2](https://cloud.githubusercontent.com/assets/21197863/24745853/b91f5152-1ae9-11e7-9431-ac6e45ee201e.png)

### Actual behavior
Can't get method name
![default](https://cloud.githubusercontent.com/assets/21197863/24745826/9b7be8f4-1ae9-11e7-9132-824a0a656d9a.png)

### Is the issue reproductible o

[2017-04-06 14:24] juherr commented on #1408
Thanks for the report. Could you try the behavior with 6.9.9 and 6.9.10?

If it is working with 6.9.9 and failing with 6.9.10, then it means the reporter is not using the appropriate method to get the test name.

[2017-04-06 14:33] juherr commented on #1405
True, a `static main(String[])` could be excluded from detected test methods.

@cbeust WDYT?

[2017-04-06 14:38] juherr commented on #1406
Thanks for the report.

Are you saying that it was working as expected with 6.10? Because I don't see any related changes in the changelog :/ https://github.com/cbeust/testng/blob/master/CHANGES.txt#L15-L40

[2017-04-06 15:43] slipwalker commented on #1406
Yeah, works as intended in 6.10.

[2017-04-06 16:46] risenberg opened #1409 "Regression: on expectedExceptionsMessageRegExp expected and actual messages are not printed."
### TestNG Version
6.11

### Expected behavior
If test code throws exception that passes `expectedExceptions` check, but violates `expectedExceptionsMessageRegExp`, then testng says that exception message was incorrect and reports the actual and expected message.
This worked in 6.8.8 and stopped working in 6.11.

### Actual behavior
testng outputs the exception as is.

### Is the issue reproductib

[2017-04-06 17:10] cbeust commented on #1405
Sounds good to me. I often have to add `@Test(enabled = false)` to my `main` methods, which is a bit silly.

[2017-04-06 17:12] ben-manes commented on #1405
I'd be happy using that approach if added to the exception message. I was debugging with a main method, so not a very common occurrence.

[2017-04-06 18:50] juherr commented on #1401
Have you already try to change the `ITestResult` status from an [`IInvokedMethodListener#afterInvocation`](https://jitpack.io/com/github/cbeust/testng/master-6.11-g76c52be-79/javadoc/org/testng/IInvokedMethodListener.html#afterInvocation-org.testng.IInvokedMethod-org.testng.ITestResult-)?

[2017-04-06 19:24] fzakaria commented on #1401
Changing the test status is not sufficient.
You need to modify the 'fail' object which is already set by the time the listeners are invoked.

A simple solution to my problem would be if the `IRetryAnalyzer` was called irrespective of test result.
(Right now it is called only for failure)

[2017-04-06 19:50] juherr commented on #1406
I didn't find why it is not working with 6.11 but did you notice [the surefire documentation](https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#suiteXmlFiles)?

According to it, mixing suite files and surefire configuration could not be a good idea.

[2017-04-06 21:11] slipwalker commented on #1406
I have several Maven profiles, one of them is base profile contained general configuration (excludedGroups in it), another one contained specific suiteXmlFiles configuration, etc. So, actually there are no mixing suite files and surefire configuration in scope of one Maven profile. But, mixing happens when I specify required for tests running profiles e.g mvn clean test -P profile1,profile2,profil

[2017-04-07 13:09] tatery opened #1410 "Set/preserve class execution order when using @Factory to create tests"
### TestNG Version
TestNg v 6.11

### Expected behavior
I'd like to have a possibility to preserve/set class execution order to the same order as it is in data from `@DataProvider` used in `@Factory`.

### Actual behavior
I'd like to execute my test using `@Factory` that gets data from `@DataProvider` and I noticed that test instances created by TestNG are executed in random order.
Test class cons

[2017-04-07 13:32] #1400 closed

[2017-04-07 14:32] maco-the-elder opened #1411 "dependent methods are run in parallel"
### TestNG Version
6.11

### Expected behavior
Dependendent test methods (annotated with dependsOnMethods) are run sequentially. Methods that depend on failed methods are skipped.

### Actual behavior
Under certain circumstances (see below) dependent methods are run in parallel.

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ

[2017-04-07 16:52] juherr commented on #1411
Thanks for the report.

We already fixed some parallel issues: https://github.com/cbeust/testng/blob/master/CHANGES.txt
Could you try again with `6.11.1-SNAPSHOT` and tell us if the issue still exist?

[2017-04-07 16:59] juherr commented on #1410
The behavior is strange and should be the same with or without `@Test(dataProvider = "cmdProvider")`.

Thanks for the report.

[2017-04-07 18:12] juherr commented on #1409
Thanks for the report but there were many versions between 6.8.8 and 6.11.

Could you try to find in which version the issue appeared?

[2017-04-07 22:28] risenberg commented on #1409
I tested the versions available in maven central - 6.8.14 is good, 6.8.15 fails internally, 6.8.17 is bad.

[2017-04-10 10:56] maco-the-elder commented on #1411
As suggested, I have tried 6.11.1-SNAPSHOT (1e1d341f46a69f679a12eedaf742ad22cafd3d1e). I can verify the the bug doesn't occur anymore.
I appreciate your brilliant work :) Thanks.

[2017-04-10 10:59] juherr commented on #1411
Fixed in next release :)

[2017-04-10 10:59] #1411 closed

[2017-04-11 12:36] slipwalker commented on #1406
Any thoughts on this one? I suppose that commits made in https://github.com/juherr/testng/commit/ee6a6f3df62ab2aaa8e67d69dac86bf0f6ab5c3a look suspicious and could be the reason.

[2017-04-12 07:02] athrunsun commented on #1089
@juherr @krmahadevan
What if I want to change testName when I run the test method, when I am using `@DataProvider` and my test data is fetched somewhere else?

Sample code:
[code]

This sample will print all test names as "Initial test name".

I assue TestNG's `ITest.getTestName()` requires me to determine testName when TestNG initialize my test class right?

BTW, is there an easy way to change te

[2017-04-13 04:31] SergioLeone opened #1412 "EmailableReporter2 generates an empty (0kb) report"
### TestNG Version

6.11

### Expected behavior
emailable-report.html to be generated after running test suite and to contain pass/fail data

### Actual behavior
emailable-report.html is generated but it is empty - 0kb

### Is the issue reproductible on runner?

- [ ] Shell
- [X] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [X] IntelliJ
- [ ] NetBeans

### Test case sample
My testng.xml:
[code]
Th

[2017-04-13 10:10] juherr commented on #1412
You have not specified the `testng.xml` location to maven.

Check: https://maven.apache.org/surefire/maven-surefire-plugin/examples/testng.html

Feel free to reopen the issue if it doesn't work and if you think it is a testng issue.

[2017-04-13 10:10] #1412 closed

[2017-04-13 10:17] juherr commented on #1089
@athrunsun As I know, it is not possible to do it easily.

It may work with a factory:

[code]

[2017-04-13 10:40] mping opened #1413 "TestNG parallel settings are confusing when using @DataProvider and @Factory"
We have a data provider and a factory for generating test data and tests respectively, and also have the following xml:
[code]

The factory just returns a `[Test]`. The test is as follows:

[code]

### TestNG Version
latest

### Expected behavior
That the ```Test``` class runs only two tests at a time

### Actual behavior
The test limit is not respected, lots of tests start running.
**If** I squas

[2017-04-13 10:57] juherr commented on #1406
Yes, it could be this one.

@cbeust What is the expected behavior when you mix suite file and CLI params?

I see many options:
* Ignoring the suite files OR CLI params
* Overriding suite files with CLI params
* Merging suite files and CLI params (the point of this issue)
* Something else...

It is not the case for the moment, but IMO, CLI params should be a way to define a suite and add it into th

[2017-04-13 15:21] cbeust commented on #1406
I think command line parameters should override `testng.xml`.

As for parameters in `pom.xml`... I'm guessing, for consistency, they should override `testng.xml` as well.

I don't really have an opinion about merging yet.

[2017-04-13 21:04] juherr commented on #1413
Could you try the SNAPSHOT version and tell us if you still see the issue?

[2017-04-14 08:13] athrunsun commented on #1089
@juherr TestNG is using reflection to invoke dataprovider method to create ITestSample instances, which means I have to make my program's context ready when it calls `getTestDataFromSomewhereElse();`, so that TestNG can determine the test name. And that leads to many destructive changes to my program.

Just as I said in my previous comment, I assume `ITest.getTestName()` is designed to determine c

[2017-04-15 18:43] slipwalker commented on #1406
Not an issue for me as more appropriate solution has been found. Can be close if no objections. Thanks though.

[2017-04-15 19:38] juherr commented on #1406
@slipwalker Please, keep it open. Something should be done and it is a good reminder.

[2017-04-15 20:57] MartinanderssonDotcom commented on #1222
Yes, unit test methods =) To quote myself:

[2017-04-18 04:56] SergioLeone commented on #1412
@juherr
I've tried specifying testng.xml in pom.xml and still the generated report is empty.
And I have tried specifying the path to testng.xml in different ways (relative, full, etc.) without any positive outcome, as well as tried moving testng.xml file to a different folder, root folder, etc.

My pom.xml is this:
[code]

[2017-04-18 05:15] SergioLeone opened #1414 "generated EmailableReport is empty"
### TestNG Version
LATEST

### Expected behavior
generated report after suite run

### Actual behavior
report is generating empty

### Is the issue reproductible on runner?

- [ ] Shell
- [X] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [X] IntelliJ
- [ ] NetBeans

### Test case sample
I have raised the issue here originally:
https://github.com/cbeust/testng/issues/1412

I've tried specifying test

[2017-04-19 12:11] #1414 closed

[2017-04-19 13:29] juherr commented on #1412
Could you share a full runnable project that shows the issue?

[2017-04-20 05:58] dhirenmudgil opened #1415 "Retry Configuration Failures"
### TestNG Version
6.11
### Expected behavior
When we run any test which has some configurations, for example one of my test requires token from Facebook. So i have a configuration (`@BeforeMethod`) which creates a test user on Facebook and return a token which is then used by a test method.

Sometimes network call fails to get token from Facebook, for the same implemented retry analyzer but it do

[2017-04-20 05:58] dhirenmudgil commented on #1415
@juherr @krmahadevan : Please look into this issue.

[2017-04-20 08:23] toutoudnf opened #1416 "listener won't execute when run test case with param -Dtest"
### TestNG Version
testng version: 6.9.10
maven-surefire-plugin version:2.19.1

i execute my test cases by command:
`mvn clean test -Dtestng=local-testng.xml -Dtest=demo.maven.TestCase#test`
and local-testng.xml show as bellows:
[code]
### Expected behavior

listener in local-testng.xml will be triggerred.

### Actual behavior

listener in local-testng.xml dose not be triggerred.

### Is the issue

[2017-04-20 14:28] dhirenmudgil commented on #1415
Sorry by mistake.

[2017-04-20 19:21] juherr commented on #1222
@MartinanderssonDotcom The subject of this issue is JUnit, not "unit test". That's why I think you should open a new issue if you are not using the JUnit support of TestNG.

[2017-04-20 19:32] juherr commented on #1416
According to the surefire documentation, it is the expected behavior:

https://maven.apache.org/surefire/maven-surefire-plugin/test-mojo.html#test

Surefire allows you to configure listeners too, check https://maven.apache.org/surefire/maven-surefire-plugin/examples/testng.html

BTW, if you really want to take listeners from the suite into account with the `-Dtest` param, something will have to be

[2017-04-20 19:32] #1416 closed

[2017-04-20 19:43] juherr opened #1417 "Class param injection is not working with @BeforeClass"
### TestNG Version
Current master

### Test case sample
From http://stackoverflow.com/q/43293894/4234729

[code]

[code]

### Expected behavior
We expect `FireFox` as browsername value

### Actual behavior
The configuration is skipped

[2017-04-20 19:47] juherr opened #1418 "Parametrized configuration method is skipped if the parameter doesn't exist"
### TestNG Version
Current master

### Test case sample
Related to #1417

### Actual behavior
Method skipped

### Expected behavior
The run should fail because it is a user issue (he must provide the parameter value)

[2017-04-20 19:48] Tibor17 commented on #1416
I think the `test` parameter and `includes/excludes+suite xml` are exclusive.
AFAIK we do not perform filtering in suites xml.
Tell me if Method Selector is filter applicable to suites xml within TestNG.
https://github.com/apache/maven-surefire/blob/master/surefire-providers/surefire-testng-utils/src/main/java/org/apache/maven/surefire/testng/utils/MethodSelector.java

[2017-04-20 19:50] Tibor17 commented on #1416
We passed `local-testng.xml` to TestNG instance, nothing more.
The class-path should contain the listeners.

[2017-04-20 19:57] juherr commented on #1416
@Tibor17 Yes, it is the current behavior. But @toutoudnf would like to have some information from `suite xml` when `test` is used, a kind of merge. I'm not sure it is a good idea but who knows?

@toutoudnf Another way to declare listener is service loader: http://testng.org/doc/documentation-main.html#listeners-service-loader

[2017-04-20 20:01] Tibor17 commented on #1416
It cannot be merged because the `test` is filter.
Not sure if applicable to suites xml or the xml is completely ignored. I would say it is ignored.

[2017-04-20 20:07] juherr commented on #1416
@Tibor17 Are you saying that surefire is providing the `suite xml` even when `test` is used?

[2017-04-20 20:13] Tibor17 commented on #1416
I think it is opposite. The class path is given and `test` is a filter if `test` property presents non-empty. AT least this is in JUnit providers and should be the same in testng provider too.

[2017-04-20 20:30] juherr commented on #1416
@Tibor17 Ok, we will check it when we will fix #1406 (which is a similar issue). Thanks for the clarification.

[2017-04-20 20:31] juherr commented on #1406
For the record: when fixing the issue, add a test case with listeners (from #1416)

[2017-04-24 02:13] toutoudnf commented on #1416
thanks a lot  @juherr :)
but there exists one case in my CI system:
- test configuration is complicated
- more than one scripts will use this configuration, such as a CI system need run different type of test cases
if i need to specify listener on each script instead of write them in testng.xml, it will make maintaince of scripts become a hard work :(
so is there any better solution for the case a

[2017-04-25 02:15] MartinanderssonDotcom commented on #1222
I'm sorry, the earth just stopped spinning. What are **you** talking about?? =)

[2017-04-25 03:34] SergioLeone commented on #1412
@juherr no, unfortunately I can not share the project.
And I seem to have fixed the issue finally, now everything works fine both when running testng.xml from IDE and with mvn cmd. Apparently my pom.xml was messed up.

[2017-04-25 04:12] juherr commented on #1222
@MartinanderssonDotcom Are you using Junit for the issue you discribed? If no, it is another issue and please, open a new issue with à runnable project that show the wrong behavior.

[2017-04-25 08:07] vinayakcc opened #1419 "TestNG emailable report does not have all failed test case information in details section of the report"
### TestNG Version
V6.10, v6. 11
### Expected behavior
All failed test case details (test runner log and exception block, if any)  should be present in details section

### Actual behavior
The TestNG emailable report is missing many of the failed test cases details from the failed testcase details section.

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
-

[2017-04-25 12:24] ZaziroZ opened #1421 "DependsOnGroups mechanism does not work with method-level parallelism"
### TestNG Version
6.11

### Description
Test method T1 is annotated with dependsOnGroups.
Tests from this group are located in another test class.
Tests are being run in parallel (method-level) as groups.

### Expected behavior
Test method T1 is executed only after tests from group it depends on are finished.

### Actual behavior
Test method T1 is started while tests it depends on are still being

[2017-04-25 14:31] ZaziroZ commented on #1421
https://github.com/cbeust/testng/pull/1290

[2017-04-25 14:31] #1421 closed

[2017-04-27 12:48] SergioLeone opened #1422 "Test execution hangs between two consecutive tests that use same dataProvider"
### TestNG Version
6.11

### Expected behavior
Tests running one after another without interruption

### Actual behavior
test1() runs successfully, after that test2() hangs for 5+ minutes (but resumes if I manually interact with browser)

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample
I hav

[2017-04-27 13:55] cbeust commented on #1422
Do you have evidence the hang up is happening in TestNG and not Selenium?

[2017-04-27 13:57] SergioLeone commented on #1422
No, I don't. How can I verify that?

[2017-04-27 17:43] cbeust commented on #1422
Get a stack trace during the freeze and see who is waiting. I'll close this issue for now, please reopen once you have something like that showing an issue in TestNG.

[2017-04-27 17:43] #1422 closed

[2017-04-29 16:47] MartinanderssonDotcom commented on #1222
I am using TestNG. And I thought this was a tracker about TestNG?

[2017-04-29 18:17] juherr commented on #1222
Again, please open a new issue. This one is about the junit support of TestNG.

[2017-05-01 06:25] juherr commented on #951
Similar issue on SO: http://stackoverflow.com/q/43656017/4234729

[2017-05-01 16:34] sudhu678 opened #1423 "TestNG index.html is reporting total test duration as sum of total time taken by individual test classes. It doesn’t hold good when tests are run parallel"
### TestNG Version
6.10

### Expected behavior
TestNG indext.html total test duration should be difference of execution start time and end time

### Actual behavior
TestNG index.html is reporting total test duration as sum of total time taken by individual test classes. It doesn’t hold good when tests are run parallel.

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven Yes
- [ ] G

[2017-05-02 05:58] Udit2 opened #1424 "How to change test method names"
Hi,

Is there a way to change the test method names of test cases not just test case name .I know that the test case name can be changed by implementing ITEST iterfac and implementing its method but thats not what I am looking.I looking to change the name of methods so that I can show my test reports with my custom name?

Please provide inputs ASAP.

Best Regards

[2017-05-02 10:25] juherr commented on #1424
Hi,

What is the reporter you are using?

The reporter is supposed to use the test case name (and not the name of the method), and the name of the method is not supposed to be changed.

[2017-05-02 10:53] Udit2 commented on #1424
I am using default reporter provided by testng.

my <test> tag has many classes in it, it displays in the following format packagename.classname.methodname on jira, my final aim is to show the test method name as my custom name not the one I am provided by testing

[2017-05-02 12:40] juherr commented on #1424
As workarround, you can use your own reporter which will generate the output you expect: http://testng.org/doc/documentation-main.html#logging-reporters

[2017-05-03 14:01] FibYar opened #1425 "TestNG create parallel threads only after java initialize classes"
### TestNG Version
6.10

### Expected behavior
When I run a project I should get correct ThreadID's for every call of `Thread.currentThread().getId()`.

### Actual behavior
Call of `Thread.currentThread().getId()` returns "1" for the fields.

### Is the issue reproductible on runner?

- [ v] IntelliJ

### Test case sample
[Sample.zip](https://github.com/cbeust/testng/files/973551/Sample.zip)

[2017-05-04 14:19] irhake commented on #1324
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyNexia Regression Testing" parallel="tests" verbose="1" allow-return-values="true">
<listeners>
	<listener class-name="com.Listener.CustomTestListener" />
	<listener class-name="com.Listener.CustomizedReporter" />
</listeners>

<test name="chrome" preserve-order="true" allow-return-value

[2017-05-04 14:32] tatery commented on #1410
Hi,

This issue is really annoying so I wonder if you know any workaround that I could apply before you fix (or not) this issue. Thank you in advance for any advice.

@juherr thanks for description formatting.

[2017-05-05 22:17] lbergelson commented on #1304
I know this is closed, but it's an issue that's caused problems for us. An exception in a dataprovider is the sort of thing we want to be notified about.

We have some tests that are allowed to skip, (e.x. tests that can only run in certain environments), so people often don't notice additional skips in the test report.  We have hundreds of thousands of tests and they're usually run on automated C

[2017-05-05 22:22] cbeust commented on #1304
@lbergelson

If this is so important to you, then maybe a work around would be to calculate the values returned by the data provider in a test itself?

[code]

[2017-05-05 22:25] lbergelson commented on #1304
@cbeust Thanks for the suggestion.  That's a good idea.  It is some extra boiler plate code to write for every dataprovider though.  I wish there was a way to generated that test automatically for each dataprovider.

[2017-05-05 22:31] cbeust commented on #1304
Understood. The idea is that data providers should never fail, so you should only do this for your (hopefully rare) data providers that can somehow fail.

In general, you should look at any test result that is not 100% SUCCESS as suspicious, whether the failure is caused by a FAIL or a SKIP.

[2017-05-08 08:22] dipak-pawar opened #1426 "@AfterMethod(alwaysRun = true) is not getting called if we have exception in @BeforeMethod"
### TestNG Version

### Expected behavior
`@afterMethod` is not called if test is throwing exception in `@beforeMethod`.

### Actual behavior
`@afterMethod` should be called if test is throwing exception in `@beforeMethod`.

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [x] Gradle
- [ ] Ant
- [ ] Eclipse
- [x] IntelliJ
- [ ] NetBeans

### Test case sample

[2017-05-08 09:47] vinayakcc commented on #1419
Hi @all,
    Is this issue reproducible at your end.
If yes, is there any update about fix ETA.

Thanks,
Vinayak

[2017-05-08 11:39] ajit1988 opened #1428 "Unable to install TestNG from Eclipse marketplace"
Greetings..!!

On trying to install TestNG via eclipse market place on eclipse luna, am getting below error message and the installation process is getting aborted.

An error occurred while installing the items
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Install, operand=null --> [R]org.eclipse.jst.j2ee.core 1.3.100.v201404161520, action=org.ec

[2017-05-08 12:26] poorvikamahesh opened #1429 "When retrying a failed test, the initially failed test is marked as skipped instead of failed"
Hello,

I am using retry listerner to re run any failed test.
The issue is, the test that had failed during initial execution (before rerun) is set as skipped instead of failed.

Kindly help since my report should reflect the initial execution results as failed only

Below is my implementation of Rerty
[code]
[code]

testng.xml includes the below

[code]
Please refer the below screenshot -
<img wi

[2017-05-08 17:02] juherr commented on #1428
It's an issue for https://github.com/cbeust/testng-eclipse or maybe https://github.com/testng-team/testng-p2

Ping @missedone

[2017-05-08 17:02] #1428 closed

[2017-05-08 17:59] juherr commented on #1426
IMO it is not an issue: according to [the documentation](http://testng.org/doc/documentation-main.html#annotations), you have to set `alwaysRun = true` on the `@AfterMethod`.

@cbeust WDYT?

[2017-05-08 18:02] cbeust commented on #1426
@juherr Agreed, not an issue.

[2017-05-08 18:02] juherr commented on #1426
But at the same time:

BTW, `@AfterMethod` is not a test method but a configuration one.

[2017-05-08 18:04] juherr commented on #1419
I didn't try yet. If you can share a project which reproduces the issue, it will help.

[2017-05-08 18:07] juherr commented on #1429
It is the expected behavior since #698

[2017-05-08 18:07] #1429 closed

[2017-05-08 22:41] mourezwell opened #1430 "Cannot load class from file XXX when using with ant and classfileset"
### TestNG Version

### Expected behavior
The class shall be found in classpath

### Actual behavior
The class is not found

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [X] Ant
- [ ] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

Not tested on others

### Test case sample

In ant file

        <path id="test.classpath">
            <pathelement location="test/lib/test

[2017-05-09 05:43] poorvikamahesh commented on #1429
@juherr is there anyway to change this behaviour

[2017-05-09 05:47] krmahadevan commented on #1429
@Poorvika

Any specific reasons behind why you would want this to be changed ? That
would add more insights around your ask.

On Tue, May 9, 2017, 11:14 Poorvika <notifications@github.com> wrote:

--

Thanks & Regards
Krishnan Mahadevan

"All the desirable things in life are either illegal, expensive, fattening
or in love with someone else!"
My Scribblings @ http://wakened-cognition.blogspot.com/

[2017-05-09 06:13] missedone commented on #1428
similar to issue https://github.com/cbeust/testng-eclipse/issues/316, @ajit1988 , do you still see the same error if use the update site: http://dl.bintray.com/testng-team/testng-eclipse-release/

[2017-05-09 09:00] poorvikamahesh commented on #1429
@krmahadevan
I have implemented a custom HTML logger to display my test results and details of my test run
In my test suite, I have tests which are skipped if a certain condition is not met.

Therefore, when the failed tests during first attempt are marked as skipped, the test result count is incorrect. Skip count increases. Is there a way to ignore these tests when we get the count?

[2017-05-09 09:52] vinayakcc commented on #1419
Hi Juherr,
  Thanks for responding.
Actually the TCs which were ran had sensitive data and hence I can not share the usecase/project/emailable report here, other than the already shared information about the currently seen behaviour.
I regret that.
But if you run a large test suite even with API testcases with 500+ failure TCs then hopefully it should be reproducible.

Best regards.

[2017-05-09 10:29] krmahadevan commented on #1419
@vinayakcc

You should still be able to create a sample that uses dummy data to
simulate the problem. I don't think the data has got anything with the
behavior. Without a reproducible sample it's very difficult for us to debug
a problem. I hope you understand that part.

On Tue, May 9, 2017, 15:22 vinayakcc <notifications@github.com> wrote:

--

Thanks & Regards
Krishnan Mahadevan

"All the desira

[2017-05-09 13:14] dipak-pawar commented on #1426
@juherr @cbeust

I have added tests in #1432  for this issue which should be failed as this is bug in current version of testng.

Could you please look into it? Once you confirmed it. I'll provide fix for it.

[2017-05-10 04:56] krmahadevan commented on #1429
@poorvikamahesh
You would need to look at the `ITestContext` and then prune it for `ITestResult` of tests that were retried. That should take care of your problem.

[2017-05-10 06:32] juherr commented on #1426
I reopen because #1432 is showing the issue.

@dipak-pawar Thanks for the test case and the effort :)

[2017-05-10 09:56] poorvikamahesh commented on #1429
@krmahadevan
Thanks. It worked

[2017-05-10 10:04] krmahadevan commented on #1429
Glad to know that helped! 👍

On Wed, May 10, 2017, 15:26 Poorvika <notifications@github.com> wrote:

--

Thanks & Regards
Krishnan Mahadevan

"All the desirable things in life are either illegal, expensive, fattening
or in love with someone else!"
My Scribblings @ http://wakened-cognition.blogspot.com/

My Technical Scribbings @ http://rationaleemotions.wordpress.com/

[2017-05-10 11:04] dipak-pawar commented on #1426
@juherr Thank you for reopening this issue. I have provided fix in #1432. So tests should be passing now. Please have a look into it.

[2017-05-10 15:37] bfurness commented on #1393
I'm fairly sure this is actually a regression.   Back in the olden days of 6.9.13 throwing an exception in onTestStart would cause the test to fail as if the exception had occurred in the test itself.  As of 6.10 this was changed so that errors in onTestStart were seemingly silently ignored.  I did some digging and I think this is the culprit change
https://github.com/cbeust/testng/commit/50d534a1

[2017-05-10 18:06] #1430 closed

[2017-05-10 19:34] juherr commented on #1426
Fixed by #1432

[2017-05-10 19:35] #1426 closed

[2017-05-11 06:04] dipak-pawar commented on #1426
@juherr Do you have any idea when do we get new release of testng?

[2017-05-11 15:00] shaburov opened #1433 "Missing encoding for emailable-report.html"
Missing tag `<meta charset='utf-8'>`
EmailableReporter

[2017-05-11 15:41] shaburov commented on #1433
Pull request https://github.com/cbeust/testng/pull/1434/

[2017-05-11 21:40] shaburov commented on #1433
Merged

[2017-05-11 21:40] #1433 closed

[2017-05-16 07:10] prasanta-biswas opened #1435 "How can we generate json report from testng?"

[2017-05-16 07:50] juherr commented on #1435
Hi, what kind of json do you want?

The best way is to implements your own `IReporter`: http://testng.org/doc/documentation-main.html#test-results

[2017-05-16 07:50] #1435 closed

[2017-05-16 07:50] juherr commented on #1435
BTW, some 3rd party lib already provide json output: https://github.com/cbeust/testng/wiki/3rd-party-extensions#reporters--loggers

[2017-05-16 16:42] VXM97280 opened #1436 "Test is running in parallel but class are not running in parallel"
### TestNG Version

### Expected behavior

### Actual behavior

### Is the issue reproductible on runner?

- [ ] Shell
- [x] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample

[code]

[2017-05-17 06:43] juherr commented on #1436
http://testng.org/doc/documentation-main.html#parallel-tests

I think the behavior is the expected one according to your configuration.
Feel free to reopen or comment if you think it is still an issue.

[2017-05-17 06:43] #1436 closed

[2017-05-18 10:38] p00j4 commented on #1436
@VXM97280  if you really want to execute classes in parallel, you need to set `parallel="classes"` instead of `parallel="tests"`
however to remember, tests within same class will run sequentially as well described the docs Julien had shared

[2017-05-18 14:41] jatheisenii commented on #1287
Looks like this is said to be in current and not in 6.11 but above it was said to be on plan for 6.11.  Is it in 6.11?  If not, when is a new release going to include it?

[2017-05-19 07:37] juherr commented on #1287
@jatheisenii Not yet planned but you can ask for it on the mailing list :)

[2017-05-21 09:27] dimo414 opened #1438 "Javadocs should link to JDK classes"
In the current Javadocs (e.g. [`ClassMethodMap`](https://jitpack.io/com/github/cbeust/testng/master-6.11-g7bc33ff-100/javadoc/org/testng/ClassMethodMap.html)) the JDK classes such as `String` and `List` aren't linked, and are instead displayed as their full types (`java.lang.String`, `java.util.List`, etc.). This can be fixed by specifying `-link https://docs.oracle.com/javase/8/docs/api/` in the

[2017-05-24 16:43] #1438 closed

[2017-05-24 19:10] juherr opened #1440 "Improve error message when wrong params on configuration methods"
Related to #202 and #128

With

[code]

From: https://stackoverflow.com/q/44134266/4234729

[2017-05-25 13:40] yarafed opened #1441 "Child test behaviour when Parent before method is private"
### TestNG Version
6.11

**First Case** -  The BasicTest throws SkipException in his private before method.
User selects two tests for execution. First is the BasicTest, second is the ChildTest.

**Second case** - The BasicTest does not throw SkipException in his private before method.
User selects two tests for execution. First is the BasicTest, second is the ChildTest.

![run_tests](https://clou

[2017-05-25 23:44] mrunalimohane commented on #739
Using testng 6.11, is this still an issue?

[2017-05-26 06:37] juherr commented on #739
@mrunalimohane It should be fixed since 6.9.5

[2017-05-26 06:52] juherr commented on #1441
It makes sense but TestNG never cares about the visibility (private or package) before.

To avoid regression, it could be an extra param to enable this behavior (and change its default value in a next major version, a day).

@cbeust WDYT?

[2017-05-26 08:51] SrinivasanTarget opened #1442 "[Question] Method Parallel from all classes inside test tag"
### TestNG Version
Is there a way in testng to execute methods from all classes parallely?

### Expected behavior
when i say methods parallel in xml, i expected methods from all the classes present in xml runs parallely at same time not one after the other class.

### Actual behavior
When we mention parallel='methods' does runs methods parallely from a first class mentioned in xml whereas rest of

[2017-05-26 12:39] juherr commented on #1442
Prefer to use StackOverflow or the mailing list for questions.

Could you try to use `preserve-orde="false"` on the suite node?

[2017-05-26 12:57] SrinivasanTarget commented on #1442
Nope it doesn't work either. Since it could be a feature req and i didn't find any resource related to it i raised it here.

TestNG goes sequentially with classes even thought methods are set parallel. I expected it will parallelize the methods for all the classes but it completes parallel execution of methods inside one class and goes to next class.

[2017-05-26 12:57] tracer13 commented on #1002
Experiencing the same issue.
Would be great to know if there is any way to implement the idea in the question above!

[2017-05-26 13:11] krmahadevan commented on #1442
@SrinivasanTarget - I can't recreate your issue. Here's what I have

Both ClassA and ClassB look like below

[code]

Here's my suite xml file (Notice that I have enabled `parallel="methods"` at the `<test>` level.

[code]

Here's the output from command line :
[code]

FWIW, I am running on TestNG 6.11 but that shouldn't matter since this is a very basic use case for TestNG and there are regression

[2017-05-26 14:36] mrunalimohane commented on #739
Seems like it worked all fine untill version 6.10. With 6.11 the issue has come back.

[2017-05-26 14:42] krmahadevan commented on #739
@mrunalimohane - Do you have a sample that can be used to recreate the problem ? That would be easier to start debugging.

[2017-05-29 06:38] SrinivasanTarget commented on #1442
Sorry it was my bad, thought it is not working with data provider.It looks fine.

[2017-05-29 06:38] #1442 closed

[2017-05-30 13:28] krmahadevan commented on #1425
@FibYar - I am not sure I quite understand what the problem here is...

I looked at the sample...

Your **Debug1.java** and **Debug2.java** looks like below

[code]

And your **TestConstructor.java** looks like below

[code]

The execution output looks like below

[code]

[2017-05-30 13:36] FibYar commented on #1425
@krmahadevan I guess I didn't explained the problem clearly.
The execution output looks like below:
[code]
But I want to see this:
[code]

[2017-05-30 16:02] krmahadevan commented on #1425
@FibYar - Your current code that you shared has been written such that it creates two instances of `TestConstructor` java class per test class. Not sure what you are calling out as a problem here with TestNG.

If its the order of the output that you are talking about, then I guess its only a timing issue. Both the test methods are start off in individual threads. The below output re-iterates that

[2017-05-30 16:26] FibYar commented on #1425
@krmahadevan

That is exactly what I'm talking about. I've set up "parallel="**classes**"" in testng.xml and expect that everything that my **classes** contains (data members as well) will run in individual threads. Am I wrong?
I agree that I can just move instantiating TestConstructor inside the test methods but I want to know if it a bug or not.

[2017-05-30 16:30] krmahadevan commented on #1425
@FibYar

I think you are wrong.. atleast AFAIK. `parallel="classes"` only instructs how TestNG to should go about executing `@Test` methods and not instructing TestNG on how to go about instantiating test classes. These two are two different things. The `parallel` attribute is all about controlling the execution mechanism of `@Test` methods ONLY and has got nothing to do with controlling the insta

[2017-05-31 03:46] krmahadevan commented on #1222
@MartinanderssonDotcom - I tried to execute the sample that you shared in [this](https://github.com/cbeust/testng/issues/1222#issuecomment-289232703) comment.
I am not able to reproduce the issue. FWIW I am using TestNG 6.11

Here's the sample and the output

[code]

[code]

Output
[code]

[2017-05-31 03:58] krmahadevan commented on #1441
@juherr - But I would like to understand a typical use case when a user would want to annotate a private method with a TestNG annotation ? When do you think someone would do this.

@yarafed - Can you please help clarify your use case ? If its a private method, then it doesn't make any sense for the method to be annotated with a TestNG annotation [ Yes TestNG is agnostic of the visibility is a diff

[2017-05-31 04:25] krmahadevan commented on #1423
@juherr - This issue is a bit complicated. But what I would like to understand is that, should this be fixed ?
The reporter currently is agnostic of the execution mechanism and reports the time taken under the assumption that tests were executed sequentially.

But if we are to be considering the mode of execution (Parallel and if parallel what sort of parallel execution was carried out), I feel th

[2017-05-31 04:39] krmahadevan commented on #1417
@juherr  - I am not able to reproduce the problem.
Here's the test class
[code]
Here's the suite xml
[code]

Here's the output
[code]

[2017-05-31 04:51] juherr commented on #1417
Your parameter is not inside the class node but inside the classes node. As I remember, the DTD allows it inside class node too.

[2017-05-31 04:56] krmahadevan commented on #1413
@mping - I tried reproducing this with TestNG 6.11 but I am not able to reproduce this issue.

Here's what I have

[code]

Here's the suite xml
[code]

Here's the output
[code]

As you can see, the thread id is only toggling between 11 and 12, indicating that TestNG is indeed honoring the thread pool size of 2.

[2017-05-31 04:57] krmahadevan commented on #1417
@juherr - I missed that part completely !!

[2017-05-31 07:07] juherr commented on #1441
@krmahadevan You mean we should skip private methods?
Visibility could be a way to configure the behavior of tests inheritance, but I've no real use case in mind.

[2017-05-31 07:16] krmahadevan commented on #1441
@juherr

I am not sure if we should be making that decision. Personally I feel that its the test writer's responsibility to annotate methods properly. Not sure if TestNG should make those decisions. Personally I don't see it making any sense for one to add a TestNG annotation on top of a private method. Its counter intuitive when you look at it from just Java's perspective.

That is why I feel tha

[2017-05-31 07:37] juherr commented on #1441
@krmahadevan Yes, it is an option too. In fact, I'm just wondering what behavior is the most natural and if can improve it. BTW, the current behavior must be kept by default for a historical reason.

[2017-05-31 07:40] juherr commented on #1413
@krmahadevan You don't have any data provider in your sample. It could make the difference.

[2017-05-31 07:40] krmahadevan commented on #1441
@juherr - One of the option would be to add an optional configuration to TestNG CLI and also to the DTD with a default value which adheres to the current behavior and which can be flipped ( for e.g., the `parallel` attribute which has its default value set to `false` ). But personally I feel its just a bit of over engineering by TestNG do do this.

[2017-05-31 07:42] juherr commented on #1413
Maybe it is the same issue than #326

[2017-05-31 07:48] krmahadevan commented on #1413
@juherr

I checked. And it doesn't make any difference.

I agree with you. I think this is perhaps more related to #326

[2017-05-31 07:49] juherr commented on #1425
Agree with @krmahadevan
The parallel feature doesn't care about classes instantiation and its behavior is not specified (means it could change between versions).
Configuration methods (`@Before*`) or listeners are here to do the init job at the expected time.

Can we close the issue then?

[2017-05-31 07:55] FibYar commented on #1425
@juherr ok, I understand. I think the issue can be closed.

[2017-05-31 07:55] #1425 closed

[2017-05-31 08:21] juherr commented on #1423
@krmahadevan Maybe it could work if the reporter implements `ISuiteListener` and track the duration itself.

[2017-05-31 08:22] juherr commented on #1441
@krmahadevan I understand your point of view :)

[2017-06-05 06:09] fionazj opened #1444 "Retry mechanism will not work when the beforemethod/aftermethod got exception,"
### TestNG Version

TestNG 6.11
### Expected behavior
Retry mechanism is still working.

### Actual behavior
Retry is not working.

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample

RetryAnnotationListener
[code]
MyRetryAnalyzer
[code]

BeforeMethod
[code]

Test
[code]

}

[2017-06-05 09:19] krmahadevan commented on #1440
@juherr - As an effort to get back to normalcy, I am working on this one :)

[2017-06-05 09:24] krmahadevan commented on #1444
@fionazj - I don't think this is an issue. The retry analyzer to the best of my knowledge is applicable only to `@Test` methods and not to configuration methods. So a failure on a configuration method will cause a test method to be **skipped**. Since a test method is skipped the retry analyzer won't be applicable.

[2017-06-05 09:46] juherr commented on #1440
Great :+1:

[2017-06-05 10:33] apetkova commented on #1206
I can confirm I can still reproduce the issue with TestNG 6.11

[2017-06-05 11:03] fionazj commented on #1444
Hi @krmahadevan  , thanks for your explanation,  but i set the parameter "alwaysRun = true", so just think the retry will work.. And as far as you know, is there any solution for this? Cause in our project, test process it is controlled by @before/after/test in different classes, and some operations are did in @before/after method... so our expected behavior should be if the @before/after method i

[2017-06-05 13:09] krmahadevan commented on #1444
@fionazj - The attribute `alwaysRun=true` when set causes TestNG to **always** run the configuration method irrespective of what group was chosen to be executed.

Quoting the javadocs from [here](https://jitpack.io/com/github/cbeust/testng/master-6.11-gc0bb558-111/javadoc/org/testng/annotations/BeforeMethod.html#alwaysRun--)

For after methods (afterSuite, afterClass, ...): If set to true, this co

[2017-06-05 14:58] krmahadevan commented on #1415
@juherr @cbeust - What do you think on this one ? Should configuration methods have retry capabilities as well ?

[2017-06-06 03:11] fionazj commented on #1444
@krmahadevan  thanks for your reply, I will close the ticket.

[2017-06-06 03:11] #1444 closed

[2017-06-06 03:20] cbeust commented on #1415
I'm concerned this is a very rare case and that adding this functionality to TestNG would significantly increase its complexity.

If you ever need to write a configuration method that needs some retry mechanism, I think you should just implement it yourself in that method.

[2017-06-06 03:20] #1415 closed

[2017-06-06 04:30] gdemecki opened #1446 "Groups specified at the class level are overridden since version 6.11"
### TestNG Version

6.11

### Expected behavior

I've noticed that in case:

[code]

the method only belongs to the group called `another-group`. This breaks backward compatibility.
Was this an intentional change?

### Actual behavior

AFAIK in every TestNG version so far, groups specified at the class level are preserved when using     `@Test(groups = "some-additional-group")` at the method level

[2017-06-06 04:42] krmahadevan commented on #1446
@gdemecki - Can you please help call out which version of TestNG this was working fine ? Maybe it was a discrepancy that got fixed.

I think the current behavior is what is supposed to be the correct one because method level `@Test` annotations should override class level `@Test` annotation values instead of trying to make a union of values. Currently for e.g., the `enabled=false` attribute when s

[2017-06-06 06:26] kopax commented on #938
Hey guys, did you resolve this ? I am hitting the same error in a totally different project and I can't find what to do.

[2017-06-06 07:44] juherr commented on #1206
@apetkova Ok, thanks. We will try to have a look on it.

[2017-06-06 07:46] krmahadevan commented on #1416
@toutoudnf - Here's one way of executing listeners at will

First you can build a listener like below

[code]

You then wire the above listener using a service loader as explained [here](http://testng.org/doc/documentation-main.html#listeners-service-loader).

Add all those listener names that are supposed to be part of your project into the `src/test/resources/listeners.txt` file.

Now you can in

[2017-06-06 07:56] toutoudnf commented on #1416
@krmahadevan yes, service loader do the same thing like set listeners in testng.xml file. Thanks a lot :)

[2017-06-07 07:47] juherr commented on #202
Closed because we are not able to reproduce it.
Check comments from #1445 by @krmahadevan

[2017-06-07 07:47] #202 closed

[2017-06-07 09:40] gdemecki commented on #1446
Hi @krmahadevan, @juherr

TestNG version 6.9.10 and every version below.

That's your opinion. Sorry, but my is exactly the opposite. TestNG didn't work this way before. Also JUnit old, known behaviour is exactly the opposite (sorry for this comparison).

That's a bad example, because `enabled` attribute can only have two **mutually exclusive values**: true/ false. So it's natural, that the last v

[2017-06-07 11:51] juherr commented on #1446
Both behaviors are valid to me but I feel the overriding one is better because it is easier to understand/explain/implement.

They will have more work if they don't want it ;)

But in both cases, we should be able to work around with an IAnnotationTransformer.

BTW, if the regression is confirmed, I agree we should not change the behavior before a major version.

@krmahadevan Could you confirm the

[2017-06-07 13:01] krmahadevan commented on #1446
@gdemecki

Are you sure this was broken ? I tried using the following and I am not able to reproduce this error.

Both

- AnotherSampleClass.java and
- SampleClass.java

reside in the package `com.rationaleemotions.github.issue1446`

[code]

[code]

Suite xml is as below
[code]

**TestNG 6.11 output**

[code]

**TestNG 6.10 output**

[code]

**TestNG 6.9.13.6 output**

[code]

[2017-06-07 17:20] #1440 closed

[2017-06-08 07:06] krmahadevan commented on #1417
@juherr - I am working on fixing this and will be raising a PR shortly.

[2017-06-09 04:26] AJ-72 commented on #1402
@krmahadevan while this would work, it would be better to have this in the emailable html report itself. Probably a different section for retried tests and an updated summary table that shows the pass and fail count based on final results.

[2017-06-09 04:28] krmahadevan commented on #1402
@AJ-72 - Sure. Would you be willing to help submit a pull request for this change ? We should be able to help vet it out and get it merged for you.

[2017-06-09 04:30] AJ-72 commented on #1402
@krmahadevan Yeah am checking that emailable report. Is it emailablereport2 that I should check?

[2017-06-09 04:33] krmahadevan commented on #1402
@AJ-72 - Currently its based on a condition. See [here](https://github.com/cbeust/testng/blob/master/src/main/java/org/testng/TestNG.java#L946-L960)
So you may have to check both.

[2017-06-09 09:33] flynet opened #1448 "invocation-number"
Goal: We need to restart failed tests after some time by running testng-failed.xml.
Example:
We have one test method with data provider, it has 5 test cases.
When one of cases has failed, testng-failed.xml has invocation-numbers="4" for example, we do run failed.xml config few times.
 At third run, failed config generated invocation-number set 0, but we count on keeping track of failed case in dat

[2017-06-09 09:36] krmahadevan commented on #1448
Please help share a sample that can be used to reproduce this issue.

Also please help add some more details in terms of the steps that you are
doing to trigger this issue.

On Fri, Jun 9, 2017, 15:03 Alex <notifications@github.com> wrote:

--

Thanks & Regards
Krishnan Mahadevan

"All the desirable things in life are either illegal, expensive, fattening
or in love with someone else!"
My Scribblin

[2017-06-09 16:46] #1417 closed

[2017-06-11 17:56] prasanta-biswas opened #1449 "Ability to pass different number of parameters to the same test case using data provider"
For details please visit the stackoverflow link [here](https://stackoverflow.com/questions/44480509/is-it-possible-to-pass-dynamic-number-of-parameters-to-same-testng-test-with-sam).

[2017-06-12 06:24] krmahadevan commented on #1449
@prasanta-biswas - Re-iterating your question. You would like TestNG to start being agnostic with the parameters length when dealing with data driven test methods i.e., TestNG should ignore the number of parameters that are to be expected by a data driven test method, and forcibly try to bind the `@Test` method with its `dataprovider`.

Please refer to the answers to your question.

IMHO, this is

[2017-06-12 06:53] juherr commented on #1449
I'm not sure to understand the need but as suggested on SO, you can wrap the parameter logic into interfaces/objects.

[2017-06-12 07:52] bartoszmajsak commented on #1426
@juherr @cbeust Just wondering what are the plans for the next release, as without this fix we are not able to run TestNG tests (newer than 6.8.21) in Arquillian.

[2017-06-12 07:59] juherr commented on #1426
@bartoszmajsak There is no existing plan and the changelog looks big enough. I think @cbeust can make a release asap.

[2017-06-12 08:39] krmahadevan commented on #1418
@juherr

I think this issue should be taken care after the fix for #1417 has been applied to master.

I ran the following against the code in `master` branch.

Test class

[code]

TestNG suite xml

[code]

Here's the error I see

[code]

[2017-06-12 09:11] juherr commented on #1418
@krmahadevan Ok, great!

[2017-06-12 09:11] #1418 closed

[2017-06-12 09:39] prasanta-biswas commented on #1449
I thought this could be a great feature in terms of reusability.

[2017-06-12 09:42] flynet commented on #1448
Unfortunately, I can't reproduce this behavior with simple example.
I run some suite in parallel and got xml like this

~~
          <include name="testBeforeSuiteInit"/>
          <include name="shutDownSuite"/>
          <include name="testQuit"/>
          <include name="testQuit"/>
          <include name="testQuit"/>
          <include name="testQuit"/>
          <include name="testFinish"/>

[2017-06-12 09:44] krmahadevan commented on #1449
@prasanta-biswas - Yes I hear you and understand the intent. Its just that, this is already possible currently in TestNG without the TestNG codebase going through any changes, if you follow one of the options that were called out in StackOverFlow as answers to your question. I hope that answers your question and you can close this issue.

[2017-06-12 09:51] prasanta-biswas commented on #1449
yes as a workaround your answer there solves it.

[2017-06-12 12:17] juherr commented on #1448
Ok thanks! Could you describe a bit your complicated suite? And do you reproduce the issue without any parallelization?

[2017-06-12 12:26] juherr commented on #1449
What values should TestNG put when the data provider doesn't provide them? And why don't your data provider providing all parameters of the method?

[code]

[2017-06-12 13:55] flynet commented on #1448
Thanks juherr for you attention, yes this behavior persists without parallelization enabled. Manually removed from testng-failed.xml parallel option, I got the same result.
My suite has few test methods, so we run them with different test parameters and "dynamic" data provider. We have some logic added to DataProvider like switch, it provides different data depending from test parameters.

Like
sw

[2017-06-12 14:53] juherr commented on #1448
Ok, the hardest part will be to reproduce the issue.

Are you able to reduce the size of the project (fewer tests in the suite) and test again?
Are you able to remove the business logic from tests (only keep the structure) and test again?

[2017-06-12 17:13] BrandonDude commented on #326
Yes, this is still an issue in **6.11** when using _parallel="instances"_, _group-by-instances="true"_, and _@Test( dependsOnMethods = { "" } )_

[2017-06-12 18:02] BrandonDude commented on #799
Still an issue in **v6.11**.

[2017-06-13 06:03] krmahadevan commented on #1449
@juherr - We can close this issue I guess.

[2017-06-13 09:07] zutuanwang opened #1450 "How to call IAnnotationTransformer in comand line after version6.10(or6.11)"
### TestNG Version

### Expected behavior
call IAnnotationTransformer in comand line

### Actual behavior
[code]

[2017-06-13 09:50] juherr commented on #1449
@prasanta-biswas Your use case looks too specific to be integrated into TestNG and you have workarounds to do it, then I close the issue.
But thanks for the idea and feel free to propose things if you think it could be interesting for others :)

[2017-06-13 09:50] #1449 closed

[2017-06-13 12:07] juherr commented on #1450
When you say CLI, you mean "by code", rigth?

And I don't understand your issue because `setAnnotationTransformer` is just deprecated, not removed.

According to the javadoc:

https://jitpack.io/com/github/cbeust/testng/master/javadoc/org/testng/TestNG.html#setAnnotationTransformer-org.testng.IAnnotationTransformer-

[2017-06-13 14:02] krmahadevan commented on #799
@BrandonDude - I tried the following using 6.11 and it works fine. Can you please help share a sample that is not working for you ?

[code]

Output

[code]

[2017-06-13 16:41] juherr commented on #799
@krmahadevan Could you try with a randomized tostring? And maybe test with a randomized itest too?

[2017-06-13 17:35] krmahadevan commented on #799
@juherr - What are you referring to when you say "randomized toString()" ? Can you please help elaborate so that I can try accordingly.

[2017-06-13 18:19] juherr commented on #799
@krmahadevan Sure! In fact, the order may be the expected one because of `toString` order.

what if:

[code]

and same with `ITest` :

[code]

[2017-06-13 18:22] krmahadevan commented on #799
That would obviously change the order randomly no ? Since toString() is
returning a random string every time. Just curious: what are we trying to
ascertain ?

On Tue, Jun 13, 2017, 23:49 Julien Herr <notifications@github.com> wrote:

--

Thanks & Regards
Krishnan Mahadevan

"All the desirable things in life are either illegal, expensive, fattening
or in love with someone else!"
My Scribblings @ ht

[2017-06-13 18:41] juherr commented on #799
The order is not supposed to be dependent to the test name.

[2017-06-13 21:09] madhukarashok commented on #549
Has this issue been resolved . i just tried with testng 6.9.14 and it didn't work for aftermethod groups .

[2017-06-14 06:00] krmahadevan commented on #799
@juherr - I am still a bit confused with your expectation.

I noticed the following as implementation of `org.testng.internal.Graph.Node#compareTo`

[code]

Looking at the code, I think only `toString()` is involved here.
It looks like we are dependent on the `toString()` implementation of the object that's embedded within the `Node` object. So I don't think `test name` is involved here.

I was th

[2017-06-14 06:06] krmahadevan commented on #549
@madhukarashok - Can you please help clarify what did you try ? This is not resolved because there's some ambiguity in the expectation. Please feel free to include relevant java and xml samples.

[2017-06-14 11:06] juherr commented on #799
@krmahadevan Yes, it is the cause of the issue. And I think it should be removed because I don't see the reason of it: order is managed by ordering features, and name is definitely not one of them :)

But I may miss something too ;)

[2017-06-14 14:00] krmahadevan commented on #799
@juherr - So shall i go ahead and raise a PR which includes a check to see if `Comparable` can be used for this as a fix ?

[2017-06-14 15:48] juherr commented on #799
@krmahadevan First, try to remove the comparable first, if possible.

IMO, it should be managed outside, like an ordering feature (which should already exist with `group-by-instance`).

At least, you can replace `toString` comparable by something more logical (maybe with something like `Node<T extends Comparable<?>>`)

[2017-06-15 02:35] liuhaozzu commented on #795
hello, Juherr,
Have this bug fixed?
//Hao Liu.

[2017-06-15 07:21] juherr commented on #795
@liuhaozzu The issue is not closed, so I suppose it is not yet fixed. But I know @krmahadevan fixed some listener issues too. Did you try on your side?

[2017-06-15 10:20] liuhaozzu commented on #795
@juherr I have tried TestNG 6.10.
When I implement the `IConfigurationListener2, IInvokedMethodListener, ITestListener`.
I find that
onStart, onTestStart, onTestSuccess, onFinish will be invoked twice.
please refer to the git hub rep for more details.
https://github.com/liuhaozzu/testng-bugreproduce-invoke-twice
//Hao Liu

[2017-06-15 10:40] krmahadevan commented on #795
The output is a bit confusing. Can you please do the below alterations ?

   - Add a constructor to your listener wherein you are printing some msg
   within the constructor.
   - For all the listener implementations in your listener, add a call to
   *this.toString()* so that we can see the hashCode. The expectation is
   that you should only be seeing one hashCode value.

If you could please upd

[2017-06-15 11:24] flynet commented on #1448
I was trying to reduce amount of business logic and add some complexity to simple case, no luck for now. Our project too big, I'll try to get rid of functionality step by step and let u know then.

[2017-06-15 11:27] juherr commented on #1448
Ok, thanks for the effort ! :+1:
Tell us if you find something.

[2017-06-15 11:52] zutuanwang opened #1451 "testng ignore cases packed in jar when execute via groups?"
### TestNG Version

### Expected behavior
I pack some cases in jar, and put them in classpath of another project, and then try to execute via group, and found no cases has executed. Are they ignore?

### Actual behavior

### Is the issue reproductible on runner?

- [ ] Shell
- [ ] Maven
- [ ] Gradle
- [ ] Ant
- [x] Eclipse
- [ ] IntelliJ
- [ ] NetBeans

### Test case sample
(they are in jar)

[cod

[2017-06-15 15:07] madhukarashok commented on #549
i think i overlooked a condition which caused that confusion and im might be able to rectify that.
but i wanted to check why does multiple @aftermethod shows as skipped in the summary but in actual all the methods were executed succesfully.
![aftermethod]
(https://user-images.githubusercontent.com/3843299/27188001-c8627ed4-51ba-11e7-9c5b-e47f5c173cd9.png)

[2017-06-16 03:59] krmahadevan commented on #549
@madhukarashok - Am guessing that screenshot is from eclipse. But you still haven't shared an example that can be used to reproduce the problem. Can you please do that ?

[2017-06-16 04:02] krmahadevan commented on #1451
@zutuanwang - How are you creating your jar ? Is it using a build tool such as Maven or gradle ? How does your project structure look like ?
Since these information would help us figure out what is going wrong, can you please help do the following ?

Create a sample project on GitHub which we can clone and build into a jar to reproduce the problem. That way its pretty easy to figure out what is go

[2017-06-16 05:42] #1011 closed

[2017-06-16 06:56] zutuanwang commented on #1451
Thanks for feedback.

The demo project address is:
https://github.com/zutuanwang/TestProject2.git
or
git@github.com:zutuanwang/TestProject2.git
As below, testcases were packed in runCases.jar.
![image](https://user-images.githubusercontent.com/13378780/27215423-b9a1d392-52a3-11e7-8c34-3b4ee82244ee.png)

and in MoreGroupsExecutor try to run them via groups(all, function), but none case executed.
be

[2017-06-16 09:16] liuhaozzu commented on #795
@krmahadevan it seems that this bug has been fixed in TestNG 6.11.
And I havd one more question. I found that in the MANIFEST.MF it says that the TestNG 6.11 was "Created-By: 1.8.0_73 (Oracle Corporation 25.73-b02)".
However, when I check its class version, I found it's "cafe babe 0000 0033".
And 33 means that it's compiled by JDK1.7 which is conflicted to the meta info.
what do you think about it

[2017-06-16 09:55] krmahadevan commented on #795
I think Created-By: 1.8.0_73 (Oracle Corporation 25.73-b02) basically
indicates that actual java version using which the jar was built.

But since TestNG is still built with its compatibility version being JDK7.
See here
<https://github.com/cbeust/testng/blob/master/kobalt/src/Build.kt#L75-L77>
and here <https://github.com/cbeust/testng/blob/master/build.gradle#L49-L50>

Thanks & Regards
Krishnan

[2017-06-16 12:56] #795 closed

[2017-06-18 12:49] bartoszmajsak commented on #1426
That would be awesome @juherr. @cbeust do you plan to make a release anytime soon?

[2017-06-19 14:37] madhukarashok commented on #549
hi here is the code snippet
package com.testCases;

import org.testng.annotations.AfterGroups;
import org.testng.annotations.AfterMethod;
import org.testng.annotations.AfterTest;
import org.testng.annotations.BeforeClass;
import org.testng.annotations.BeforeGroups;
import org.testng.annotations.BeforeMethod;
import org.testng.annotations.Factory;
import org.testng.annotations.Test;

public class s

[2017-06-19 16:39] juherr opened #1452 "New TestNG release"
The changelog looks big enough and some users, like in #1426, are waiting for the next release.

@cbeust Could you make a release?

[2017-06-19 18:00] Prasant-Sutaria commented on #1241
@cbeust Any work around, for managing retry count per test case instead of suite level.

[2017-06-19 19:44] charpov commented on #715
Doesn't seem to be working right now.  The javadoc link on the main testng.org page is broken.

[2017-06-20 11:53] juherr commented on #715
Already fixed by https://github.com/testng-team/testng-team.github.io/pull/21 but @cbeust has to deploy the modification.

[2017-06-20 13:12] cbeust commented on #715
@juherr That PR is merged, doesn't it automatically get deployed?

[2017-06-20 13:35] madhukarashok commented on #549
hi i tried dependOnGroups & dependOnMethods annotations like shown below and was unsuccesfull

import org.testng.annotations.AfterTest;
import org.testng.annotations.BeforeClass;
import org.testng.annotations.BeforeGroups;
import org.testng.annotations.BeforeMethod;
import org.testng.annotations.Factory;
import org.testng.annotations.Test;

import com.ecommerce.store.dataaccess.EcommerceTestCases;

[2017-06-20 15:54] juherr commented on #715
@cbeust Not yet because testng.org DNS entries don't point GitHub pages.

[2017-06-20 17:20] cbeust commented on #715
Ah yes, and they won't. I don't want to depend on external web sites for this.

[2017-06-20 17:26] juherr commented on #715
It's just another kind of hosted services. But I respect your choice. :)

[2017-06-20 19:15] sachsgit opened #1455 "Feature Request: Configure XML output of XmlSuite"
### TestNG Version
6.11

### Expected behavior
We would like to be able to configure the XML that XmlSuite generates.
For example, we would like to disable to "end" comments of a test case or test suite, for within XML, you cannot nest comments. We would also like to be able to "pretty up" the XML, spacing between entries, and

Reference: [How to customize TestNG file creation programmatically to

[2017-06-21 08:09] juherr commented on #1455
The fix could be to extract the xml generation logic outside the class and allow the user own logic.

[2017-06-23 13:15] juherr opened #1456 "Remove/Warn support of constructor with String param"
The behavior from https://github.com/cbeust/testng/blob/6a026bc9e3545b6b5da3a3d7977fc44ff1fcc6d6/src/main/java/org/testng/internal/ClassHelper.java#L410-L419 is a bit strange (what is the usecase?) and undocumented.
IMO, it is more natural to remove it in the next major version.
So, first, we may warn users which are using this feature.

From: https://youtrack.jetbrains.com/issue/IDEA-174878

[2017-06-23 13:54] cbeust commented on #1456
Mmmh... The risks of removing this constructor far outweigh the benefit gained from removing this code, in my opinion.

[2017-06-23 14:08] juherr commented on #1456
In a minor version, for sure.
In a major I suppose we can.

But the first idea is to add a warn and complains from users (as they already do) will allow us to determine the real risk.

[2017-06-24 07:43] juherr commented on #84
Fixed by #322

[2017-06-24 07:43] #84 closed

[2017-06-25 19:15] juherr commented on #1452
Ping @cbeust

[2017-06-25 19:24] juherr commented on #223
Fixed by  #228